@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
    /* video block*/
        .video-block{
            .part-for-videoblur{
                #videobcg-blur{

                    min-width: 1263px;
                    min-height:717px;
                }
            }

        }
    /* /video block*/
}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
    /* video block*/
        .video-block{
            .part-for-videoblur{
                #videobcg-blur{

                    min-width: 1369px;
                    min-height:777px;
                }
            }

        }
    /* /video block*/

}
@media screen and (max-width: 767px){

    /* footer */

        .footer{

            .footer-top{justify-content: space-around;}

            .left-side-menu{width:255px;
                .link-wrapper{
                    .images-wrapper{margin-right:10px;}
                }
            }

            .middle-part-menu{text-align:right;width:calc(100% - 255px);}

            .right-side-menu{width:100%;display:flex;justify-content: space-around;align-items: center;padding-top: 20px;
                .some-links{margin-bottom: 0;}
            }

        }

    /* footer */
    /* video block*/
        .video-block{background: url('../images/video-block-bg.jpg') no-repeat; position: relative;background-size: cover;
            &:after{display:none;}

            .part-for-videoblur{display:none;
                #videobcg-blur{


                }
            }
            #videobcg{display: none;}

            .blur-part{  position: relative;padding-top: 30px;padding-bottom: 60px;
                &:after{top: 0;}
                .mbox{
                    .backgroud-image-blur-wrapper{display:block; position: absolute; overflow: hidden;max-height: 100%; min-height:100%; max-width: 100% ;min-width: 100%; left: 0; bottom: 0;
                        .mobile-video-fon-img{max-width: none;min-width: 100%;min-height: 100%;position: absolute;filter:blur(10px);left:50%;bottom:-300px;transform:translate(-50%, 0);}
                        /*
                        .backgroud-image-blur{content: ''; display: block; position: absolute; -webkit-filter: blur(10px);-moz-filter: blur(10px); -o-filter: blur(10px); -ms-filter: blur(10px);filter: blur(10px); overflow: hidden;  max-width: calc(100% + 20px) ;min-width: calc(100% + 20px); max-height: 698px; min-height:698px ;bottom: -20px; left: 0; overflow: hidden; z-index: -2; background-position: left bottom; background-size: cover;}
                        */
                    }
                    .button-wrapper{display: flex;justify-content: space-around;flex-wrap:wrap;
                        button{margin-bottom: 10px;}
                        .gray-button, .yellow-button{margin-left:5px;margin-right:5px;}
                    }
                }
            }
        }
    /* /video block*/


}
@media screen and (max-width: 666px){

    /* footer */

        .footer{

            .middle-part-menu{
                .social-conteiner{display: flex;justify-content: flex-end;align-items: flex-start;
                    img{max-width: 40px;}
                }
            }

        }

    /* footer */

    /* video-block */

        .video-block{
            .blur-part{padding-bottom: 50px;
                .mbox{
                    .button-wrapper{
                        .yellow-button, .gray-button{margin-bottom:10px;}
                    }
                }
            }
        }

    /* /video-block */

}
@media screen and (max-width: 479px){

    /* footer */

        .footer{

            .left-side-menu, .middle-part-menu{width:100%;text-align:center;}

            .middle-part-menu{
                .heading{margin:0 0 10px 0;}
                .social-conteiner{justify-content: center;}
            }

            .right-side-menu{flex-wrap:wrap;
                .some-links{padding:0 5px;margin-bottom:10px;}
            }

            .footer-bottom{padding-top:20px;}

        }

    /* footer */

    /*video-blog*/
        .video-block{
            .heading-wrapper{
                .mbox{
                    h2{font-size: 40px;
                    }
                }

            }
            .blur-part{  position: relative;
                &:after{top: 0;}
                .mbox{
                    .text-conteiner{ width: 100%;}
                    .more-link{width: 100%; padding: 0px 10px 30px 0;
                        a{margin: 0 0 0 auto;}

                    }
                }
            }
        }
     /*/video-blog*/

}
@media screen and (max-width: 320px){

}