/* login */
    .login-page{
        &.parallax-page.first-type{
            &.main{padding-top: 750px;}
            .parallax-block{
                .parallax-blur{transform:translate(0, 700px);
                    .parallax-image-top{
                        img{transform:translate(-50%, -680px);}
                    }
                }
            }
        }
        .login{position: relative;
            .conteiner{
                .mbox-s{ max-width: 500px; padding: 0 15px; margin: 0 auto; }
                .tabber{ padding-top: 0px; padding-bottom: 110px;
                    .tab-row{ width: 100%; display: flex; align-items: center; justify-content: space-around;margin-bottom: 35px;
                        .tab{ padding-bottom: 30px; position: relative; color: rgba(255,255,255,.5); font-size: 30px; font-family: "ProximaNovaScOsf"; cursor: pointer; font-weight: 400;letter-spacing: 1.5px;text-transform: uppercase;
                            &:before{content: ''; position: absolute; bottom: 0; left: 50%; right: 50%; height: 3px; background-color: #9d9d9d; transition: all 0.3s; }
                            &:hover{
                                &:before{ left: 0; right: 0;}
                            }
                            &.active{ color: white;
                                &:before{ background-color: white; left: 0; right: 0;}
                            }
                        }

                    }
                    .tab-content{ min-height: 395px;
                        .con{ display: none;
                            &.active{display: block;}
                            form, .get-in-t{
                                .contact-form-title{
                                    p{ margin: 0; font-size: 15px; font-weight: 200; font-family: "ProximaNovaScOsf"; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 1.35;  text-align: center; }
                                    h5{ margin: 0;  font-weight: 300; font-size: 27px; font-family: "ProximaNovaScOsf";   color: rgb(255, 255, 255); line-height: 1.2; text-align: center; padding-top: 0; padding-bottom: 24px; text-transform: uppercase;}
                                }
                                .form_input{ position: relative; width: 100%;padding-bottom: 15px;
                                    input{width: 100%; background-color: transparent; border: none; border-bottom: 1px solid white; text-align: center; height: 31px; font-size: 16px; font-family: "Roboto";color: white; line-height: 1; text-align: center;
                                        &::-webkit-input-placeholder {color: rgba(174, 174, 174, 0);}
                                        &:-moz-placeholder {color: rgba(174, 174, 174, 0);opacity:1;}
                                        &::-moz-placeholder {color: rgba(174, 174, 174, 0);opacity:1;}
                                        &:-ms-input-placeholder {color: rgba(174, 174, 174, 0);}
                                        &.error{border-color: red;}
                                    }
                                    .errorText{display: none !important; }
                                }
                                .some-text{font-size: 15px; font-weight: 200; font-family: "ProximaNovaScOsf"; color: rgba(255, 255, 255, 1); text-transform: uppercase; line-height: 1.2;  text-align: center; padding-top: 20px;max-width: 340px;margin:0 auto;}
                                .contact-form-row-submit{ padding-top: 58px;
                                    .contact-submit{ height: 52px; background-color: #f6d241; max-width: 305px; width: 100%; border: none; outline: none; margin: 0 auto; border-radius: 26px; display: block;text-decoration: none;text-align: center;text-transform: uppercase;transition:all 300ms ease;
                                        &:hover{background-color: #ffe373;}
                                        span{ font-size: 24px; font-family: "ProximaNovaScOsf"; color: rgb(0, 0, 0);   line-height: 52px;}
                                    }
                                }
                                &.login-form{
                                    .form_input{
                                        input{
                                           &::-webkit-input-placeholder {color: rgba(174, 174, 174, 1);}
                                            &:-moz-placeholder {color: rgba(174, 174, 174, 1);opacity:1;}
                                            &::-moz-placeholder {color: rgba(174, 174, 174, 1);opacity:1;}
                                            &:-ms-input-placeholder {color: rgba(174, 174, 174, 1);}
                                        }
                                    }
                                }
                            }
                            .get-in-t{
                                .contact-form-title{padding-bottom: 30px;border-bottom:1px solid #fff;}
                            }
                        }
                    }
                }
            }
        }
    }

/* login */

/* vacancy */

    // .vacancy-page{
    //     &.second-type .parallax-block .parallax-blur .parallax-image-top img, .parallax-page.second-type .parallax-block .parallax-blur .parallax-image-bottom img{transform: translate(0px, 0px);filter: none;}
    // }

    #svg-image-blur{display: none;}

    .vacancy-wrap{ position: relative; // background-attachment: fixed; min-height: 500px; -webkit-filter: blur(2px); filter: url(#blur-effect-1);
        .conter-s{position: relative;}
        .smash{position: absolute; width: 1920px; top: 0; bottom: 0; left: 0; background-repeat: no-repeat;z-index: -1; background-size: cover; background-position: center center ; background-attachment: fixed;
            &.blur-smash{/*-webkit-filter: blur(10px); filter: url(#blur-effect-1);*/}
        }
        .left-navi{ z-index: 2; overflow: hidden; position: fixed; left: 0; bottom: 0; top: 60px; border-right: 1px solid rgba(255,255,255,0.3); width: calc( (100% - 1366px)/2 + 415px); transition: all 0.3s;
            .contr{ margin-left: calc(100% - 340px); padding-top: 79px;width: 250px;
                .top-part{ font-size: 36px;  font-family: "ProximaNovaScOsf"; color: #000; line-height: 1.2;min-height: 85px;
                    span{ font-weight: 600; display: block;}
                    b{  font-weight: 600; display: block; }
                }
                .bot-navi{
                    ul{list-style: none; padding: 0; margin: 0; background-color: rgba(0, 0, 0, 0.2); max-width: 320px;margin-left: 0px;
                        li{ color: #000; padding: 14px 5px 17px 18px;text-transform: uppercase; transition: all 0.3s; cursor: pointer; font-size: 18px;font-weight: 600;border-radius: 0;
                            &:hover{background-color: rgba(255, 255, 255, .5);}
                            &.curr{background-color: rgba(255, 255, 255, .5); }
                        }
                    }
                }

            }

        }
        .right-conetein{ position: relative; z-index: 1;overflow: hidden;
            .converter{margin-left: calc( (100% - 1366px)/2 + 415px);
                .radi{max-width: 720px;
                    .boxer{ max-width: 535px; margin: 0 auto; padding: 110px 0 400px;}
                }
            }
            .topper{ border-bottom: 1px solid white;
                .ext{ display: flex; align-items: center; justify-content: flex-start; padding-bottom: 22px;
                    img{ width: 22px; margin-right:25px; }
                    span{ font-size: 18px; font-family: "Roboto"; color: rgb(255, 255, 255); font-weight: 300;}
                }
            }
            .boxer{
                &>ul{ list-style: none; padding: 0; margin: 0;
                    &>li{ padding-top: 75px;
                        .t-page{padding-bottom: 40px; font-size: 18px; font-family: "Roboto"; color: rgb(255, 255, 255); line-height: 1.2; font-weight: 500;}
                        .after-block{
                            p{ margin: 0; font-size: 18px; font-family: "Roboto"; color: rgb(255, 255, 255); line-height: 1.2; font-weight: 300;}
                            ul{ list-style: none;padding: 0; margin: 0;
                                li{padding-left: 25px; position: relative; font-size: 18px; font-family: "Roboto";   color: rgb(255, 255, 255); line-height: 1.2; font-weight: 300; padding-bottom: 15px;
                                    &:before{content: ''; position: absolute; top: 4px; left: 0; width: 15px; height: 15px; border-top: 1px solid #62ec5e; border-left: 1px solid #62ec5e; transform: rotate(135deg); }
                                }
                            }
                        }
                    }
                }
            }

            .row-for-all{ display: flex; align-items: center; justify-content: space-between; padding-top: 80px;
                .button-part{ width: 50%;
                    a{display: flex; align-items: center; justify-content: center; text-decoration: none; max-width: 200px; width: 100%; margin: 0 auto; font-size: 16px;  font-family: "ProximaNovaScOsf"; color: rgb(0, 0, 0); background-color: #ecd050; height: 37px; transition: all 0.3s;
                        &:hover{background-color: #d4b217; }
                    }
                }
                .soc-part{width: 50%;
                    .social-conteiner{display: flex; align-items: center; justify-content: flex-end;
                        a{display: block; width: 37px; height: 37px; }
                    }
                }
            }

        }
    }

/* vacancy */

/* legal-wrap */

    .legal-wrap{
        .smash{opacity: 0.8;top:0!important;
            .blur-smash{opacity: 1;}
        }
        .right-conetein .converter .radi .boxer{padding-top: 0; padding-bottom: 500px;
             &>ul > li{
                 .t-page {text-transform: uppercase; font-weight: 600; font-size: 24px; font-family: "ProximaNovaScOsf";  color: rgb(255, 255, 255);}
                 .after-block{
                     b{display: block; font-weight: 700; font-family: 'Roboto'; color: white; font-size: 16px; padding-top: 25px;
                        &:first-child{padding-top: 0;}
                     }
                     p{font-size: 16px; font-weight: 300; }
                     a{color: white; text-decoration: underline;}
                 }
             }
        }
        .left-navi .contr{
            .top-part {max-width: 320px; text-transform: uppercase;}
            .bot-navi ul{background-color: transparent; padding-top: 29px;
                li{
                    &:hover{background-color: rgba(255,255,255,0.5); }
                }
            }
        }
    }

/* legal-wrap */
