/* column-list */

    .column-list-wrap{padding-top:115px;position: fixed;top:0;

        .column-title{min-height:125px;border-bottom:1px solid #fff;
            h1,h2,h3{margin:0;font-size:50px;color:#fff;font-weight:600;}
        }

        .column-list{padding-top: 35px;

            .column-list-title{font-weight:300;color:#fff;font-size: 24px;margin-bottom: 25px;padding-left: 10%;}

            .column-list-main{
                ul{list-style:none;padding:0;margin:0;
                    li{margin-bottom: 10px;
                        &:last-child{margin-bottom: 0;}
                        a{position:relative;display:block;padding-left: 25px;font-size: 24px; font-weight: 100;color:#d6d6d6;text-decoration: none; line-height: 45px; text-shadow: 0 0 0 #fff;transition:all 300ms ease;
                            &.active{color:#fff;
                                &:before{background-color: rgba(0,0,0, .25);}
                                span{display: block;}
                            }
                            &:before{content:"";display: block;width: calc(100% + 10px);position: absolute;height: 100%;left:0;top:0;z-index: -1;}
                            &:hover:not(.active){color:#969696;text-shadow:0 0 2px rgba(255, 255, 255, .75);}
                            span{display: none;position:absolute;top:0;left:0;height:100%;width:4px;}
                        }
                    }
                }
            }

        }

    }

    .news-list-page, .events-list-page, .careers-list-page{
        .column-list-wrap{
            .column-list{
                .column-list-main{
                    ul{
                        li{
                            a{color:#fff;
                                &.active{color:#fff;}
                                &:hover:not(.active){color:#969696;}
                            }
                        }
                    }
                }
            }
        }
    }

/* /column-list */

/* news-list */

    .news-list{padding-top: 55px;margin-bottom: 80px;padding-left:15px;

        .news-list-items-wrap{display: flex;justify-content: space-around;align-items: flex-start;flex-wrap:wrap;max-width: 840px;margin:0 auto 70px auto;position: relative;left:-11px;
            .news-list-item{width:calc(50% - 20px);background-color:#fff;margin-bottom: 50px; max-width: 380px; max-height: 440px;

                a{text-decoration: none;color:#010101;font-size: 16px;font-weight: 300;}

                .news-list-img{overflow: hidden;height:190px;position: relative;z-index: 1;background-color: #fff;
                    img{position:relative;left:50%;top:50%;transform:translate(-50%, -50%);transition:all 300ms ease;}
                }

                .news-list-item-content-main{box-shadow:0 2px 16px 0 rgba(55, 39, 50, .25);padding:24px 10px 15px 9%;
                    .news-list-item-title{padding-top: 10px;margin-bottom: 22px;
                        h6{margin:0;font-family:"Roboto Condensed", sans-serif;font-size:26px;color:#48454f;font-weight: 400;position:relative;padding-left: 20px;line-height:1.25;
                            span{position:absolute;width:4px;height:100%;position: absolute;left:0;top:0;}
                            b{font-weight: 700;}
                        }
                    }

                    .news-list-item-content-wrap{display:flex;justify-content: space-between;align-items: center;
                        .news-item-list-content{width:calc(100% - 50px);
                            .news-item-list-text{margin-bottom: 20px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.25;}
                            .news-item-list-date{color:#b7b7b7; font-family: 'Roboto';}
                        }
                        .news-list-item-arrow{
                            span{display: block;width:25px;height:25px;background-color: transparent;border-top:4px solid #626262;border-right:4px solid #626262;transform:rotate(45deg);position:relative;left:-20px;transition:all 300ms ease;}
                        }
                    }

                }

                &:hover{
                    .news-list-img{
                        img{transform:scale(1.05) translate(-50%, -50%);}
                    }
                    .news-list-item-content-main{
                        .news-list-item-content-wrap{
                            .news-list-item-arrow{
                                span{left:-5px;}
                            }
                        }
                    }
                }

            }
        }

    }

/* /news-list */

/* event-list, careers-list */

    .info-list{padding:180px 0 80px 20px;
        .info-list-wrap{display: flex;justify-content: space-between;align-items: flex-start;flex-wrap:wrap;min-height: calc(100vh - 400px);max-width: 800px;margin:0 auto 30px auto;position: relative;left:-9px;

            .info-list-item{width:30.33%;margin-right: 4.5%;margin-bottom: 20px;
                &:nth-child(3n){margin-right: 0px;}
            }

            .info-list-item-wrap{max-width:220px;width:100%;margin:0 auto;
                .info-list-item-top{margin-bottom: 50px;
                    a{height:220px;background-color:#fff;display: flex;justify-content: center;align-items: center;box-shadow:0 6px 21px 0 rgba(0, 0, 0, .26);text-decoration: none;transition:all 300ms ease;
                        &:hover{box-shadow:0 3px 27px 0 rgba(0, 0, 0, .34);}
                    }
                    .info-list-top-text{display: block;padding:15px 20px 15px 20px;color:#808080;min-height:100%;
                        .info-list-top-title{display:block;min-height:75px;border-bottom:3px solid #aaaaaa;font-size: 25px;font-weight: 600;margin-bottom: 15px;}
                        .info-list-top-text-wrap{color:#898989;font-size: 18px;font-weight: 300;}
                    }
                }
                .info-list-item-bottom{padding:0 10px;
                    .info-list-item-content{margin-bottom: 50px;padding-left: 8px;
                        p{margin: 0 0 25px 0;display: flex;justify-content: flex-start;align-items: center;color:#777777;font-size: 18px;font-family:'Roboto', sans-serif;font-weight: 300;
                            &:last-child{margin:0;}
                            .info-list-icon{margin-right: 5%;width: 20px;text-align: center;}
                        }
                    }
                    .info-list-item-button{
                        .button{display: flex;width:100%;height:38px;background-color: #fcc939;justify-content: center;align-items: center;color:#fff;text-decoration: none;font-family:'Roboto', sans-serif;transition:all 300ms ease;
                            &:hover{background-color: #daa100;}
                        }
                    }
                }
            }

        }
    }

/* /event-list, careers-list */

/* paginator */

    .paginator{display: flex;justify-content: center;align-items: center;
        .paginator-arrow{
            a, span{display: block;position: relative;left:0;width: 25px;height: 25px;border-width:4px; border-style:solid;transform-origin:50% 50%;transform:rotate(45deg);transition:all 300ms ease;}

            &.prev{
                a{border-color:transparent transparent #626262 #626262;
                    &:hover{left:-10px;}
                }
                span{border-color:transparent transparent #b8b7be #b8b7be;}
            }

            &.next{
                a{border-color:#626262 #626262 transparent transparent;
                    &:hover{left:10px;}
                }
                span{border-color:#b8b7be #b8b7be transparent transparent;}
            }

        }
        .paginator-nav{
            ul{display: flex;justify-content: center;align-items: center;list-style:none;padding:0;margin:0;
                li{padding:0 5px;
                    a, span{text-decoration: none;color:#525252;font-size: 16px;font-family: 'RBNo2', sans-serif;font-weight: 300;}
                    a{position:relative;display:block;transition:all 300ms ease;
                        &:hover{top:-2px;}
                    }
                    span{text-decoration: underline;}
                }
            }
        }
    }

/* /paginator */

/* websites */

    .websites-page{

        .column-list-wrap{padding-top: 115px;width: 240px;
            .column-title{
                h1, h2, h3{font-size: 42px;font-weight: 300;
                    b{font-weight: 700;}
                }
            }
            .column-list{padding-top: 25px;}
        }

        .column-list-sites{max-width:100%;

            .column-list-sites-filter{position:relative;opacity:1;transition:opacity 300ms ease;
                &:before{position:absolute;width: 100%;height:100%;top:0;left:0;z-index: 1;display: none;}
                &.not-ajax{
                    &:before{display: block;}
                }
                &.adding{opacity:0;}
                ul{list-style:none;padding:0;margin:0;display: flex;justify-content: space-between;align-items: flex-start;
                    li{padding:0 2px;cursor: pointer;
                        .sites-img{position:relative;text-align: center;height:22px;display: flex;justify-content: center;align-items: center;
                            img{opacity:1;transition:all 300ms ease;
                                &.hover-img{opacity: 0;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
                            }
                        }
                        .sites-text{font-size: 16px;color:#000;font-family:'RBNo2', sans-serif;opacity:0;transition:all 300ms ease;}

                        &.active, &:hover{
                            .sites-img{
                                img{opacity:0;
                                    &.hover-img{opacity:1;}
                                }
                            }
                            .sites-text{opacity:1;}
                        }

                    }
                }
            }

            .websites-slider{
                .websites-slider-wrap{padding:40px 0 40px 0;position:relative;min-height:365px;
                    &:before{content:'';position: absolute;left:0;top:0;width:100%;height:100%;z-index: 1;display:none;}
                    &.not-ajax{
                        &:before{display: block;}
                    }
                    .loading-circle{opacity:0;z-index: 0;position:absolute;left:calc(50% - 34px);top:8px;}
                    &.loading{
                        .loading-circle{opacity:1;z-index:1;}
                        .sites-filter-slider{opacity:0;z-index:0;}
                    }
                }
                .sites-filter-slider{opacity:1;position:relative;z-index: 1;transition:all 300ms ease;
                    &.slick-slider{margin-bottom: 0;}
                    .sites-filter-slider-item{font-size: 20px;font-weight: 300;font-family: 'Roboto Condensed', sans-serif;color:#fff;padding:12px 10px;line-height: 1.25;cursor:pointer;transition:all 300ms ease;
                        &.active{background-color:rgba(0, 0, 0, .15);}
                        &:hover:not(.active){background-color:rgba(255,255,255, .15);}
                    }
                    .slick-arrow{position: absolute;width:34px;height: 19px;left:calc(50% - 17px);font-size:inherit;
                        &:before, &:after{content:'';display: block;position: absolute;width: 100%;height: 100%;left:0;top:0;background-image:url(../images/websites-arrows.png);transition:all 300ms ease;}
                            &:before{opacity: 1;}
                            &:after{opacity: 0;}
                            &:hover{
                                &:before{opacity: 0;}
                                &:after{opacity: 1;}
                            }

                        &.slick-prev{top:auto;bottom:100%;
                            &:before{background-position:left top;}
                            &:after{background-position: right top;}
                        }
                        &.slick-next{top:calc(100% + 13px);
                            &:before{background-position: left bottom;}
                            &:after{background-position: right bottom;}
                        }

                    }
                }
            }

        }

        .websites-content{max-width: 680px;width: 100%;margin:0 auto;padding:95px 0 60px 0;opacity:1;transition:all 300ms ease;
            &.loading{opacity: 0;}

            .loading-by-ajax{transition:all 300ms ease;opacity:1;
                &.loading{opacity: 0;}
            }

            .websites-text{font-family: 'Roboto', sans-serif;color:#fff;font-weight: 300;min-height:160px;line-height: 1.25;}

            .websites-audience{display: flex;justify-content: flex-start;align-items: center;font-size:18px;color:#fff;font-family:'Roboto', sans-serif;padding-bottom: 15px;border-bottom:1px solid rgba(255,255,255,.4);margin-bottom: 33px;
                .websites-audience-main{}
                .websites-audience-title{width: 27%;
                    span{display: inline-block;}
                }
                .websites-audience-main{display: flex;align-items: center;width: 27%;
                    .websites-audience-icon{margin-right:10px;}
                    .websites-audience-text{margin-left: 30px;}
                }
            }

            .websites-statistic{display: flex;justify-content: space-between;align-items: center;

                .websites-statistic-title{width: 125px;height:150px;display: flex;flex-direction:column;align-items: flex-start;justify-content: space-around;font-family:'Roboto', sans-serif;color:#fff;font-size: 18px;font-weight: 300;
                    .websites-statistic-title-bottom{text-decoration: underline;}
                }

                .websites-statistic-params{display: flex;width:calc(100% - 130px);justify-content: space-between;align-items: flex-start;
                    .websites-statistic-param-item{width: 25%;
                        &.active{
                            .websites-statistic-param-item-wrap{border-color:#fff;}
                        }
                        .websites-statistic-param-item-wrap{max-width:120px;width:100%;height:150px;display: flex;flex-direction:column;align-items: center;justify-content: space-around;padding-top: 12px;text-align: center;border-radius:37px;border:2px solid rgba(255,255,255, 1);margin:0 auto;
                            &.active{border-color:#fff;}
                            .websites-statistic-param-title{color:#fff;font-family: 'Roboto',sans-serif;font-size: 18px;font-weight: 300;}
                            .websites-statistic-param-circle{position: relative;
                                svg{fill:transparent;transform-origin:50% 50%;transform:rotate(90deg);
                                    circle{
                                        &.circle-background{fill:transparent;stroke:rgba(255,255,255,.4);stroke-width:3px;}
                                        &.circle-lines{fill:transparent;stroke:#ffffff;stroke-width:3px;stroke-dasharray:130px;stroke-dashoffset:130px;}
                                    }
                                }
                                .circle-value-text{position:absolute;width:100%;height:100%;display: flex;justify-content: center;align-items: center;font-family:'Roboto', sans-serif;font-weight:300;color:#fff;font-size: 12px;}
                            }
                        }
                    }
                }

            }

        }

    }

/* /websites */

/* services */

    .services-page{

        .left-column{
            .column-list-wrap{
                .column-list{
                    .column-list-main{
                        ul{
                            li{position: relative;padding:10px 0 10px 0;
                                &:before{content:'';display:block;position: absolute;top:0;left:0;width: calc(100% + 10px);height:100%;background-color: rgba(0, 0, 0, .2);opacity:0;transition:opacity 300ms ease;}
                                &.active{
                                    &:before{opacity: 1;}
                                    &:hover{
                                        a{box-shadow:none;
                                            &:hover{color:#fff;box-shadow:none;}
                                        }
                                    }
                                    a{color:#fff;}
                                }
                                a{font-size: 20px;padding-left: 10px;position: relative;z-index: 1;color:#fff;text-shadow:0 0 2px rgba(0, 0, 0, .5);
                                    &:before{display: none;}
                                }
                            }
                        }
                    }
                }
            }
        }

        .right-column{width: calc(100% - 270px);
            .creatives-wrap{position: relative;padding: 0 20px;overflow: hidden;

                &:before{content:'';display: block;position: absolute;width: 100%;height:100%;z-index: 1;}

                .tab-item{position: absolute;z-index: 0;top:0;left:50%;transform:translate(-50%, 0);opacity: 0;max-width:580px;width:100%;padding-top: 55px;padding-bottom: 70px;font-size:18px;color:#fff;font-weight: 300;line-height: 1.25;transition:all 300ms ease;
                    &.show{position: relative;opacity: 1;z-index: 2;}

                    a{color:#fff;
                        &:hover{color:#fcd053;}
                    }
                    .wrap-info{margin-bottom: 55px;
                        &:last-child{margin-bottom: 0;}
                        p{margin:0 0 0px 0;}
                    }
                    .text-wrap{font-family: 'Roboto', sans-serif;font-weight: 300;}
                    .wrap-flex{display: flex;justify-content: space-between;align-items: flex-start;
                        .text-wrap{width:calc(100% - 215px);}
                        .icon{width: 25%;}
                        .wrap-more-info+.text-wrap{font-style: italic;}
                        &.align-center{align-items: center;}
                        &.wrap-text-icon-row{
                            h3{text-transform: uppercase;font-size: 34px;font-family: 'ProximaNovaScOsf', sans-serif;font-weight: 400;margin:0 0 20px 0;}
                            .text-wrap{width: calc(100% - 160px);}
                        }
                    }
                    .wrap-more-info{width: 195px;height: 144px;background-image:url(../images/more-info-right-bg.png);background-repeat:no-repeat;background-position:left top;display: flex;justify-content: flex-end;align-items: center;padding:0 20px 0 55px;position: relative;
                        .more-info-num{position: absolute;font-weight: 400;font-size: 62px;top:50%;left:0;transform:translate(-50%, -50%);font-family: 'CoreSansCn', sans-serif;}
                        .more-info-text{font-size: 24px;font-weight: 300;line-height: 1;}
                    }

                    .icon{text-align: center;padding: 0 5px;
                        .icon-img{margin-bottom: 20px;}
                        .icon-title{text-transform: uppercase;font-size: 20px;line-height: 1.15;font-weight: 300;}
                    }

                    &.pr-reputation{
                        .wrap-text-icon{
                            img{max-width: 95px;}
                        }
                    }


                }

                .icon-img{
                    img{max-width: 95px;}
                }

            }
        }

    }

/* /services */

/* event-page */

    .event-page{

        .event-page-title{font-size: 24px;color:#fff;font-weight: 500;text-transform: uppercase;text-align: center;padding:15px 0 25px 0;}

        .event-page-main{

            .event-page-slider-main{padding:0 35px;margin-top: -387px;height: 417px;position: relative;overflow: hidden;
                &.loading{
                    &:before{content:'';display: block;position: absolute;width: 100%;height: 100%;top:0;left:0;z-index: 2;}
                }
            }

            .event-page-slider-wrap{max-width: 900px;width: 100%;margin:0px auto;position: relative;z-index: 1;
                .event-page-slider{margin-bottom: 0;}
                .slick-list{max-height: 315px;}
                .event-page-slider-item-top{overflow: hidden;border:1px solid #fff;display: flex;justify-content: space-between;align-items: stretch;margin-bottom: 46px;}
                .event-page-slider-item-img{width: 200px;min-height:205px;position: relative;background-color: #fff;display: flex;justify-content: center;align-items: center;padding:10px 10px;}
                .event-page-slider-item-text{color:#fff;font-size: 49px;font-family: 'Roboto', sans-serif;width: calc(100% - 200px);width: 100%;display: flex;align-items: center;justify-content: flex-end;flex-wrap:wrap;padding:10px 20px;line-height:1.25;
                    .event-page-slider-item-text-wrap{max-width: 620px;width: 100%;}
                    p{margin:0;width: 100%;}
                }
                .event-page-slider-item-bottom{display: flex;align-items: center;justify-content: flex-start;font-family: 'Roboto Condensed', sans-serif;font-weight: 300;color:#fff;font-size: 18px;
                    .event-page-date-period{display: flex;justify-content: center;align-items: center;text-align: center;
                        .event-page-date-period-col-num{font-weight: 700;font-size: 41px;}
                        .event-page-date-period-row{width: 11px;height:5px;background-color: #fff;margin:-15px 15px 0 15px;}
                    }
                    .event-page-date-text{padding-left:65px;
                        p{margin:0;line-height: 1.75;}
                        a{color:#fff;transition:all 300ms ease;
                            &:hover{color:#c9ad3d;}
                        }
                    }
                }
                .slick-arrow{width: 24px;height:41px;max-height: none;top:105px;
                    &:before, &:after{content:'';display: block;position: absolute;width: 100%;height:100%;background-image:url(../images/slick-arrows-spray.png);top:0;left:0;transition:all 300ms ease;}
                    &:after{opacity: 0;}
                    &:hover{
                        &:before{opacity: 0;}
                        &:after{opacity: 1;}
                    }
                    &.slick-prev{left:-85px;
                        &:before{background-position: left top;}
                        &:after{background-position: left bottom;}
                    }
                    &.slick-next{right:-85px;
                        &:before{background-position: right top;}
                        &:after{background-position: right bottom;}
                    }
                }

            }

            .event-page-content{display: flex;justify-content: space-between;align-items: flex-start;padding: 40px 0 90px 0;

                .event-page-datepicker{width: 320px;
                    .event-page-datepicker-content{padding:30px 35px;background-color: #494949;transition:all 300ms ease;position: relative;
                        &.loading{opacity: 0;
                            &:before{content:'';display: block;position: absolute;width: 100%;height: 100%;z-index: 2;}
                        }
                    }

                    .event-page-datepicker-top{overflow: hidden;margin-bottom: 30px;}
                    .event-page-datepicker-top-wrap{width: calc(1000% / 6);display: flex;justify-content: space-between;align-items: center;position:relative;left:calc(100% / -3);transition:all 0ms ease;
                        .event-page-datepicker-top-item{width: 20%;text-align: center;cursor:pointer;border-bottom:3px solid #6d6d6d;font-family: 'Roboto', sans-serif;font-weight: 300;font-size: 16px;padding-bottom: 10px;transition:all 300ms ease;
                            &.active-month{color:#fff;border-color:#fff;}
                        }
                        &.moving{transition:all 300ms ease;
                            &.moving-left{left:calc(100% / -1.5);}
                            &.moving-right{left:0;}
                        }
                    }

                    .event-page-datepicker-days{overflow:hidden;margin-bottom: 20px;
                        ul{display: flex;justify-content: flex-start;align-items: stretch;list-style:none;padding:5px 0;margin:0;
                            li{width: calc(100% / 7);font-family: 'Proxima Nova Condensed', 'ProximaNovaScOsf', sans-serif;text-transform: uppercase;color:#fff;font-weight: 300;font-size: 16px;text-align: center;}
                        }
                    }
                    .event-page-datepicker-bottom{position: relative;transition:all 300ms ease;
                        .calendar{position: absolute;left:0;top:0;opacity: 0;width: 100%;transition:all 300ms ease;z-index: 1;
                            &.active-month{position: relative;opacity: 1;z-index:2;}
                            .calendar-row{display: flex;justify-content: space-around;align-items: center;padding:8px 0;
                                .calendar-col{width: calc(100% / 7);text-align: center;
                                    .outside-date-wrap{font-family: 'Proxima Nova Condensed', 'ProximaNovaScOsf', sans-serif;font-weight: 300;color:#fff;font-size: 16px;position: relative;cursor: pointer;
                                        &:before{content:'';display: block;position: absolute;left:50%;top:50%;z-index:0;width:30px;height: 30px;border-radius: 50%;background-color:rgba(138, 138, 138, .5);transform:translate(-50%, -50%) scale(0);transition:all 300ms ease;}
                                        .inside-date-wrap{position: relative;z-index: 1;}
                                        &:not(.current-day):not(.event-day):hover{
                                            &:before{transform:translate(-50%, -50%) scale(1);}
                                        }
                                        &.current-day{
                                            &:before{transform:translate(-50%, -50%) scale(1);background-color: #edc142;}
                                        }
                                        &.event-day{
                                            &:before{transform:translate(-50%, -50%) scale(1);background-color: rgba(235, 87, 118, .5);}
                                            &.chossen-day{
                                                &:before{background-color: #994f5f;}
                                            }
                                        }
                                        &.chossen-day{
                                            &:before{transform:translate(-50%, -50%) scale(1);background-color: #b84059;}
                                        }
                                    }
                                }
                            }
                        }

                    }
                }

                .event-page-form{width:calc(100% - 320px);padding-left: 19px;text-align: right;
                    .event-page-form-content{max-width: 500px;width: 100%;display: inline-block;}

                    input, textarea{border:1px solid rgba(255,255,255,.5);background-color:transparent;font-size: 16px;color:#fff;font-family: 'Roboto Condenced', arial;font-weight: 300;width: 100%;transition:all 300ms ease;
                        &::-webkit-input-placeholder {color:#fff;font-family: 'Roboto Condenced', arial;font-weight: 300;}
                        &:-moz-placeholder {color:#fff;opacity:1;font-family: 'Roboto Condenced', arial;font-weight: 300;}
                        &::-moz-placeholder {color:#fff;opacity:1;font-family: 'Roboto Condenced', arial;font-weight: 300;}
                        &:-ms-input-placeholder {color:#fff;font-family: 'Roboto Condenced', arial;font-weight: 300;}
                        &.error{border-color:#ff0000;
                            &::-webkit-input-placeholder {color:#ff0000;}
                            &:-moz-placeholder {color:#ff0000;opacity:1;}
                            &::-moz-placeholder {color:#ff0000;opacity:1;}
                            &:-ms-input-placeholder {color:#ff0000;}
                        }
                        &+.errorText{display: none!important;}
                        &:focus{border-color:rgba(255,255,255,1);}
                    }
                    input{padding:0px 13px 0px 13px;line-height: 40px;}
                    textarea{padding:10px 13px 10px 13px;height:135px;resize:none;}

                    .form_row{margin-bottom: 20px;
                        &.hidden-row{display: none;}
                        &:last-child{margin-bottom: 0;}
                        &.form_submit{text-align: center;padding-top: 30px;}
                    }

                }

            }

        }

    }

/* /event-page */

/* geo */

    .geo-page{

        .left-column{
            .column-list-wrap{width: 240px;

                .column-title{
                    h2{font-size: 42px;font-weight: 300;
                        b{font-weight: 600;}
                    }
                }

                .column-list{padding-top: 55px;padding-bottom:35px;
                    &.loading{
                        &:before{content:'';display: block;position: absolute;left:0;top:0;z-index:1;width: 100%;height: 100%;}
                    }
                    .column-list-country{padding:10px 15px 10px 15px;font-size: 20px;color:#fff;font-family: 'Roboto Condensed', sans-serif;font-weight: 300;cursor: pointer;transition:all 300ms ease;
                        &.slick-current{background-color: rgba(0,0,0, .2);}
                        &:hover{background-color: rgba(255,255,255,.2);}
                    }
                    .slick-arrow{width: 34px;height: 19px;left:calc(50% - 17px);font-size: inherit;
                        &:before, &:after{content:'';display: block;position: absolute;left:0;top:0;width: 100%;height: 100%;background-image: url(../images/websites-arrows.png);transition:all 300ms ease;}
                        &:before{opacity: 1;}
                        &:after{opacity: 0;}
                        &:hover{
                            &:before{opacity: 0;}
                            &:after{opacity: 1;}
                        }
                        &.slick-prev{top:auto;bottom:100%;
                            &:before{background-position: left top;}
                            &:after{background-position: right top;}
                        }
                        &.slick-next{top:calc(100% + 13px);
                            &:before{background-position: left bottom;}
                            &:after{background-position: right bottom;}
                        }
                    }
                }

            }

        }

        .right-column{padding: 30px 10px 30px 10px;text-align: center;
            .geo-main{display: inline-block;max-width: 740px;width: 100%;}

            .geo-map{position: relative;
                &:before{content:'';display: none;position: absolute;left:0;top:0;width: 100%;height: 100%;}

                &.loading{
                    &:before{display: block;}
                }

                svg{

                    g{fill:#8e8e8e;transition:all 300ms ease;
                        &.work-with{fill:#e5e5e4;cursor:pointer;
                            &.active{fill:#ffd36a;cursor: default;}
                            &:hover{
                                &:not(.active){fill:#ffe19b;}
                            }
                        }
                    }

                }

            }

            .geo-content{display: flex;justify-content: space-around;align-items: flex-start;position: relative;
                &:before{content:'';display: block;position: absolute;height: 100%;width: 2px;background-color: #fff;top:0;left:285px;}

                .loading-circle{position: absolute;left:calc(50% - 34px);top:calc(50% - 35.5px);z-index: 0;opacity: 0;transition:all 300ms ease;}

                .geo-svg-title{font-size: 20px;font-family: 'Roboto Condensed', sans-serif;color:#fff;font-weight: 300;margin-bottom: 15px;}
                .geo-content-left{width: 300px;padding:0 10px;position: relative;z-index: 1;transition:all 300ms ease;}
                .geo-content-right{width: calc(100% - 300px);padding:0 10px;position: relative;z-index: 1;transition:all 300ms ease;}
                .geo-svg-wrap-main{text-align: center;}
                .geo-svg-item{display: inline-block;font-family: 'Roboto Condensed', sans-serif;font-weight: 300;color:#fff;margin:0 3% 20px 3%;
                    .geo-svg-circle{position: relative;margin-bottom: 15px;
                        .geo-svg{
                            svg{fill:transparent;transform-origin:50% 50%;transform:rotate(90deg);
                                circle{
                                    &.circle-background{fill:transparent;stroke:#868681;stroke-width:3px;}
                                    &.circle-lines{fill:transparent;stroke:#fff;stroke-width:3px;}
                                }
                            }
                        }
                        .geo-svg-value{position: absolute;top:50%;left:50%;transform:translate(-50%, -50%);white-space:nowrap;font-size: 20px;}
                    }
                    .geo-svg-text{font-size: 16px;}
                }

                &.loading{
                    &:before{opacity: 0;}
                    &:after{content:'';display: block;position: absolute;width: 100%;height: 100%;top:0;left:0;z-index: 2;}
                    .geo-content-left, .geo-content-right{opacity:0;}
                    .loading-circle{opacity: 1;}
                }

            }

        }

    }

/* /geo */

/* vacancy */

    .vacancy-page{

        .column-list-wrap{width: 236px;
            .column-title{border-bottom: none;
                h1, h2, h3{font-weight: 400;
                    b{font-weight: 600;}
                }
            }
            .column-list{
                .column-list-main{
                    &.scroll-list{
                        ul{
                            li{margin-bottom: 0;padding:12px 10px 12px 10px;background-color: rgba(0, 0, 0, .2);cursor:pointer;transition:all 300ms ease;
                                p{margin:0;color:#fff;font-size: 22px;font-weight: 200;}
                                &:hover, &.active{background-color: rgba(0, 0, 0, .5);}
                            }
                        }
                    }
                }
            }
        }

        .content-wrap{padding:100px 0 300px 20px;
            .content-wrap-main{max-width: 525px;width: 100%;margin:0 auto;

                .topper{border-bottom: 1px solid #fff;margin-bottom: 75px;
                    .ext{margin-bottom: 22px;
                        img{width: 22px;margin-right: 25px;}
                        span{font-family: 'Roboto', sans-serif;font-weight: 300;font-size: 18px;color:#fff;}
                    }
                }

                .scroll-content{margin:0 0 80px 0;list-style:none;padding:0;color:#fff;font-family: 'Roboto', sans-serif;font-size: 18px;
                    li{margin-bottom: 75px;
                        &:last-child{margin-bottom: 0;}
                        .t-page{margin-bottom: 40px;font-weight: 500;line-height: 1.2;}
                        .after-block{font-weight: 200;line-height: 1.2;
                            ul{list-style:none;padding:0;margin:0;
                                li{padding:0 0 0 25px;margin:0 0 15px 0;position: relative;
                                    &:before{content:'';display: block;position:absolute;top: 4px;left: 0;width: 15px;height: 15px;border-top: 1px solid #62ec5e;border-left: 1px solid #62ec5e;transform: rotate(135deg);}
                                    &:last-child{margin:0;}
                                }
                            }
                        }
                    }
                }

                .row-for-all{display: flex;justify-content: space-between;align-items: center;
                    .button-part{
                        .buttoner{display:flex;justify-content: center;align-items: center;width: 200px;height: 37px;text-decoration: none;  font-size: 16px;color:#000;background-color: #ecd050;transition:all 300ms ease;
                            &:hover{background-color: #fce166;}
                        }
                    }
                }

            }
        }

    }

/* /vacancy */

/* loading-circle */

    .loading-circle{
        .loading-line{fill:transparent;stroke:#fff;stroke-width:5px;stroke-dasharray:146px;stroke-dashoffset:92px;transform-origin:50% 50%;animation-name:loadingCircle;animation-duration:1s;animation-iteration-count:infinite;}
    }

/* /loading-circle */

/* buttons */

    .button{display: inline-block;max-width: 200px;width: 100%;line-height: 37px;height: 37px;background-color: #ccc;text-align: center;cursor: pointer;color:#fff;font-family: 'Roboto', sans-serif;font-size: 16px;border:none;border-radius:0;transition:all 300ms ease;
        &:hover{background-color: #000;}
        &.button-red{background-color: #eb5776;
            &:hover{background-color: #c34660;}
        }
    }

/* /buttons */

/* parallax */

    .blur-filter{display: none;}

    .parallax-page{

        .parallax-block{position: fixed;top:0;left:0;width: 100%;height: 100%;

            img{max-width: none;min-width:100%;position: relative;top:0;left:50%;transform:translate(-50%, 0);}
            .parallax-image-top, .parallax-image-bottom{position:absolute;top:0;left:0;width: 100%;height:100%;transition:opacity 300ms ease;
                &.hide{opacity: 0;}
            }
            .parallax-images{position: fixed;top:0;left:0;width: calc(100% + 30px);height: calc(100% + 30px);}
            .parallax-blur{position: fixed;top:0;left:0;border-top:1px solid #9b9692;overflow: hidden;width: calc(100% + 30px);height:calc(100% + 30px);
                &.blur{filter:blur(50px);filter:url(#blur);}
            }

            .parallax-image-top{z-index: 1;}
            .parallax-image-bottom{top:auto;bottom:0;}

            .parallax-blur{transition:filter 300ms ease;
                .parallax-image-top{
                    img{filter:blur(50px);filter:url(#blur);}
                }
                .parallax-image-bottom{
                    img{filter:blur(50px);filter:url(#blur);}
                }
            }
        }

        &.first-type{

            &.main{padding-top: 500px;}

            .parallax-block{

                img{min-width: calc(100% + 185px);} /* for blur on adges */

                .parallax-image-top, .parallax-image-bottom{left:-15px;}
                .parallax-images{
                    .parallax-image-top{top:20px;}
                }
                .parallax-blur{transform:translate(0, 580px);
                    .parallax-image-top{
                        img{transform:translate(-50%, -560px);}
                    }
                    .parallax-image-bottom{
                        img{transform:translate(-50%, 0);}
                    }
                }

            }

        }

        &.second-type{

            .parallax-block{

                img{left:0;transform:translate(0, 0);min-height: 100%;}

                .parallax-images{left:0;}

                .parallax-blur{right:0;left:auto;
                    &:after{content:'';display: block;position: absolute;top:0;left:0;width: 1px;height: 100%;background-image: url(../images/second-type-parallax-shadow.png);z-index: 1;opacity:.5;}
                    .parallax-image-top, .parallax-image-bottom{
                        img{filter:blur(50px);filter:url(#blur);transform:translate(50px , -25px);}
                    }
                }

                .parallax-images, .parallax-blur{
                    &:before{content:'';display:block;position:absolute;left:0;top:0;right:0;bottom:0;z-index:2;}
                }
            }

        }

        &.tabs-parallax{
            .parallax-block{
                img{opacity: 0;position: absolute;top:0;transition:opacity 300ms ease;
                    &.active{opacity: 1;position: relative;}
                }
            }
        }

    /* cotacts parallax */

        &.contacts-page{

            &.first-type{

                &.main{padding-top: 420px;}

                .parallax-block{
                    .parallax-blur{transform:translate(0, 400px);height: calc(100% + 50px);
                        .parallax-image-top{
                            img{transform:translate(-50%, -380px);}
                        }
                    }
                }

            }

        }

    /* /contacts parallax */

    /* event-page parallax */

        &.event-page{
            &.first-type{padding-top: 435px;position:relative;z-index: 1; /*some new */
                .parallax-block{
                    &:after{content: '';position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0, .35);}
                    .parallax-blur{transform:translate(0, 524px);border-top: 1px solid #fff;
                        img{transform:translate(-50%, -430px);top: -630px;}
                    }
                    // new fix
                    .parallax-images{

                        .parallax-image-top{
                            img{top: -529px;}
                        }
                    }
                }
            }
        }

    /* /event-page parallax */

    /* news-list, events-list, careers-list */

        &.news-list-page, &.events-list-page, &.careers-list-page{
            &.second-type{
                .parallax-block{
                    .parallax-images{
                        &:before{background-color: rgba(0,0,0, .15);}
                    }
                    .parallax-blur{
                        &:before{background-color:rgba(255,255,255, .5);}
                    }
                }
            }
        }

    /* /news-list, events-list, careers-list */

    }

/* /parallax */

/* animations */

    @keyframes loadingCircle{
        0%{transform:rotate(0deg);}

        100%{transform:rotate(360deg);}
    }

/* /animations */

