@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1220px){
    .partners{

        .slick-prev{ left: -22px;}
        .slick-next{ right: -18px;}
    }
}
@media screen and (max-width: 1024px){
    .title-filter {
        .title{ padding-right:20px; width: 210px;}
        .menu-filter {width: calc(100% - 210px); padding-right: 0;
            ul {flex-wrap: wrap; }
            li{ padding: 0 15px;}
        }
    }
 }
@media screen and (max-width: 992px){

    header{

        .header{height: 60px;}

        .logo{width: calc(100% - 550px);max-width: 230px;}

        .menu{
            .menu-wrap{
                li{
                    a{padding:10px 15px 10px 15px;font-size: 14px;}
                }
                .second-level{
                    .mobile-arrow{right: 0;}
                }
            }
        }

        .laguages-wrap{
            .language-choose{
                a{font-size: 14px;}
            }
        }

        .login-wrap{
            a{font-size: 14px;
                .log-in-icon{}
            }
        }

    }

    .expertise{
        .content{
            .img{
                .img-wrap{height: 280px;
                    .img-wrap-text{
                        p{font-size: 38px;
                            b{font-size: 26px;}
                        }
                    }
                }
            }
            .row-wrap{
                .left-col{width:280px;height: 280px;}
                .right-col{width: calc(100% - 280px);}
                &.row-reverse{
                    .left-col{width: calc(100% - 400px);}
                    .right-col{width: 400px;height: 260px;
                        .img-wrap{height: 260px;}
                    }
                }
            }
        }
    }

    .partners {
        .slider-partners {

            .item {
                &:before { width: 100%; height: 100%; border: 5px solid transparent; background-color: #fff; }
            }
        }
    }
    .creatives{ padding-top: 20px;
         .creatives-wrap .tab-item{justify-content: space-around;}
    }
}
@media screen and (max-width: 767px){

    .expertise {

        .content{
            .row{flex-wrap: wrap; min-height: 1px;}
            .img{ width: 100%; height: auto;
                img{ position: relative; top: auto; left: auto; transform: none;}
                .img-wrap{ position: relative; top: auto; height: auto; text-align: center;}
                &:hover{
                    img{
                        &.col-img-bg{transform:none; }
                    }
                }
            }
            .row-wrap{
                &:nth-child(2n){
                    .row{min-height: 1px;}
                    .img{.img-wrap{ height: auto;}}
                }
                .row{flex-direction:column;
                    .left-col{height: auto;width: auto; img{height: auto;}}
                    .right-col{width: 100%; img{height: auto;}}
                }
                &.row-reverse{
                    .row{flex-direction:column-reverse;
                        .left-col{width: 100%;}
                        .right-col{height: auto;width: auto;}
                    }
                }
            }
            .txt{ padding: 30px; width: 100%;
                &.right-col,
                &.left-col{ padding: 30px;box-shadow:none;}
                }

        }
    }

    .news{
        .col{margin-bottom: 0;}
        .button-col{margin-top: 30px;}
        .banner{margin-bottom: 30px;}
        .row{display:block;text-align: center;}
        .news-b{margin:0 auto 70px auto;width:100%;max-width: 380px;}
        .event, .careers{display:inline-block;margin:0 20px 70px 20px;}
    }

}
@media screen and (max-width: 666px){

    header{z-index: 10;height: 90px;
        .header{align-items: center;justify-content: space-between;height: 90px;}

        .logo{width: 280px;}

        .menu{ display: none; background-color: rgba(0, 0, 0, .9); z-index: 10; padding-bottom: 30px; width: calc(100% + 60px);position: absolute; top: 90px; left: -20px;height: calc(100vh - 90px);overflow-y:scroll;
            .menu-wrap{display: block;
                li{ width: 100%; padding: 0;text-align: center;margin-bottom: 10px;
                    &:first-child{
                        a{padding:0;display: inline-block;}
                    }

                    a{font: 300 28px/1.25 'ProximaNovaScOsf'; padding: 7px 0;display: inline-block;vertical-align: middle;padding:0;display: inline-block;color:#fff;
                        span{display: block;}
                    }
                }
                .second-level{
                    ul{border-width: 1px 0;border-style:solid;border-color:#ccc transparent;width: 100%;left:0;padding:0;
                        li{margin-bottom: 0;}
                    }
                    .mobile-arrow{position: relative;display: inline-block;top:auto;left: 5px;transform:translate(0, 0);}
                }
            }
        }

        .login-wrap{
            a{
                .log-in-icon{margin-right: 0;
                    img{max-width: none;}
                }
                .log-in-text{display: none;}
            }
        }

        .butter{ display: block;}
    }

    .expertise{
        .title-filter{
            .title{float: none;width: 100%;margin-bottom: 20px;padding-right: 0;
                h2{text-align: center;}
                &:after{width: 100%;height: 3px;top:100%;}
            }
            .menu-filter{width: 100%;}
        }
    }

}
@media screen and (max-width: 530px){
    .title-filter {
        .title{ float: none; margin-bottom: 20px;}
        .menu-filter {width: 100%;float: none;}
    }
}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}