
/* parallax medias */

    @media screen and (max-width: 1366px), screen and (max-height:768px){

        .parallax-page{

            /* contacts parallax */

                &.contacts-page{
                    &.first-type{

                        &.main{padding-top: 300px;}

                        .parallax-block{
                            .parallax-blur{transform:translate(0, 270px);
                                .parallax-image-top{
                                    img{transform:translate(-50%, -250px);}
                                }
                            }
                        }
                    }
                }


            /* /contacts parallax */

        }

    }

/* /parallax medias */


@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1100px){

    /* event-page */

        .event-page{
            .event-page-main{
                .event-page-slider-wrap{
                    .slick-arrow{
                        &.slick-prev{left:-30px;}
                        &.slick-next{right:-30px;}
                    }
                }
            }
        }

    /* /event-page */

}
@media screen and (max-width: 1024px){

    /* parallax */

        .parallax-page{
            &.first-type{
                &.main{padding-top: 0!important;}

                .parallax-block{
                    .parallax-blur{transform:translate(0,0)!important;
                        .parallax-image-top{
                            img{transform:translate(-50%, 0)!important;}
                        }
                    }
                }

            }
        }

    /* /parallax */

    /* event-page */

        .event-page{
            .event-page-main{
                .event-page-slider-main{margin-top: 0;padding: 35px 35px 0 35px;height: auto;}
            }
        }

    /* /event-page */

}
@media screen and (max-width: 992px){

    /* column-list */

        .column-list-wrap{padding-top: 20px;display: block;position: relative;

            .column-title{min-height:0;text-align: center;padding-bottom: 5px;}

            .column-list{display: flex;justify-content: space-between;align-items: center;
                .column-list-title{padding-left: 0;margin-bottom: 0;padding-right:10px;}
                .column-list-main{
                    ul{display: flex;justify-content: flex-start;align-items: center;flex-wrap:wrap;
                        li{margin-right: 20px;
                            &:last-child{margin-bottom: 10px;margin-right: 0;}
                            a{padding-left: 5px;padding-right: 5px;color:#9f9f9f;
                                &:before{width: 100%;}
                                span{width:100%;height:3px;top:100%;}
                            }
                        }
                    }
                }
            }

        }

    /* /column-list */

    /* news-list */

        .news-list{padding-left:0;
            .news-list-items-wrap{left:0;}
        }

    /* /news-list */

    /* event-list, careers-list */

        .info-list{padding:30px 0 50px 0;}

    /* /event-list, careers-list */

    /* websites-page */

        .websites-page{

            .column-list-wrap{width: 100%;padding-top: 30px;}

            .column-list-sites{

                .column-list-sites-filter{margin-bottom: 10px;
                    ul{justify-content: space-around;
                        li{
                            .sites-text{font-size: 20px;}
                        }
                    }
                }

                .websites-slider{min-height:95px;
                    .websites-slider-wrap{min-height: 0;padding:0 0 40px 0;}
                    .sites-filter-slider{
                        .slick-list{height:49px;overflow: hidden;}
                        .slick-arrow{transform-origin:50% 50%;transform:rotate(-90deg);
                            &.slick-next{bottom:-35px;top:auto;left:calc(50% + 5px);}
                            &.slick-prev{bottom:-35px;top:auto;left:calc(50% - 36px);}
                        }
                        .sites-filter-slider-item{text-align: center;}
                    }
                }

            }
            .websites-content{padding:50px 0 45px 0;
                .websites-text{min-height:0;margin-bottom: 30px;text-align: center;}
            }
        }

    /* /websites-page */

    /* services */

        .services-page{
            .right-column{width: 100%;}
            .column-list-wrap{
                .column-list{
                    .column-list-main{
                        ul{
                            li{
                                a{color:#fff;
                                    &:hover{color:#cecece;}
                                }
                            }
                        }
                    }
                }
            }
        }

    /* /services */

    /* geo */

        .geo-page{

            .left-column{
                .column-list-wrap{width: 100%;
                    .column-list{
                        .column-list-countries{width: 100%;}
                        .column-list-country{text-align: center;}
                        .slick-list{height: 49px;}
                        .slick-arrow{transform-origin:50% 50%;transform:rotate(-90deg);
                            &.slick-prev{top:auto;bottom:-35px;left:calc(50% - 36px);}
                            &.slick-next{top:auto;bottom:-35px;left:calc(50% + 5px);}
                        }
                    }
                }
            }

            .right-column{padding:30px 0 30px 0;}

        }

    /* /geo */

    /* vacancy */

        .vacancy-page{

            .column-list-wrap{width: 100%;
                .column-list{
                    .column-list-main{
                        &.scroll-list{width: 100%;
                            ul{justify-content: center;
                                li{margin-bottom: 20px;margin-left:10px;margin-right:10px;}
                            }
                        }
                    }
                }
            }

            .content-wrap{padding:30px 0 40px 0;}

        }

    /* /vacancy */

    /* parallax */

        .parallax-page{
            &.second-type{
                .parallax-block{
                    .parallax-blur{display: none;}
                    .parallax-images{width: 100%!important;}
                }
            }
        }

    /* /parallax */

}
@media screen and (max-width: 767px){


    /* column-list */

        .column-list-wrap{
            .column-list{display: block;padding-top: 15px;
                .column-list-title{text-align: center;margin-bottom: 10px;padding-right: 0;}
                .column-list-main{
                    ul{justify-content: center;}
                }
            }
        }

    /* /column-list */

    /* news-list */

        .news-list{padding-top: 30px;margin-bottom: 50px;
            .news-list-items-wrap{margin-bottom: 20px;
                .news-list-item{width:calc(50% - 10px);margin-bottom: 20px;max-width: none; max-height: none;
                    .news-list-item-content-main{padding:30px 10px 15px 15px;
                        .news-list-item-title{padding-top: 0;
                            h6{padding-left: 15px;}
                        }
                    }
                }
            }
        }

    /* /news-list */

    /* event-list, careers-list */

        .info-list{

            .info-list-wrap{margin-bottom: 20px;
                .info-list-item{width: 47.5%;margin-right:5%;
                    &:nth-child(2n){margin-right: 0;}
                    &:nth-child(3n){margin-right:5%;}
                }
            }

        }

    /* event-list, careers-list */

    /* websites-page */

        .websites-page{
            .websites-content{
                .websites-statistic{
                    .websites-statistic-title{display:none;}
                    .websites-statistic-params{width: 100%;}
                }
            }
        }

    /* /websites-page */

    /* services */

        .services-page{
            .right-column{
                .creatives-wrap{
                    .tab-item{
                        .wrap-more-info{
                            .more-info-num{margin-top: -10px;}
                            .more-info-text{margin-top: -10px;}
                        }
                        .text-wrap{text-align: center;}
                        .wrap-flex{flex-wrap:wrap;
                            .text-wrap{width: 100%;}
                            &.wrap-text-icon-row{
                                .text-wrap{width: 100%;}
                            }
                            &.align-center{flex-direction:column;justify-content: center;align-items: center;
                                .wrap-more-info{background-image:url(../images/market-middle-text-bg.png);width: 200px;height:150px;margin-bottom: 25px;}
                            }
                            .icon{width: 50%;margin-bottom: 10px;}
                        }
                        .wrap-text-icon{margin-bottom: 20px;}
                    }
                }
            }
        }

    /* /services */

    /* event-page */

        .event-page{
            .event-page-main{
                .event-page-slider-main{padding:65px 10px 0 10px;}
                .event-page-slider-wrap{
                    .event-page-slider-item-text{font-size: 33px;}
                    .event-page-slider-item-img{min-height: 175px;}
                    .slick-arrow{top:-35px;
                        &.slick-prev{left:calc(50% - 30px);}
                        &.slick-next{right: calc(50% - 30px);}
                    }
                }
            }
        }

    /* /event-page */

}
@media screen and (max-width: 666px){

    /* news-list */

        .news-list{
            .news-list-items-wrap{display: block;margin-bottom: 40px;
                .news-list-item{width:100%;
                    .news-list-item-content-main{min-height: 0;
                        .news-list-item-content-wrap{display: block;
                            .news-item-list-content{width: 100%;}
                            .news-list-item-arrow{margin-bottom: 15px;
                                span{margin:0 auto;transform:rotate(135deg);left:0;top:0;}
                            }
                        }
                    }
                    &:hover{
                        .news-list-item-content-main{
                            .news-list-item-content-wrap{
                                .news-list-item-arrow{
                                    span{top: 10px;left:0;}
                                }
                            }
                        }
                    }
                }
            }
        }

    /* /news-list */

    /* websites-page */

        .websites-page{
            .websites-content{
                .websites-audience{flex-wrap:wrap;text-align: center;
                    .websites-audience-title{width: 100%;margin-bottom: 5px;}
                    .websites-audience-main{width: 50%;justify-content: center;}
                }
                .websites-statistic{
                    .websites-statistic-params{flex-wrap:wrap;
                        .websites-statistic-param-item{width: 50%;margin-bottom: 15px;
                            .websites-statistic-param-item-wrap{height: 120px;}
                        }
                    }
                }
            }
        }

    /* /websites-page */

    /* event-page */

        .event-page{
            .event-page-main{

                .event-page-slider-wrap{
                    .event-page-slider-item-text{font-size: 26px;}
                    .event-page-slider-item-img{min-height: 105px;width: auto;}
                    .event-page-slider-item-top{margin-bottom: 20px;}
                    .event-page-slider-item-bottom{display: block;text-align: center;
                        .event-page-date-period{margin-bottom: 10px;}
                        .event-page-date-text{padding-left: 0;}
                    }

                }

                .event-page-content{display: block;
                    .event-page-datepicker{margin:0 auto 40px auto;width: 100%;max-width: 320px;
                        .event-page-datepicker-content{padding: 25px 20px;}
                    }
                    .event-page-form{padding-left: 0;margin:0 auto;width: 100%;}
                }

            }
        }

    /* /event-page */

    /* geo */

        .geo-page{
            .right-column{
                .geo-map{margin-bottom: 20px;}
                .geo-content{display: block;
                    &:before{display: none;}
                    .geo-content-left, .geo-content-right{width: 100%;}
                }
            }
        }

    /* /geo */

    /* vacancy */

        .vacancy-page{

            .content-wrap{
                .row-for-all{flex-direction:column;align-items: center;
                    .button-part{margin-bottom: 20px;}
                }
            }

        }

    /* /vacancy */

}
@media screen and (max-width: 479px){

    /* event-list, careers-list */

        .info-list{

            .info-list-wrap{
                .info-list-item{width: 100%;margin-right: 0;
                    &:nth-child(3n){margin-right: 0;}
                }
                .info-list-item-wrap{
                    .info-list-item-bottom{
                        .info-list-item-content{
                            p{justify-content: center;}
                        }
                    }
                }
            }

        }

    /* /event-list, careers-list */

    /* event-page */

        .event-page{
            .event-page-slider-wrap{
                .event-page-slider-item-text{font-size: 18px;}
            }
        }

    /* /event-page */

}
@media screen and (max-width: 320px){

}