/* helping adds*/

.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix-after:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfix-before:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}

.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* ctext */

    .ctext{
        h1, h2, h3, h4, h5, h6{line-height: 1.25;margin-bottom: 15px;font-weight: 700;}
        h1{font-size: 36px;}
        h2{font-size: 32px;}
        h3{font-size: 28px;}
        h4{font-size: 24px;}
        h5{font-size: 20px;}
        h6{font-size: 16px;}
    }

/* /ctext */

/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%; background-color: #515151;width:100%;min-width:320px;font-family:'ProximaNovaScOsf', arial,sans-serif;color:#777;position:relative;font-size: 16px;line-height: 1;

    /* styles for wp-admin panel */

    &.customize-support{
        .wp-panel-show{top:32px;} //fixed elements (if their has top:0) must has class .wp-panel-show
    }

    /* /styles for wp-admin panel */

}
img{vertical-align:bottom;border:0;max-width:100%;}

/* adapted styles for wp-admin panel */

@media screen and (max-width: 782px){

    body{
        &.customize-support{
            .wp-panel-show{top:46px;}
        }
    }

    #wpadminbar{position: fixed!important;}

}
/* /adapted styles for wp-admin panel */

/* /base styles */

/* wraps styling*/
.global-wrapper{overflow: hidden;padding-top:60px;background-image:url(../images/body-background.png);
    &.index-global{background-image:none;background-color:#eee;}
}
.mbox{max-width:980px;width:100%;margin:0 auto;position:relative;z-index:1;padding: 0 20px;
    &.bigger-mbox{max-width:1220px;}
}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/


.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}

input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}

.main-wrap{display: flex;justify-content: space-between;align-items: stretch;
    .left-column{width:256px;padding-right:30px;}
    .right-column{width: calc(100% - 256px);}
}
.main{position: relative;z-index: 0;}

@media screen and (max-width:992px){

    .main-wrap{display: block;
        .left-column, .right-column{width:100%;padding-right: 0;}
    }

}

/*End Layout*/

/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example -> @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);
@include font-face('ProximaNovaScOsf', 'ProximaNovaScOsfThin', 100);
@include font-face('ProximaNovaScOsf', 'ProximaNovaScOsfLight', 300);
@include font-face('ProximaNovaScOsf', 'ProximaNovaScOsfRegular', 400);
@include font-face('ProximaNovaScOsf', 'ProximaNovaScOsfSemibold', 600);


@include font-face('ProximaNovaNew', 'Proxima Nova ScOsf Extra Condensed Bold', 700);
@include font-face('ProximaNovaNew', 'Proxima Nova ScOsf Extra Condensed Light', 300);
@include font-face('ProximaNovaNew', 'Proxima Nova ScOsf Extra Condensed Thin', 100);

@include font-face('RBNo2', 'RBNo2Light', 300);
@include font-face('Proxima Nova Condenced', 'proximanovacond-light', 300);
@include font-face('CoreSans', 'CoreSansD65Heavy');
@include font-face('CoreSansCn', 'CoreSansD67CnHeavy');

@include font-face('BIRCH', 'BIRCH');

@include font-face('NotoSans','NotoSans-Bold', 700);

/*/fonts*/