/*news----------------------------------------------------------*/

    .news{ padding-top: 106px;
        .mbox{max-width: 1040px;}
        .row{ display: flex; justify-content: space-around; flex-wrap: wrap;}
        .col{ margin-bottom: 112px;
            .place{color:#777; font:300 18px/1.2 'Roboto'; padding-left: 23px; padding-bottom: 30px;
                img{ margin-right: 22px;}
            }
            .date{color:#777; font:300 18px/1.2 'Roboto';  padding-left: 21px; padding-bottom: 30px;
                img{ margin-right: 22px;}

            }

        }
        .title-col{font: 600 28px/1.2 'ProximaNovaScOsf'; color: #777; padding-bottom: 29px;
            h3{ margin: 0; }
        }
        .news-b{width: 380px;
            .big-banner{ display: block; text-decoration: none;background-color: rgb(255, 255, 255); box-shadow: 0px 2px 16px 0px rgba(55, 39, 50, 0.25);
                .img{ position: relative; width: 100%; height: 190px;overflow: hidden;
                    img{ position: absolute; left: 50%; top: 50%; transform:translate(-50%, -50%) scale(1);  transition: transform 300ms;}
                }
                &:hover{
                    .img{
                        img{transform:translate(-50%, -50%) scale(1.1);}
                    }
                    .txt{
                        &:after{ right: 24px;}
                    }
                }
            }

            .title{font: 400 26px/1.2 'Roboto Condensed'; color: #525252; border-left: 3px solid #78e5f2;  max-width: 258px; margin: 28px auto 0 ; padding-left: 19px;
                p{ margin: 0;
                    b{font-weight: 700;}
                }
            }
            .txt{font: 300 16px/1.2 'Roboto Condensed'; color: #010101;padding: 24px 60px 18px; position: relative;
                p{ margin: 0;}
                &:after{content: ''; display: inline-block; width: 25px; height: 25px; background-color: transparent; border-top:4px solid #626262;border-right:4px solid #626262; transform:rotate(45deg); position: absolute; right: 44px;transition: all 300ms; top:calc(50% - 8px);}
            }
            .pub-date{font: 300 16px/1.2 'Roboto Condensed';color: #b7b7b7; padding: 0 60px 42px;
                p{ margin: 0;}
            }
        }

        .banner{background-color: rgb(255, 255, 255);    box-shadow: 0px 2px 16px 0px rgba(55, 39, 50, 0.25); width: 220px; height: 220px; position: relative; display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap; color: #808080; text-decoration: none; margin-bottom: 51px;
            .txt{ width: 100%; height: 100%;padding: 24px 20px 0;}
            p{ margin: 0; width: 100%;color: #898989;font: 300 20px/1.1 'ProximaNovaScOsf';letter-spacing: -1px;}
            h5 { margin: 0; width: 100%; border-bottom: 3px solid #aaa; text-transform: uppercase; color: #898989; padding-bottom: 5px; margin-bottom: 7px; padding-left: 2px;
                p { font: 600 20px/1.5 'ProximaNovaScOsf'; letter-spacing: 1.8px; }
            }
            &:hover{box-shadow: 0px 4px 32px 0px rgba(55, 39, 50, 0.25);}
        }
        .button{ text-align: center; width: 100%; display: block;margin:0 auto;
            a{text-decoration: none; color: #fff; font:400 15px/37px 'Roboto';line-height:40px;text-align: center; display: inline-block; max-width: 200px; width: 100%; height: 37px; background-color: #fcc939;transition:all 300ms ease;
                &:hover{background-color:#ca8000;}
            }
        }
        .button-col{text-align: right; width: 100%; margin-top: 72px; /*padding-right: 61px;*/
            a{ text-decoration: none;  color: #777;font: 300 20px/1.2 'ProximaNovaScOsf'; position: relative;display: block;padding-right: 61px;
                &:after{content: ''; display: inline-block; width: 25px; height: 25px; background-color: transparent; border-top:4px solid #626262;border-right:4px solid #626262; transform:rotate(45deg); position: absolute; right: 4px;transition: all 300ms;}
                &:hover{
                    &:after{right: -23px;}
                }
            }
        }
    }

/*END news----------------------------------------------------------*/


/* header----------------------------------------------------------*/

    header{ background-color: #fff; height: 60px; position: fixed;width: 100%;z-index: 100; top:0;backface-visibility: hidden;
        .mbox{max-width: 1060px;}
        .header{ display: flex; justify-content: space-between; position: relative; }

        .logo{display: flex;justify-content: center;align-items: center;width:calc(100% - 830px);}

        .menu{ display: flex; justify-content: space-between; margin: 0; padding: 0;align-items: center;
            li{ display: inline-block;
                a{font: 300 18px/1.5 'ProximaNovaScOsf'; color: #000;text-decoration: none; position: relative;
                    &:not(.log-in):not(.language-choose){padding:16px 30px 17px 30px;display: block;
                        span{display: flex;align-items: flex-start;justify-content: center;}
                    }
                    &.active{color: #807f7f;text-decoration: underline;}
                    &:hover{ color: #ca8000;text-decoration: underline;}
                    &:nth-child(2){ padding-left: 7px; margin-left: 7px;
                        &:before{ top: 5px; left: 0; position: absolute; content:''; display: block; width: 1px; height: 12px; background-color: #000; }
                    }
                    &.language-choose{
                        &:first-child{margin-left: 30px;}
                        &:last-child{margin-right: 30px;}
                    }
                    &.log-in{display: flex;justify-content: flex-start;align-items: center;margin-left: 30px;
                        .log-in-icon{margin-right: 5px;display:block;
                            img{display: block;}
                        }
                        .log-in-text{display: inline-block;vertical-align: middle;font-size: 18px;font-weight: 300;color:#969696;line-height: 1;text-decoration: underline;display: block;margin-top: -2px;}
                        &:hover{text-decoration: none;
                            .log-in-text{color: #d7ae00;}
                        }
                    }
                    .fa-exclamation-circle{ font-size: 14px; color:#ffa025; }
                }
                &:last-child{ padding-right: 0;}
                &:first-child{
                    a{
                        &:not(.log-in):not(.language-choose){padding:16px 30px 17px 0;}
                    }
                }
            }
            .second-level{position: relative;
                ul{position: absolute;top:100%;left:17px;background-color: transparent;padding:0 0 0 0;min-width: 240px;display: none;
                    li{padding:0;display: block;background-color:#e2e2e2;
                        a{
                            &:not(.log-in):not(.language-choose){padding:2px 10px 2px 10px;
                                span{justify-content: flex-start;}
                            }
                        }
                        &:first-child{
                            a{
                                &:not(.log-in):not(.language-choose){padding:5px 10px 2px 10px;}
                            }
                        }
                        &:last-child{
                            a{
                                &:not(.log-in):not(.language-choose){padding:2px 10px 5px 10px;}
                            }
                        }
                    }
                }
                .mobile-arrow{position: absolute;width: 0;height: 0;border-width: 7px 5px 0 5px;border-style:solid;border-color:#000 transparent #000 transparent;right:8px;top:50%;transform:translate(0, -50%);cursor:pointer;transform-origin:50% 50%;transition:all 300ms ease;}
                &.hovered{
                    .mobile-arrow{transform:rotateX(-180deg) translate(0, 50%);}
                }
            }
        }
        .butter{ position: absolute; top: 12px; right: 12px; cursor: pointer; width: 50px; height: 36px; display: none;
            span{ display: block; background-color: #000; width: 100%; height: 6px; position: absolute; left: 0; top: 0; border-radius: 3px; overflow: hidden; transition: all 300ms; opacity: 1;
                &:nth-child(2){ top: calc(50% - 3px);}
                &:nth-child(3){ top: auto; bottom: 0;}
            }
            &.active{
                span{transform: rotate(405deg); top: 12px;
                    &:nth-child(2){ opacity: 0;}
                    &:nth-child(3){ transform: rotate(315deg);}
                }
            }
        }
    }

/*END header----------------------------------------------------------*/


/*partners----------------------------------------------------------*/

    .partners{ background-color: #dbdbdb;padding: 92px 0 65px;
        .mbox{max-width: 1120px;
            .title-filter{padding-left: 30px;}
        }

        .slider-wrap{ padding: 0 30px;}
        .slider-partners{
            //display: flex; justify-content: space-around;
            .slick-track { margin: 0 auto;
                .slick-current{padding:10px 0;}
            }
            //.slide{  width: 200px;  }
            .item{ background-color: transparent; display: block; width: 200px; margin-bottom: 6px; position: relative;
                .item-link-wrap{width: calc(100% - 10px);margin:0 auto;perspective: 500px; perspective-origin: 50% 50%;transform-style: preserve-3d;
                    .item-link{display: block;height: 110px;background-color:#fff;width:100%;background-color:#fff;position:relative; overflow: hidden;transform-origin: center center;transform-style: preserve-3d;transition:all 200ms ease;
                        .hover{ position: absolute; left: 0%; top: 0%; width: 1px; height: 1px; box-shadow: 0 0 80px 20px rgba(0,0,0,0.3);opacity: 0; transition: opacity 200ms ease;z-index: -1;}
                        &.hovered{
                            .hover{opacity: 1;}
                        }
                        .hover{pointer-events:none;}
                    }
                }

                img{ position: absolute; left: 50%; top: 50%;transform:translate(-50%, -50%);pointer-events: none;z-index: 0;}

            }
        }
        .slick-arrow{border-color: #fff; background-color: transparent; border-width: 4px 4px 0 0; width: 27px; height: 27px; display: block; font-size:inherit; border-style: solid; top: 45%;
            &:before{ display: none;}
        }
        .slick-prev{transform: rotate(-135deg); left: -79px;}
        .slick-next{transform: rotate(45deg); right: -70px;}
    }
    .title-filter { padding: 0 0px 98px;
        .title { position: relative; display: block; width: 27.3%; float: left;
            h2 { margin: 0; font: 300 40px/1.5 'ProximaNovaScOsf'; color: #343434; text-transform: uppercase; text-align: left; }
            &:after { display: block; content: ''; width: 3px; height: 98px; background-color: #505050; right: 0; top: -19px; position: absolute; }
        }
        .menu-filter { display: block; width: 67%; float: right; padding-top: 14px; padding-right: 77px;
            ul { list-style-type: none; display: flex; justify-content: space-around; margin: 0; padding: 0; }
            li {
                a,
                .txt { font: 100 18px/1.5 'ProximaNovaScOsf'; color: #505050; cursor: pointer;
                    &:hover { color: #ca8000; }
                }
                input { opacity: 0; visibility: hidden; }
                input:checked + span { color: #fff; }
                a{ text-decoration: none;}
            }
        }
    }

/*END partners----------------------------------------------------------*/


/*expertise----------------------------------------------------------*/

    .expertise { padding: 92px 0 65px;
        .title-filter{ padding-bottom: 82px;}
        .mbox { max-width: 920px; }
        .content{
            .row-wrap{padding: 0px 0; display: block; width: 100%;
                      background-image: -moz-linear-gradient( 180deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
                      background-image: -webkit-linear-gradient( 180deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
                      background-image: -ms-linear-gradient( 180deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
                      box-shadow: 0px 6px 46px 0px rgba(0, 0, 0, 0.22);

                &:nth-child(2n){
                    .row{min-height: 240px}
                    .img{
                        .img-wrap{ height: 320px;}
                    }
                }

                .left-col{width: 380px;}
                .right-col{width: calc(100% - 380px);}

                &.row-reverse{
                    .left-col{width: calc(100% - 500px);}
                    .right-col{width: 500px;
                       img{float: right;}
                    }
                }

            }
            .row{ position: relative; display: flex; justify-content: space-around;align-items: center; min-height: 300px; background-color: #fff; margin-bottom: 70px;}

            .img{ position: relative;
                .img-wrap{ position: relative; width: 100%;left: 0; top: 0px;overflow: hidden;backface-visibility: hidden;
                    &:before{content:'';display: block;position: absolute;width: 100%;height:100%;top:0;left:0;z-index: 1;background-color: rgba(201, 173, 61, .5);opacity:0;transition:all 300ms ease;}
                    .img-wrap-text{position: absolute;top:50%;left:50%;transform:translate(-50%, -50%);z-index: 2;text-align: center;
                        p{font-family: 'BIRCH', sans-serif;color:#fff;font-size: 53px;margin:0;
                            b{font-family: 'NotoSans', sans-serif;text-transform: uppercase;color:#e9da9a;font-size: 38px;white-space: nowrap;}
                        }
                    }
                }
                /*img{ position: absolute;left: 50%; top: 50%; transform:translate(-50%, -50%) translateZ(0px) scale(1); backface-visibility: hidden; transition: transform 200ms;z-index: 2;}
                &:hover{
                    .img-wrap{
                        &:before{opacity:1;}
                    }
                    img{
                        &.col-img-bg{transform:translate(-50%, -50%) translateZ(0px) scale(1.2); z-index: 0;backface-visibility: hidden;}
                    }
                }*/
            }

            .txt{background-color: #fff;font: 100 18px/1.26 'ProximaNovaScOsf';color: #424346; padding-top: 32px; padding-bottom: 19px;
                &.right-col{/*box-shadow:inset 50px 0 50px -50px #333;*/ padding-left: 50px; padding-right: 50px;}
                &.left-col{/*box-shadow:inset -50px 0 50px -50px #333;*/ padding-left: 50px; padding-right: 50px;}
                p{ margin: 0 0 19px 0;}
                ul{ margin: 0 0 19px  0; padding: 0; list-style-type: none;
                    a{ text-decoration: none;padding-left: 15px;position: relative;
                        .fa{position: absolute;top:6px;left: 0;color:#d4af2d;font-size: 14px;}
                    }
                    img{ margin-right: 20px;}
                    li{ margin-bottom: 5px;}
                }
                b{ font: 600 24px/1.26 'ProximaNovaScOsf';}
                a{color: #424346;display: flex;justify-content: flex-start;align-items: center;
                    &:hover{ color: #ca8000;
                        .col-icon{
                            img{opacity: 0;
                                &.hover-img{opacity:1;}
                            }
                        }
                    }
                    .col-icon, .col-text{display: block;}
                    .col-text{max-width: calc(100% - 40px);}
                    .col-icon{position: relative;
                        img{opacity: 1;transition:all 300ms ease;
                            &.hover-img{opacity:0;position: absolute;left:0;top:2px;}
                        }
                    }
                }
            }
        }
    }

/*END expertise----------------------------------------------------------*/

