@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1450px) {

  //advertising-page, asian-market-page, monetization-page, contacts-page, ad-formats
  .advertising-page, .asian-market-page, .monetization-page, .contacts-page, .ad-formats-page {
	&.parallax-page.first-type {
	  &.main { padding-top: 600px; }
	  .parallax-block {
		.parallax-blur { transform: translate(0, 550px);
		  .parallax-image-top {
			img { transform: translate(-50%, -630px); }
		  }
		}
	  }
	}

  }
  .asian-market-page.parallax-page.first-type .parallax-block .parallax-blur .parallax-image-top img { transform: translate(-50%, -560px); }
  .contacts-page.parallax-page.first-type .parallax-block .parallax-blur .parallax-image-top img { transform: translate(-50%, -590px); }
  .parallax-page.event-page .parallax-block .parallax-blur .parallax-image-top img { transform: translate(-50%, -830px); }
  .ad-formats-page.parallax-page.first-type .parallax-block .parallax-blur .parallax-image-top img { transform: translate(-50%, -555px); }
  .monetization-page.parallax-page.first-type .parallax-block .parallax-blur .parallax-image-top img { transform: translate(-50%, -560px); }

  // add-formats

  .ad-formats .ad-formats-text { padding-top: 0; }

}
@media screen and (max-width: 1366px) {
  // creatives
  .creatives {
	.creatives-slider { padding-left: 55px;
	  .slick-prev, .slick-next { height: 41px; width: 41px;
		&:after { width: 15px; height: 15px; top: 13px; right: 15px; }
	  }
	  .slick-prev { left: 10px; }
	  .slick-prev:after { right: 12px; }
	  .slick-next { right: 9px; }
	}
  }

  // ad formats
  .ad-formats-page.parallax-page.first-type {
	.parallax-image-top img { top: -180px; }

  }

  // fancybox
  .fancybox-prev { left: -8%; }
  .fancybox-next { right: -8%; }

}
@media screen and (min-width: 1200px) and (max-width: 1450px) {
  // advertising
  .advertising-page {
	.parallax-block .parallax-blur img { width: 100%; top: 54px; }
	.parallax-block .parallax-images img { width: 100%; top: -45px; }
  }
  // advertising
  .asian-market-page {
	.parallax-block .parallax-blur img { width: 100%; }
	.parallax-block .parallax-images img { width: 100%; }
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  // advertising
  .advertising-page {
	.parallax-block .parallax-blur img { top: 85px; width: 100%; }
	.parallax-block .parallax-images img { top: -20px; width: 100%; }
  }
}
@media screen and (max-width: 1295px) {
  // creatives
  .creatives {
	.creatives-slider {
	  .slick-prev, .slick-next { top: auto; bottom: -50px;
		&:after { }
	  }
	  .slick-prev { left: calc(50% - 50px) }
	  .slick-prev:after { }
	  .slick-next { right: calc(50% - 50px) }
	}
  }

  // fancybox
  .fancybox-prev { left: 1%; }
  .fancybox-next { right: 1%; }
}
@media screen and (min-width: 993px) and (max-width: 1280px) {
  // creatives
  .creatives {
	.creatives-slider { margin-bottom: 100px; padding-left: 28px; margin-right: 0;
	  .item .item-img .item-img-wrap { height: 140px; width: 140px; }
	}
  }

}
@media screen and (max-width: 1024px) {
  // new page
  .news-page {
	.news-page-title { padding: 46px 15px; }
	.news-page-middle {
	  .news-page-text { width: 65%;
		.news-page-pagination { padding: 0 30px; }
	  }
	}
  }

  // advertising
  .advertising {
	.advertising-wrap {
	  & > .title { padding-top: 55px; padding-bottom: 55px; }
	}
	.advertising-middle { margin-bottom: 80px;
	  .advertising-items {
		.item {
		  .item-top { flex-direction: column; justify-content: center; padding-top: 25px;
			.item-img { }
			.item-title { width: 100%; text-align: center; padding-left: 0; padding-top: 10px; }
		  }
		  .item-bottom { padding-top: 25px; padding-bottom: 25px; }
		}
	  }
	}
  }

  // advertising
  .advertising {
	.advertising-bottom {
	  &:after { position: absolute; content: ''; background: transparent url('../images/some-bg-img.png') center top no-repeat; top: -51px; left: -20px; width: calc(100% + 40px); height: calc(100% + 137px); content: ''; z-index: 1; pointer-events: none; background-size: auto 100%; }
	  & > div { position: relative; z-index: 2 }
	}
  }

  .advertising-page {
	.fut-background { display: none; }
  }

  // asian-market-page
  .asian-market-page {
	.title { padding-top: 70px; }
	.market-middle-text-wrapper {
	  &:before { background-color: transparent; }
	}
  }

  //ad-formats
  .ad-formats {
	.ad-formats-text { padding-top: 70px; margin-bottom: 90px; }
	.ad-formats-items .item .item-button { transform: none; }
  }

}
@media screen and (max-width: 992px) {

  // new page
  .news-page {
	.news-images-massonry {
	  .item-sizer, .item {
		&.item-height { height: 150px; }
		&.item-height-big { height: 300px; }

		img { max-width: 100%; }
	  }
	}
	.news-page-middle { flex-direction: column-reverse;
	  .news-page-aside { width: 100%;
		.news-page-aside-items {
		  .item .item-img img { min-width: 100%; }
		}
	  }
	  .news-page-text { width: 100%; margin-bottom: 60px;
		.news-page-text-article { margin-bottom: 50px; }
		.social-conteiner { margin-bottom: 60px; }
		.news-page-pagination { }
	  }
	}
  }

  // advertising
  .advertising {
	.advertising-wrap {
	  & > .title { }
	}
	.advertising-middle { margin-bottom: 100px;
	  .advertising-items {
		.item { width: 100%; margin-bottom: 40px;
		  &.item-1 {
			.item-text { width: auto; margin-bottom: 25px; }
		  }
		  .item-img { width: 300px; }
		  .item-text { min-height: auto; }
		}
	  }
	}
	.advertising-bottom { padding-top: 80px;
	  .advertising-big-text { flex-wrap: wrap; flex-direction: column;
		.item {
		  &.item-1 { width: 100%; margin-bottom: 20px; text-align: center; justify-content: center; padding-right: 0;
			b br { display: none; }
		  }
		  &.item-2 { width: 100%;
			ul li { white-space: normal; }
		  }
		}
	  }
	  // .advertising-items{margin-bottom: 30px;
	  //     .item{width: 100%;
	  //         &.left{margin-bottom: 30px;
	  //             .item-href a{background-color: #eb5776;}
	  //             .item-bottom-row{flex-direction: column;
	  //                 .row-text{width: 100%;padding-left: 0;padding-top: 20px;}
	  //             }
	  //         }
	  //         &.right{
	  //             .item-bottom{padding-right: 5%;}
	  //             .item-bottom-row{flex-direction: column;margin-bottom: 0!important;height: auto !important;}
	  //             .item-bottom-row-mini{width: 100% !important;
	  //                 .row-text{padding-left: 0 !important;text-align: left !important;}
	  //             }
	  //         }
	  //         .item-href{}
	  //         .item-top{padding-right: 0;padding-left: 33px;
	  //             .item-top-title{padding-top: 15px;padding-bottom: 15px;}
	  //             .item-top-text{max-width: 100%;min-height: 0;}
	  //         }
	  //         .item-bottom{padding-top: 30px;padding-right: 0;padding-right: 5%;padding-left: 5%;
	  //             .item-bottom-row .row-text{max-width: 100%;width: 90%;text-align: center;}
	  //             .item-bottom-row .row-img{width: 80px;height: 80px;}
	  //             &+.item-href{display: flex;width: 100%;padding-top: 40px;padding-bottom: 30px;}
	  //         }

	  //     }
	  // }
	  // .advertising-items-href{display: none;}
	}
  }

  // asia market
  .market-old .market-middle-text .middle-items .item .item-wrap { width: 230px; }
  .market-old .market-middle-text .middle-items .item .item-big-number { font-size: 53px; }

  .market-old .market-top-text { margin-bottom: 110px; }
  .market-old .market-middle-text { margin-bottom: 100px; }
  .market-old .middle-text-next { margin: 0 auto 100px; }

  // contacts
  .contacts {
	.contacts-wrap { padding-top: 175px; }
	.contact-form-row {
	  .form_input { text-align: center; }
	  .errorText { position: relative; left: auto; top: auto; transform: translateY(0); }
	}
  }

  // creatives page
  .main-wrap {
	&.tabs {
	  .left-column { width: 100%; padding-right: 0px; }
	}
	&.reverse { // коричневый бок с кор текстом
	  .left-column:after { display: none; }
	  .right-column { width: 100%; }
	  .column-list-wrap {
		.column-title { min-height: auto;
		  h1, h2, .h1, .h2 { font-size: 50px; }
		}
		.column-list { justify-content: center;
		  ul { justify-content: center; }
		  li { margin-right: 10px; margin-left: 10px;
			&:last-child { margin-bottom: 0; }
			&:after { width: 100%; }
			a { height: 40px; padding: 10px; }
		  }
		}
	  }
	}
  }
  // creatives page
  .creatives { padding-top: 35px; padding-bottom: 80px;
	.creatives-slider { padding-left: 0; margin-right: 0;
	  &.left-hide-button {
		.slick-prev { opacity: 1; visibility: visible; pointer-events: initial; }
	  }
	  &.right-hide-button {
		.slick-next { opacity: 1; visibility: visible; pointer-events: initial; }
	  }
	  .slick-prev, .slick-next { bottom: -50px; }
	  .slick-list {
		&:before { display: none; }
		&:after { display: none; }
	  }
	  .item {
		.item-img .item-img-wrap { margin: 0 auto; }
	  }
	}

  }

  // monetization
  .monetization {
	.monetization-middle {
	  .monetization-items { flex-direction: column;
		.item { width: 100%; margin-bottom: 30px; }
	  }
	}
	.monetization-bottom {
	  .monetization-list ul li:after { border-color: white; }
	  .monetization-button { flex-direction: column; align-items: center;
		a { margin-bottom: 20px; }
	  }
	}
  }

  // login popup
  .login { width: 100%; min-width: 100%;
	&.write-message-popap .write-message-file { position: static; }
	.login-buttons a { margin: 0 31px; }
  }

}
@media screen and (max-width: 800px) {
  // asian-market-page
  .asian-market-page {

	.market-middle-text-wrapper {
	  &:after { height: calc(100% + 74px); }
	  .market-middle-text { margin-bottom: 50px;
		.middle-text { padding: 0; text-align: center; padding-top: 125px; }
		.middle-items { flex-direction: column; align-items: center; padding-top: 80px;

		  .item { margin-bottom: 20px;
			.item-text { text-align: center; padding-left: 0; padding-right: 0; }
		  }
		}
	  }
	}

	.market-top-text { flex-wrap: wrap;
	  .item {
		&.left { width: 100%;
		  .market-top-img img { display: block; margin: 0 auto; }
		}
		&.right { width: 100%; padding-left: 40px; padding-right: 40px; text-align: center; }
	  }
	}

	.market-bottom {
	  &.first { padding-bottom: 0;
		.items-list { margin-bottom: 100px;
		  .item-center { width: 100%; height: auto; background: none; text-align: center;
			b { position: static; transform: none; font-size: 22px; }
		  }
		  .item-list { display: flex; justify-content: center; padding-top: 20px; margin-bottom: 40px;
			ul { list-style-type: decimal; }
			li { position: static; max-width: 100%; text-align: left; font-size: 22px; line-height: 1.5; }
		  }
		}
	  }
	  .bottom-text { padding-top: 45px; flex-wrap: wrap;
		.middle-img { width: 100%;
		  img { margin: 0 auto; display: block; }
		}
		.middle-text { width: 100%; padding-top: 30px; text-align: center; }
	  }
	}
  }

  //monetization
  .monetization {
	.monetization-middle {
	  .monetization-items { flex-direction: row; flex-wrap: wrap; justify-content: center;
		.item { width: 45%; margin: 0 2.5% 40px; }
	  }
	}
  }

}
@media screen and (max-width: 767px) {
  // asia market
  .market-old {
	.market-top-text { flex-direction: column; align-items: center; margin-bottom: 75px;
	  .item {
		&.right { width: 100%; padding-left: 0; padding-top: 30px; }
	  }
	}
	.market-middle-text { margin-bottom: 50px;
	  .middle-text { padding: 0; }
	  .middle-items { flex-direction: column; align-items: center;
		.item { margin-bottom: 20px;
		  .item-text { text-align: center; padding-left: 0; padding-right: 0; }
		}
	  }
	}
	.middle-text-next { margin-bottom: 50px;
	  .middle-next-images { justify-content: space-around;
		.item { margin-bottom: 20px; }
	  }
	}
  }

  // fancybox
  .fancybox-nav { top: calc(100% + 20px) }
  .fancybox-prev { left: calc(50% - 75px); }
  .fancy-gallery .fancybox-prev { left: calc(50% - 75px); }
  .fancy-gallery .fancybox-next { right: calc(50% - 75px); }
  .fancybox-next { right: calc(50% - 75px); }

  //ad-formats
  .ad-formats {
	.ad-formats-items {
	  .item { height: 380px; padding-top: 40px; background-color: #fff; box-shadow: 0 3px 16px rgba(0, 0, 0, .34);
		.item-title { font-size: 22px; padding-top: 15px; }
		.item-button { padding-bottom: 10px; }
	  }
	}
	.ad-formats-yellow-block {
	  .ad-formats-yellow-block-wrap { flex-wrap: wrap; flex-direction: column-reverse;
		.item {
		  &.left { width: 100%; text-align: center;
			.item-title { padding-top: 10px; }
			.item-text { padding-right: 0; margin: 0 auto; }
			.item-button { padding-top: 41px; }
		  }
		  &.right { width: 100%; display: flex; justify-content: center;
			.item-img { margin-top: -150px; }
		  }
		}
	  }
	}
  }

}
@media screen and (max-width: 666px) {
  // news page
  .news-page { padding-top: 95px;

	.news-page-wrap { background-color: transparent; box-shadow: none;
	  .news-page-top-images { box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.25); position: relative; z-index: 0; }
	}

	.news-images-massonry { display: none;
	  .item-sizer, .item { width: 100%;
		&.item-height { height: auto; }
		&.item-height-big { height: auto; }
		&.item-2, &.item-5 { width: 100%; }
		img { max-width: 100%; position: relative; transform: none; left: auto; right: auto; /*min-width: 0;min-height: 0;*/
		}
	  }
	}
	.news-image-mobile { display: block; }
	.news-page-title { padding: 55px 8% 70px 8%; position: relative; z-index: 1; background-color: #fff; box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.25);
	  .news-page-title-wrap {
		& > p { font-size: 24px; font-family: 'Proxima Nova', sans-serif; font-weight: 300; padding: 10px 55px; }
		.news-page-title-second { padding: 50px 10px; font-family: 'ProximaNovaScOsf', sans-serif;
		  .h1, h1, h2, h3 { font-size: 40px; font-weight: 600; }
		  p { font-size: 40px; font-weight: 300; }
		}
	  }
	}
	.news-page-middle { padding: 0 0px 0px 0px; position: relative; z-index: 2; align-items: center; margin-bottom: 70px;
	  .news-page-text { margin-bottom: 140px;
		.news-page-text-article { font-family: 'Proxima Nova', sans-serif; padding: 0 10% 45px 10%; background-color: #fff; box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.25); margin-bottom: 0;
		  p { font-size: 24px; margin: 0 0 25px 0;
			strong { font-size: 24px; font-weight: 600; }
		  }
		  blockquote { margin: 0 0 25px 7.5%; font-size: 36px; line-height: 1.25; padding: 15px 0;
			&:after { height: calc(100% - 15px); top: 7.5px; }
		  }
		}
		.social-conteiner { display: flex; align-items: center; justify-content: flex-start; padding: 0 10% 100px 10%; background-color: #fff; box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.25); margin-bottom: 80px;
		  a { max-width: 60px; margin-right: 20px;
			&:last-child { margin-right: 0; }
		  }
		}

		.news-page-pagination { max-width: 500px; margin: 0 auto; padding-top: 95px;
		  a { font-size: 24px; font-family: 'ProximaNovaScOsf', sans-serif; font-weight: 300; padding-left: 0; padding: 16px 0px;
			&.button-prev, &.button-next {
			  &:after { width: 54px; height: 54px; border-right: 8px solid #888888; border-top: 8px solid #888888; top: auto; bottom: 100%; left: calc(50% - 30px); }
			}
			&.button-next { padding-right: 10px; padding-left: 10px; }
		  }
		}

	  }
	  .news-page-aside { max-width: 460px;
		.news-page-aside-title { padding-top: 0; font-size: 36px; font-family: 'Proxima Nova', sans-serif; font-weight: 600;
		  a { text-decoration: none; }
		}
		.news-page-aside-items {
		  .item { font-family: 'Proxima Nova', sans-serif; margin-bottom: 65px;
			&:last-child { margin-bottom: 0; }
			.item-img { height: 230px; margin-bottom: 25px; }
			.item-title { font-size: 27px; font-weight: 300; margin-bottom: 10px; }
			.item-date { font-size: 21px; font-weight: 300; }
		  }
		}
	  }
	}
  }

  // asia market
  .market-old .middle-text .item-title h2 { font-size: 29px; }

  // asia market new
  .asian-market-page {

	.title { padding-bottom: 15px;
	  h1 { font-size: 52px; }
	  &:after { display: none; }
	}

	.sub-title { font-size: 28px; max-width: 500px; }

	.market-top-text { margin: 0 auto;
	  .item {
		&.left { margin-bottom: 65px; }
		&.right { font-size: 28px; padding-top: 0; max-width: 500px; padding-left: 0; padding-right: 0; margin: 0 auto; }
	  }
	}

	.button {
	  &.button-yellow { max-width: 340px; height: 60px; font-size: 25px; line-height: 59px; text-transform: uppercase; }
	}

	.market-top-text {
	  .item {
		&.right {
		  p { margin-bottom: 50px; }
		}
	  }
	}

	.market-middle-text-wrapper { padding-top: 115px;
	  &:after { display: none; }
	  .market-middle-text {
		.middle-text { text-align: left; max-width: 500px; width: 100%; margin: 0 auto 105px auto; padding-top: 0; color: #000;
		  .item-title { max-width: 450px; width: 100%; margin: 0 0 40px 0;
			h2 { font-size: 44px; }
		  }
		  .item-text { font-size: 28px; }
		}
		.middle-items { position: relative; padding-bottom: 135px; padding-top: 135px;
		  &:before { content: ''; display: block; position: absolute; top: 0; left: -20px; z-index: 0; width: calc(100% + 40px); height: 100%; background-image: url(../images/market-middle-bg.png); background-size: auto 100%; background-position: top center; }
		  .item { position: relative; z-index: 1; margin-bottom: 60px;
			.item-wrap { background-size: 240px; height: 190px;
			  .item-big-number { font-size: 75px; top: 45px; left: -47px; }
			  .item-title { right: 15px; top: 45px;
				p { font-size: 49px; letter-spacing: -2.5px; }
				span { font-size: 19px; }
			  }
			}
			.item-text { font-size: 36px; text-align: left; }
		  }
		}
	  }
	}

	.market-bottom { width: 100%; margin: 0 auto 0px auto; position: relative; background-color: transparent;
	  &:before { content: ''; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: calc(100% - 220px); background-color: #c0a263; }
	  &.first { padding-top: 65px; margin-bottom: 105px; max-width: 540px; background-color: transparent;
		&:before { display: none; }
		.middle-text { max-width: none; }
		.item-title { margin-bottom: 90px;
		  h2 { font-size: 42px; }
		}
		.items-list { margin-bottom: 0;
		  .item-center { line-height: 1.25;
			b { font-size: 28px; }
		  }

		  .item-list { margin-bottom: 0;
			ul { list-style-type: none;
			  li { text-align: center; font-size: 28px; }
			}
		  }

		}
	  }
	  .bottom-text { padding-top: 0; padding-bottom: 170px;

		.middle-text { max-width: 500px;
		  .item-title {
			&:after { height: 6px; }
		  }
		  .item-text { margin-bottom: 70px;
			p { font-size: 28px; line-height: 1.25; margin-bottom: 25px; }
			b { font-size: 28px; }
		  }
		  .item-button { padding-top: 0;
			.button { max-width: 340px; height: 60px; font-size: 25px; line-height: 59px; }
		  }
		}
	  }
	}

  }

  // succes popup
  .call-success {
	.call_success { padding: 20px 30px;
	  .call-title { font-size: 32px; margin-bottom: 10px; }
	  .call-subtitle { font-size: 24px; }
	}
  }

  // login popup
  .login { width: 360px; height: auto; margin: 0 auto;
	.login-buttons a { margin: 0 18px; }
  }

  // contacts
  .contacts-page.parallax-page {
	&.first-type {
	  .parallax-block {
		.parallax-blur {
		  .parallax-image-top {
			img { width: 250%; }
		  }
		}
	  }
	}
  }

  .contacts {
	.contacts-wrap { padding-top: 115px; padding-bottom: 175px; }
	.contact-text {
	  .title { margin-bottom: 40px; padding-bottom: 0;
		&:after { display: none; }
		h1 { font-size: 52px; }
	  }
	  p { font-weight: 300; font-size: 28px; line-height: 1.5; max-width: none; }
	}
	.contact-form-row { margin-bottom: 25px;
	  &:last-child { margin-bottom: 0; }
	  .form_input { text-align: center;
		input { font-size: 24px; font-weight: 300; font-family: 'Roboto', sans-serif;
		  &::-webkit-input-placeholder { font-weight: 100; }
		  &:-moz-placeholder { font-weight: 100; opacity: 1; }
		  &::-moz-placeholder { font-weight: 100; opacity: 1; }
		  &:-ms-input-placeholder { font-weight: 100; }
		}
	  }
	  .errorText { position: relative; left: auto; top: auto; transform: translateY(0px); }

	  &.submit { padding-top: 97px;
		button { width: 340px; height: 60px; font-size: 25px; }
	  }

	}
  }

  //ad-formats
  .ad-formats {

	.ad-formats-text { margin-bottom: 75px;
	  .title { padding-bottom: 0; margin-bottom: 30px;
		&:after { display: none; }
		h1 { font-size: 52px; }
	  }
	  p { font-size: 28px; line-height: 1.25; font-weight: 300; }
	}

	.ad-formats-items {
	  .item { width: 100%; padding-top: 45px; height: auto; margin-bottom: 90px;
		&:last-child { margin-bottom: 0; }
		.item-img { display: block; margin-bottom: 60px; }
		.item-title { padding-top: 0; font-size: 37px; margin-bottom: 50px; }
		.item-button { padding-top: 0; padding-bottom: 0; margin-bottom: 75px;
		  a { width: 250px; height: 43px; border-radius: 50px; font-size: 18px; font-weight: 100; background-color: #e0957a;
			&:hover { background-color: #c37051; }
		  }
		}
	  }
	}

	.ad-formats-yellow-block { margin-top: 0;
	  .ad-formats-yellow-block-wrap { padding-bottom: 170px;
		.item {
		  &.right { margin-bottom: 45px;
			.item-img { margin-top: -85px; }
		  }
		  &.left {
			.item-title {
			  h2 { margin: 0 0 25px 0; font-size: 37px; }
			}
			.item-text { font-size: 28px; line-height: 1.25; font-family: 'Proxima Nova', sans-serif; margin-bottom: 55px; }
			.item-button { padding-top: 0;
			  a { max-width: 340px; height: 60px; font-size: 25px; line-height: 59px; font-weight: 400; }
			}
		  }
		}
	  }
	}

  }

  //advertising
  .advertising {

	.advertising-wrap {

	  & > .title { padding-top: 75px; padding-bottom: 0; margin-bottom: 40px;
		&:after { display: none; }
		h1 { font-size: 52px; }
	  }

	  .advertising-text { max-width: 520px; padding: 0 10px; font-size: 28px; font-weight: 300; margin-bottom: 210px; }

	}

	.advertising-middle { margin-bottom: 150px;
	  .advertising-items {
		.item { margin-bottom: 200px;
		  &:hover {
			.item-img {
			  .item-img-wrap { transform: scale(1); }
			}
		  }
		  &:last-child { margin-bottom: 0; }
		  .item-img { width: 460px; height: 440px; margin-bottom: 50px;
			.item-img-wrap { top: -110px;
			  img { max-width: none; }
			}
			.item-img-text { font-size: 37px; left: 60px; bottom: 60px; text-transform: uppercase; }
		  }
		  &.item-1, &.item-2, &.item-3 {
			.item-img {
			  .item-img-wrap { top: -110px;
				img { max-width: none; }
			  }
			}
			.item-text { width: 100%; margin-bottom: 65px; }
		  }
		  .item-text { max-width: 460px; width: 100%; margin-bottom: 65px; display: block;
			p { margin-bottom: 20px; }
			p, a { font-size: 30px; }
		  }
		  .item-button {
			.button { max-width: 340px; height: 60px; font-size: 25px; line-height: 60px; text-transform: uppercase; font-weight: 300; }
		  }
		  ul {
			li { font-size: 30px;
			  &:after { width: 15px; height: 15px; border-left: 5px solid #000; border-bottom: 5px solid #000; top: 19px; }
			}
		  }
		}
	  }
	}

	.advertising-bottom { padding-top: 130px; padding-bottom: 150px;
	  .advertising-bottom-text { font-size: 20px; max-width: 500px; }
	  .advertising-big-text { justify-content: flex-start; align-items: center; margin-bottom: 75px;
		.item { max-width: 500px;
		  .item-wrap { width: 100%; }
		  &.item-1 { margin-bottom: 35px;
			b { font-size: 90px; }
		  }
		  &.item-2 {
			ul { padding-left: 20px;
			  li { font-size: 24px;
				&:after { width: 15px; height: 15px; border-left: 5px solid #c1c2c3; border-bottom: 5px solid #c1c2c3; top: 8px; }
			  }
			}
		  }
		}
	  }
	  .advertising-bottom-button { padding-top: 0; padding-bottom: 0;
		.button { max-width: 340px; height: 60px; font-size: 25px; line-height: 60px; }
	  }
	}

  }

  //creatives
  .creatives-global {
	.creatives-page {

	  .main-wrap {
		&.reverse {
		  .column-list-wrap {
			.column-title { border: none; padding-bottom: 0; margin-bottom: 65px;
			  h1 { font-size: 52px; }
			}
		  }
		}
		&.tabs {
		  .left-column { margin-bottom: 90px; }
		}
	  }

	  .column-list-wrap { padding-top: 90px;
		.column-list { padding-top: 0; padding-bottom: 0;
		  .column-list-main { max-width: 400px; margin: 0 auto;
			li { width: 100%; margin-right: 0; margin-left: 0;
			  &.active {
				&:after { background-color: #fff; }
			  }
			  a { font-size: 25px; height: auto; justify-content: center; }
			}
		  }
		}
	  }

	}
  }

  //monetization
  .monetization {

	.monetization-wrap { padding-top: 70px; padding-bottom: 0px;

	  .title { padding-bottom: 0; margin-bottom: 40px;
		&:after { display: none; }
		h1 { font-size: 52px; }
	  }

	}

	.monetization-middle { margin-bottom: 170px;
	  .monetization-text { max-width: 500px; font-size: 28px; padding: 0; margin-bottom: 80px; }
	  .monetization-items {
		.item { width: 100%; margin: 0 0 90px 0; max-width: 460px; padding: 50px 20px 65px 20px;
		  &:last-child { margin: 0; }
		  .item-img { height: auto; margin-bottom: 90px; }
		  .item-title { font-size: 36px; font-family: 'ProximaNovaNew', sans-serif; font-weight: 700; padding-bottom: 35px; margin-bottom: 35px;
			&:after { bottom: 0; height: 6px; width: 60px; }
		  }
		  .sub-title { font-size: 26px; margin-bottom: 0; }
		}
	  }
	}

	.monetization-bottom { margin: 0 -20px; padding: 105px 20px 170px 20px; background-image: url(../images/body-background.png); background-color: #515151;
	  .monetization-bottom-text { padding: 0px 0 65px 0; margin-bottom: 90px; max-width: 500px;
		&:before { bottom: 0; max-width: 460px; height: 4px; }
		&:after { top: 0; display: none; }
		p { line-height: 1.25; font-size: 28px; }
	  }
	  .title { max-width: 500px; margin-bottom: 50px;
		h2 { font-size: 46px; }
	  }
	  .monetization-list { padding-top: 0; max-width: 460px; width: 100%; margin-bottom: 100px;
		ul { margin-top: 0; margin-bottom: 0;
		  li { padding-left: 30px; font-size: 22px;
			&:after { width: 15px; height: 15px; border-left: 5px solid #c1c2c3; border-bottom: 5px solid #c1c2c3; top: 15px; }
		  }
		}
	  }
	  .monetization-button { padding-top: 0;
		.button { max-width: 340px; height: 60px; line-height: 60px; font-size: 25px; margin-bottom: 32px;
		  &:last-child { margin-bottom: 0; }
		}
	  }
	}

  }

}
@media screen and (max-width: 479px) {

  // succes popup
  .call-success {
	.call_success {
	  .call-title { font-size: 26px; }
	  .call-subtitle { font-size: 20px; }
	}
  }

  // monetization
  .monetization {
	.title h1, .title h2, .title h3, .title .h1, .title .h2, .title .h3 { font-size: 40px; }

	.monetization-bottom .monetization-list ul li { padding-left: 30px; }

	.monetization-wrap { padding-top: 40px;
	  .title { margin-bottom: 20px;
		h1 { font-size: 36px; }
	  }
	}

	.monetization-middle { margin-bottom: 70px;
	  .monetization-text { font-size: 18px; margin-bottom: 40px; }
	  .monetization-items {
		.item { padding: 25px 15px 25px 15px; margin: 0 0 45px 0;
		  .item-img { margin-bottom: 20px; }
		  .item-title { font-size: 24px; padding-bottom: 15px; margin-bottom: 15px;
			&:after { height: 3px; }
		  }
		  .sub-title { font-size: 20px; }
		}
	  }
	}

	.monetization-bottom { padding: 50px 20px 50px 20px;
	  .monetization-bottom-text { padding: 0 0 35px 0; margin-bottom: 40px;
		&:before { height: 3px; }
		p { font-size: 18px; }
	  }
	  .title {
		h2 { font-size: 26px; }
	  }
	  .monetization-list { margin-bottom: 40px;
		ul {
		  li { padding-left: 20px; font-size: 18px;
			&:after { width: 9px; height: 9px; border-left: 3px solid #c1c2c3; border-bottom: 3px solid #c1c2c3; top: 13px; }
		  }
		}
	  }
	  .monetization-button {
		.button { max-width: 200px; height: 37px; font-size: 17px; line-height: 37px; }
	  }
	}

  }

  // advertising
  .advertising {
	.advertising-middle {
	  .advertising-items {
		.item {
		  &.item-3 {
			.item-img .item-img-wrap.item-3 { right: -4px; }
		  }
		  .item-text { text-align: center;
			ul { text-align: left;
			  li {
				&:after { top: 11px; }
			  }
			}
		  }
		}
	  }
	}
	.advertising-bottom {
	  .advertising-bottom-text { font-size: 20px; }

	}
  }

  // asian-market-page
  .asian-market-page {

	.title h1, .title h2, .title h3, .title .h1, .title .h2, .title .h3 { font-size: 40px; }
	.market-middle-text-wrapper .market-middle-text .middle-text .item-title h2, .market-bottom.first .item-title h2, .market-bottom .bottom-text .middle-text .item-title h2 { font-size: 28px; }
	.market-bottom.first .items-list { margin-bottom: 70px; }

	.market-middle-text-wrapper {
	  .market-middle-text {
		.middle-text {
		  .item-text { font-size: 18px; }
		}
	  }
	}

	.title { margin-bottom: 20px; }

	.sub-title { font-size: 18px; margin-bottom: 50px; }

	.market-top-text {
	  .item {
		&.right { font-size: 18px; }
	  }
	}

	.button {
	  &.button-yellow { max-width: 200px; height: 37px; line-height: 37px; font-size: 17px; }
	}

	.market-middle-text-wrapper { padding-top: 50px;
	  .market-middle-text { margin-bottom: 0;
		.middle-text { margin: 0 auto 55px auto;
		  .item-title { margin: 0 0 0px 0; }
		}
		.middle-items {
		  .item {
			.item-wrap { height: 155px; background-size: auto auto;
			  .item-big-number { font-size: 62px; top: 41px; left: -28px; }
			  .item-title { right: 30px; top: 45px;
				p { font-size: 36px; }
				span { font-size: 16px; }
			  }
			}
			.item-text { font-size: 22px; padding-left: 20px; }
		  }
		}
	  }
	}

	.market-bottom {
	  &:before { height: calc(100% - 140px); }
	  &.first { padding-top: 30px; margin-bottom: 75px;
		.item-title { margin-bottom: 30px; }
		.items-list { margin-bottom: 0;
		  .item-center {
			b { font-size: 18px; }
		  }
		  .item-list {
			ul {
			  li { font-size: 18px; }
			}
		  }
		}
	  }

	  .bottom-text { padding-bottom: 80px;
		.middle-text {
		  .item-title {
			&:after { height: 3px; }
		  }
		  .item-text { margin-bottom: 40px;
			p { font-size: 18px; }
			b { font-size: 18px; }
		  }
		  .item-button {
			.button { max-width: 200px; height: 37px; line-height: 37px; font-size: 17px; }
		  }
		}
	  }

	}

  }

  //ad-formats
  .ad-formats {

	.ad-formats-text { padding-top: 45px; margin-bottom: 40px;
	  .title { margin-bottom: 15px;
		h1 { font-size: 36px; }
	  }
	  p { font-size: 18px; }
	}

	.ad-formats-items-wrap { margin-bottom: 150px;
	  .ad-formats-items {
		.item {
		  .item-img { min-height: 0; margin-bottom: 20px; padding: 0 20px; height: 155px;
			img {
			  &.fon { max-width: calc(100% - 40px); }
			}
		  }
		  .item-title { font-size: 24px; margin-bottom: 20px; }
		  .item-button { margin-bottom: 30px;
			a { width: 200px; height: 37px; font-size: 16px; }
		  }
		}
	  }
	}

	.ad-formats-yellow-block {
	  .ad-formats-yellow-block-wrap { padding-bottom: 70px;
		.item {
		  &.left {
			.item-title {
			  h2 { font-size: 28px; }
			}
			.item-text { font-size: 18px; margin-bottom: 35px; }
			.item-button {
			  a { max-width: 250px; height: 37px; line-height: 38px; font-size: 17px; }
			}
		  }
		}
	  }
	}

  }

  .login { width: 100%;
	.login-wrap { padding-left: 15px; padding-right: 15px; padding-top: 35px;

	  .login-buttons { justify-content: space-between; padding-bottom: 35px;
		a { margin: 0; }
	  }
	  .login-items {
		p, .item-hr { margin-bottom: 23px; }
	  }
	}
  }

  //contacts
  .contacts {
	.contacts-wrap { padding-top: 75px; padding-bottom: 100px; }
	.contact-text {
	  .title { margin-bottom: 25px;
		h1 { font-size: 40px; }
	  }
	  p { font-size: 18px; line-height: 1.25; }
	}
	.contact-form { padding-top: 40px; }
	.contact-form-row { margin-bottom: 10px;
	  &.row-radio {
		.form_input { flex-direction: column;
		  label { margin: 0 0 15px; }
		}
	  }
	  .form_input {
		input { font-size: 18px; }
	  }
	  &.submit { padding-top: 40px;
		button { width: 200px; height: 37px; font-size: 17px; }
	  }
	}
  }

  //advertising
  .advertising {

	.advertising-wrap {
	  & > .title { padding-top: 45px; margin-bottom: 30px;
		h1 { font-size: 36px; }
	  }
	  .advertising-text { font-size: 18px; margin-bottom: 175px; }
	}

	.advertising-middle { margin-bottom: 50px;
	  .advertising-items {
		.item { margin-bottom: 150px;
		  &:hover {
			.item-img {
			  .item-img-wrap { top: 0; transform: scale(1) translate(50%, -40%); }
			}
		  }
		  &.item-1, &.item-2, &.item-3 {
			.item-img {
			  .item-img-wrap { top: 0;
				&.item-1, &.item-2, &.item-3 { right: 50%; }
				img { max-width: 250px; }
			  }
			}
			.item-text { margin-bottom: 25px; }
		  }
		  .item-img { width: 280px; height: 270px; background-position: center top; margin-bottom: 25px;
			.item-img-wrap { right: 50%; transform: translate(50%, -40%); top: 0;
			  &.item-1 { right: 50%; }
			  img { max-width: 250px }
			}
			.item-img-text { left: 20px; bottom: 33px; font-size: 32px; }
		  }
		  .item-text { margin-bottom: 25px;
			ul { padding-left: 10px;
			  li { font-size: 18px; padding-left: 22px;
				&:after { border-left: 3px solid #000; border-bottom: 3px solid #000; width: 9px; height: 9px; }
			  }
			}
			p, a { font-size: 18px; }
			p { margin-bottom: 10px; }
		  }
		  .item-button {
			.button { max-width: 200px; height: 37px; line-height: 37px; font-size: 17px; }
		  }

		}
	  }
	}

	.advertising-bottom { padding-bottom: 70px; padding-top: 90px;
	  .advertising-bottom-text { font-size: 18px; padding: 0; padding-bottom: 20px; margin-bottom: 25px; }
	  .advertising-big-text {
		.item {
		  &.item-1 {
			b { font-size: 42px; }
		  }
		}
	  }
	  .advertising-big-text { margin-bottom: 40px;
		.item {
		  &.item-1 { margin-bottom: 15px; }
		  &.item-2 {
			ul { padding-left: 0;
			  li { font-size: 18px; padding-left: 22px;
				&:after { width: 9px; height: 9px; border-left: 3px solid #c1c2c3; border-bottom: 3px solid #c1c2c3; top: 9px; }
			  }
			}
		  }
		}
	  }
	  .advertising-bottom-button {
		.button { max-width: 200px; height: 37px; font-size: 17px; line-height: 37px; }
	  }
	}

  }

  //creatives
  .creatives-global {
	.creatives-page {

	  .main-wrap {
		&.reverse {
		  .column-list-wrap { padding-top: 30px;
			.column-title { margin-bottom: 40px;
			  h1 { font-size: 36px; }
			}
		  }
		}
		&.tabs {
		  .left-column { margin-bottom: 45px; }
		}
	  }

	  .column-list-wrap {
		.column-list {
		  .column-list-main {
			li {
			  a { font-size: 18px; line-height: 1.25; }
			}
		  }
		}
	  }

	}
  }

  //news-page
  .news-page { padding-top: 40px;

	.news-page-title { padding: 30px 10px 30px 10px;
	  .news-page-title-wrap {
		& > p { font-size: 18px; padding: 5px 10px; }
		.news-page-title-second { padding: 30px 10px;
		  h1, p { font-size: 26px; }
		}
	  }
	}

	.news-page-middle {
	  .news-page-text { margin-bottom: 60px;
		.news-page-text-article { padding: 0 10px 20px 10px;
		  p { font-size: 16px; margin: 0 0 15px 0;
			strong { font-size: 16px; }
		  }
		  blockquote { font-size: 20px; padding: 0; margin: 0 0 15px 7.5%;
			&:after { width: 2px; height: calc(100% + 15px); top: -7.5px; }
		  }
		}
		.social-conteiner { padding: 0 10px 30px 10px; margin-bottom: 40px;
		  a { max-width: 40px; margin-right: 10px; }
		}
		.news-page-pagination { padding: 45px 10px 0 10px;
		  a { font-size: 18px; text-align: center;
			&.button-next, &.button-prev {
			  &:after { width: 25px; height: 25px; border-right: 6px solid #888888; border-top: 6px solid #888888; left: calc(50% - 10px); }
			}
		  }
		}
	  }
	  .news-page-aside {
		.news-page-aside-title { font-size: 22px; margin-bottom: 10px; }
		.news-page-aside-items {
		  .item { margin-bottom: 45px;
			&:last-child { margin-bottom: 0; }
			.item-img { height: 130px; margin-bottom: 15px; }
			.item-title { font-size: 20px; }
			.item-date { font-size: 18px; }
		  }
		}
	  }
	}

  }

  .login .write-message-title { font-size: 20px; }

}
@media screen and (max-width: 390px) {
  // new page
  /*
    .news-page{
        .news-page-title{padding: 35px 15px 15px;
            .news-page-title-wrap{
                &>p{font-size: 18px;padding: 3px 10px;}
                .news-page-title-second{padding: 28px 10px;
                    .h1,h1,h2,h3{font-size: 30px;}
                    p{font-size: 29px;}
                }
            }
        }
        .news-page-middle{
            .news-page-text{
                .news-page-text-article{
                    blockquote{margin-left: 10%;}
                }
                .news-page-pagination{padding: 0;}
            }

        }
    }
    */
  // button right end left
  a.button-prev, a.button-next { font-size: 16px; padding-left: 15px;
	&:after { width: 25px; height: 25px; top: 40%; left: 0; }
	&:hover {
	  &:after { left: -5px; }
	}
  }
  a.button-next { padding-left: 0; padding-right: 15px;
	&:after { transform: translateY(-50%) rotate(45deg); left: auto; right: 0; }
	&:hover {
	  &:after { left: auto; right: -5px; }
	}
  }

}