@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

    /* login */

        .login{ padding-top: 0;
            .conteiner{padding-top: 0;}
        } 

    /* login */

}
@media screen and (max-width: 666px){
    /* login */

        .login .conteiner .tabber .tab-content{min-height: 450px;}

    /* login */

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}