@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* column-list */

        .column-list-wrap{padding-top: 20px;

            .column-title{min-height:0;text-align: center;padding-bottom: 5px;}

            .column-list{display: flex;justify-content: space-between;align-items: center;
                .column-list-title{padding-left: 0;margin-bottom: 0;padding-right:10px;}
                .column-list-main{
                    ul{display: flex;justify-content: flex-start;align-items: center;flex-wrap:wrap;
                        li{margin-right: 10px;
                            &:last-child{margin-bottom: 10px;margin-right: 0;}
                            a{padding-left: 5px;padding-right: 5px;
                                span{width:100%;height:3px;top:100%;}
                            }
                        }
                    }
                }
            }

        }

    /* /column-list */

    /* event-list, careers-list */

        .info-list{padding:30px 0 50px 0;}

    /* /event-list, careers-list */

}
@media screen and (max-width: 767px){

    /* column-list */

        .column-list-wrap{
            .column-list{display: block;padding-top: 15px;
                .column-list-title{text-align: center;margin-bottom: 10px;padding-right: 0;}
                .column-list-main{
                    ul{justify-content: center;}
                }
            }
        }

    /* /column-list */

    /* news-list */

        .news-list{padding-top: 30px;margin-bottom: 50px;
            .news-list-items-wrap{margin-bottom: 20px;
                .news-list-item{width:calc(50% - 10px);margin-bottom: 20px;
                    .news-list-item-content-main{padding:30px 10px 15px 15px;
                        .news-list-item-title{padding-top: 0;
                            h6{padding-left: 15px;}
                        }
                    }
                }
            }
        }

    /* /news-list */

    /* event-list, careers-list */

        .info-list{

            .info-list-wrap{margin-bottom: 20px;
                .info-list-item{width: 47.5%;margin-right:5%;
                    &:nth-child(2n){margin-right: 0;}
                    &:nth-child(3n){margin-right:5%;}
                }
            }

        }

    /* event-list, careers-list */

}
@media screen and (max-width: 666px){

    /* news-list */

        .news-list{
            .news-list-items-wrap{display: block;margin-bottom: 40px;
                .news-list-item{width:100%;
                    .news-list-item-content-main{min-height: 0;
                        .news-list-item-content-wrap{display: block;
                            .news-item-list-content{width: 100%;}
                            .news-list-item-arrow{margin-bottom: 15px;
                                span{margin:0 auto;transform:rotate(135deg);left:0;top:0;}
                            }
                        }
                    }
                    &:hover{
                        .news-list-item-content-main{
                            .news-list-item-content-wrap{
                                .news-list-item-arrow{
                                    span{top: 10px;left:0;}
                                }
                            }
                        }
                    }
                }
            }
        }

    /* /news-list */

}
@media screen and (max-width: 479px){

    /* event-list, careers-list */

        .info-list{

            .info-list-wrap{
                .info-list-item{width: 100%;margin-right: 0;
                    &:nth-child(3n){margin-right: 0;}
                }
                .info-list-item-wrap{
                    .info-list-item-bottom{
                        .info-list-item-content{
                            p{justify-content: center;}
                        }
                    }
                }
            }

        }

    /* /event-list, careers-list */

}
@media screen and (max-width: 320px){

}