@media screen and (min-width: 667px){

    /* header */

        header{
            .menu{
                li{
                    a{
                        .link-wrap{
                            &:after{content:'';display: block;position: absolute;top:100%;left:0;height: 1px;width: 100%;background-color: #ca8000;transform:scale(0);transition:all 300ms ease;}
                        }
                        &:hover{color: #ca8000;
                            span{
                                &:after{transform:scale(1);}
                            }
                        }
                    }
                }
            }
        }

    /* /header */

}

@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1220px){
    .partners{

        .slick-prev{ left: -22px;}
        .slick-next{ right: -18px;}
    }
}

@media screen and (max-width: 1024px){
    .title-filter {
        .title{ padding-right:20px; width: 210px;}
        .menu-filter {width: calc(100% - 210px); padding-right: 0;
            ul {flex-wrap: wrap; }
            li{ padding: 0 15px;}
        }
    }
}

@media screen and (max-width: 992px){

    header{

        .header{height: 60px;}

        .logo{width: calc(100% - 550px);max-width: 230px;}

        .menu{
            .menu-wrap{
                li{
                    a{padding:10px 15px 10px 15px;font-size: 14px;}
                }
                .second-level{
                    .mobile-arrow{right: 0;}
                    ul{top:calc(100% + 9px);}
                }
            }
        }

        .laguages-wrap{
            .language-choose{
                a{font-size: 14px;}
            }
        }

        .login-wrap{
            a{font-size: 14px;
                .log-in-icon{}
            }
        }

    }

    .expertise{
        .content{
            .img{
                .img-wrap{height: 280px;
                    .img-wrap-text{
                        p{font-size: 38px;
                            b{font-size: 26px;}
                        }
                    }
                }
            }
            .row-wrap{
                .left-col{width:280px;height: 280px;}
                .right-col{width: calc(100% - 280px);}
                &.row-reverse{
                    .left-col{width: calc(100% - 400px);}
                    .right-col{width: 400px;height: 260px;
                        .img-wrap{height: 260px;}
                    }
                }
            }
        }
    }

    .partners {
        .slider-partners {

            .item {
                &:before { width: 100%; height: 100%; border: 5px solid transparent; background-color: #fff; }
            }
        }
    }
    .creatives{ padding-top: 20px;
         .creatives-wrap .tab-item{justify-content: space-around;}
    }
}

@media screen and (max-width: 767px){

    .expertise {

        .content{
            .row{flex-wrap: wrap; min-height: 1px;}
            .img{ width: 100%; height: auto;
                img{ position: relative; top: auto; left: auto; transform: none;}
                .img-wrap{ position: relative; top: auto; height: auto; text-align: center;}
                &:hover{
                    img{
                        &.col-img-bg{transform:none; }
                    }
                }
            }
            .row-wrap{
                &:nth-child(2n){
                    .row{min-height: 1px;}
                    .img{.img-wrap{ height: auto;}}
                }
                .row{flex-direction:column;
                    .left-col{height: auto;width: auto; img{height: auto;}}
                    .right-col{width: 100%; img{height: auto;}}
                }
                &.row-reverse{
                    .row{flex-direction:column-reverse;
                        .left-col{width: 100%;}
                        .right-col{height: auto;width: auto;}
                    }
                }
            }
            .txt{ padding: 30px; width: 100%;
                &.right-col,
                &.left-col{ padding: 30px;box-shadow:none;}
                }

        }
    }

    .news{
        .col{margin-bottom: 0;}
        .button-col{margin-top: 30px;}
        .banner{margin-bottom: 30px;}
        .row{display:block;text-align: center;}
        .news-b{margin:0 auto 70px auto;width:100%;max-width: 380px;}
        .event, .careers{display:inline-block;margin:0 20px 70px 20px;}
    }

}

@media screen and (max-width: 666px){

    header{z-index: 10;height: 90px;
        .header{align-items: center;justify-content: space-between;height: 90px;}

        .logo{width: 280px;}

        .menu{ display: none; background-color: rgba(0, 0, 0, .9); z-index: 10; width: calc(100% + 60px);position: absolute; top: 90px; left: -20px;height: calc(100vh - 90px);overflow-y:scroll;overflow-x:hidden;padding-top: 35px;
            .menu-wrap{display: block;
                li{ width: 100%; padding: 0;text-align: center;margin-bottom: 0px;display: flex;justify-content: center;align-items: center;flex-direction:column;transition:all 300ms ease;
                    &.hov{background-color: #ffa025;}
                    &:first-child{
                        a{padding:0;display: inline-block;}
                    }
                    p{max-width: 430px;width: 100%;text-align: left;margin:0 auto;padding-left: 10px;}
                    a{font: 300 42px/1.25 'ProximaNovaScOsf'; padding: 7px 0;display: inline-block;vertical-align: middle;padding:0;display: inline-block;color:#fff;
                        span{display: block;}
                        .fa-exclamation-circle{font-size: 22px;color:#fff;}
                    }
                }
                .second-level{
                    ul{border-width: 1px 0;border-style:solid;border-color:#ccc transparent;width: 100%;background-color: #fff;left:0;padding:0;position: relative;top:0;border: none;
                        li{margin-bottom: 0;background-color: #fff;
                            &.hov{background-color: #ffa025;
                                a{color:#fff;}
                            }
                            &:first-child{
                                a{padding: 5px 0 2px 0;}
                            }
                            &:last-child{
                                a{padding:2px 0 5px 0;}
                            }
                            a{padding:2px 0 2px;color:#585858;transition:all 300ms ease;}
                        }
                    }
                    .mobile-arrow{position: relative;display: inline-block;width: 25px;height: 15px;border:none;transform:translate(0, 25%);margin-left: 5px;
                        &:before, &:after{content:'';display: block;position: absolute;width: 19px;height: 3px;background-color: #fff;border-radius: 5px;top:0;transition:all 300ms ease;}
                        &:before{left:0;transform-origin:0 50%;transform:rotate(45deg);}
                        &:after{right:0;transform-origin:100% 50%;transform:rotate(-45deg);}
                    }
                    &.hovered{background-color: #a9701d;
                        .mobile-arrow{transform:rotateX(-180deg) translate(0, -25%);}
                    }
                }
            }

            .laguages-wrap{max-width: 430px;width: 100%;text-align: left;margin: 0 auto;justify-content: flex-start;
                .language-choose{padding:0 18px;margin-left: -8px;
                    &:first-child{
                        &:after{height: 30px;width: 2px;background-color: #fff;top:17px;}
                    }
                    &:last-child{margin-left: 0;}
                    a{font-size: 42px;color:#ffa025;
                        .link-wrap{
                            &:after{display: none;}
                        }
                    }
                    &:not(.active){
                        a{color:#fff;
                            &:hover{
                                .link-wrap{color:#ffa025;}
                            }
                        }
                    }
                }
            }

        }

        .login-wrap{
            a{
                .log-in-icon{margin-right: 0;
                    img{max-width: none;}
                }
                .log-in-text{display: none;}
            }
        }

        .butter{ display: block;}
    }

    .expertise{padding:0 0 65px 0;position:relative;z-index: 2;margin-top: -75px;
        .title-filter{
            .title{float: none;width: 100%;margin-bottom: 20px;padding-right: 0;
                h2{text-align: center;font-size: 60px;}
                &:after{width: 100%;height: 3px;top:100%;max-width: 390px;left:50%;transform:translate(-50%, 0);}
            }
            .menu-filter{width: 100%;max-width: 390px;margin:0 auto;float:none;
                li{
                    a{font-size: 24px;}
                }
            }
        }
        .content{max-width: 460px;margin:0 auto;
            .row-wrap{
                .row{
                    .left-col{width: 100%;}
                }
            }
            .img{
                .img-wrap{text-align: left;}
            }
            .txt{
                &.right-col, &.left-col{padding:50px 10px 10px 60px;}
                b{font-size: 40px;line-height: 1;}
                p{font-size: 22px;font-weight: 100;}
                ul{font-size: 24px;
                    a{padding-left: 20px;
                        .fa{top:9px;}
                    }
                }
                p{
                    a{display: inline-block;font-size: 22px;margin-left:20px;}
                }
            }
        }
    }

}
@media screen and (max-width: 530px){
    .title-filter {
        .title{ float: none; margin-bottom: 20px;}
        .menu-filter {width: 100%;float: none;}
    }
}
@media screen and (max-width: 479px){

    .expertise{
        .title-filter{
            .title{
                h2{font-size: 36px;}
            }
            .menu-filter{
                li{
                    a{font-size: 18px;}
                }
            }
        }
        .content{
            .txt{
                &.right-col, &.left-col{padding:30px 10px 20px 10px;}
                b{font-size: 28px;}
                p{font-size: 18px;
                    a{font-size: 18px;}
                }
                ul{
                    li{font-size: 18px;
                        a{
                            .fa{top:6px;}
                        }
                    }
                }
            }
        }
    }

}
@media screen and (max-width: 320px){

}