@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1220px){
    .partners{

        .slick-prev{ left: -22px;}
        .slick-next{ right: -18px;}
    }
}
@media screen and (max-width: 1024px){
    .title-filter {
        .title{ padding-right:20px; width: 210px;}
        .menu-filter {width: calc(100% - 210px); padding-right: 0;
            ul {flex-wrap: wrap; }
            li{ padding: 0 15px;}
        }
    }
 }
@media screen and (max-width: 992px){

    header{z-index: 10;
        .header{align-items: center;justify-content: center;height: 60px;}

        .logo{width: auto;}

        .menu{ display: none; background-color: #fff; z-index: 10; padding-bottom: 30px; width: 100%; position: absolute; top: 60px; left: 0;
            li{ width: 100%; padding: 0;text-align: center;margin-bottom: 10px;
                &:first-child{
                    a{
                        &:not(.log-in):not(.language-choose){padding:0;display: inline-block;}
                    }
                }
                a{font: 300 28px/1.25 'ProximaNovaScOsf'; padding: 7px 0;display: inline-block;vertical-align: middle;
                    &:not(.log-in):not(.language-choose){padding:0;display: inline-block;
                        span{display: block;}
                    }
                    &:nth-child(2){ padding-left: 7px; margin-left: 7px;
                        &:before{ top: 12px; height: calc(100% - 24px); }
                    }
                    &.log-in{display: inline-block;
                        .log-in-text{font-size: 24px;display: inline-block;margin-top: -7px;}
                        .log-in-icon{display: inline-block;}
                    }
                    &.language-choose{
                        &:first-child{margin-left:0;}
                        &:last-child{margin-right: 0;}
                    }
                    &.log-in{margin-left: 0;}
                }
            }
            .second-level{
                ul{border-width: 1px 0;border-style:solid;border-color:#ccc transparent;width: 100%;left:0;padding:0;
                    li{margin-bottom: 0;}
                }
                .mobile-arrow{position: relative;display: inline-block;top:auto;left: 5px;transform:translate(0, 0);}
            }
        }
        .butter{ display: block;}
    }

    .expertise{
        .content{
            .img{
                .img-wrap{height: 280px;
                    .img-wrap-text{
                        p{font-size: 38px;
                            b{font-size: 26px;}
                        }
                    }
                }
            }
            .row-wrap{
                .left-col{width:280px;height: 280px;}
                .right-col{width: calc(100% - 280px);}
                &.row-reverse{
                    .left-col{width: calc(100% - 400px);}
                    .right-col{width: 400px;height: 260px;
                        .img-wrap{height: 260px;}
                    }
                }
            }
        }
    }

    .partners {
        .slider-partners {

            .item {
                &:before { width: 100%; height: 100%; border: 5px solid transparent; background-color: #fff; }
            }
        }
    }

}
@media screen and (max-width: 767px){

    .expertise {

        .content{
            .row{flex-wrap: wrap; min-height: 1px;}
            .img{ width: 100%; height: auto;
                img{ position: relative; top: auto; left: auto; transform: none;}
                .img-wrap{ position: relative; top: auto; height: auto; text-align: center;}
                &:hover{
                    img{
                        &.col-img-bg{transform:none; }
                    }
                }
            }
            .row-wrap{
                &:nth-child(2n){
                    .row{min-height: 1px;}
                    .img{.img-wrap{ height: auto;}}
                }
                .row{flex-direction:column;
                    .left-col{height: auto;width: auto; img{height: auto;}}
                    .right-col{width: 100%; img{height: auto;}}
                }
                &.row-reverse{
                    .row{flex-direction:column-reverse;
                        .left-col{width: 100%;}
                        .right-col{height: auto;width: auto;}
                    }
                }
            }
            .txt{ padding: 30px; width: 100%;
                &.right-col,
                &.left-col{ padding: 30px;box-shadow:none;}
                }

        }
    }

    .news{
        .col{margin-bottom: 0;}
        .button-col{margin-top: 30px;}
        .banner{margin-bottom: 30px;}
        .row{display:block;text-align: center;}
        .news-b{margin:0 auto 70px auto;width:100%;max-width: 380px;}
        .event, .careers{display:inline-block;margin:0 20px 70px 20px;}
    }

}
@media screen and (max-width: 666px){

    .expertise{
        .title-filter{
            .title{float: none;width: 100%;margin-bottom: 20px;padding-right: 0;
                h2{text-align: center;}
                &:after{width: 100%;height: 3px;top:100%;}
            }
            .menu-filter{width: 100%;}
        }
    }

}
@media screen and (max-width: 530px){
    .title-filter {
        .title{ float: none; margin-bottom: 20px;}
        .menu-filter {width: 100%;float: none;}
    }
}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}