@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

    /* vacancy */
        .vacancy-wrap{
            .left-navi{width: 30%;
                .contr {margin: 0 auto; width: 90%;}
            }
            .right-conetein{
                .converter {margin-left: 30%;
                    .radi{max-width: 100%;}
                }
            }
        }
    /* vacancy */

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* vacancy */
        .legal-wrap .left-navi .contr .top-part{max-width: none;}
        .vacancy-wrap{
            .left-navi{ position: static; width: 100%; 
                .contr{display: flex; align-items: center; justify-content: space-between; padding: 20px;
                    .top-part{padding: 0; width: 30%; border: none; }
                    .bot-navi{ width: 60%;
                        ul{width: 100%; max-width: none; display: flex; align-items: stretch; justify-content: space-between; flex-wrap: wrap; padding: 0;
                            li{width: 50%; display: flex; align-items: center; justify-content: center; text-align: center;}
                        }
                    }
                }
            }
            .right-conetein .converter{ margin-left: 0;
                .radi .boxer{padding: 30px 15px;
                    &>ul>li { padding-top: 40px;
                        .after-block{
                            ul li { font-size: 16px; }
                            p {font-size: 16px;}
                        } 
                    }
                }
            }
        }

        .vacancy-wrap .smash {background-size: 3000px 3000px !important; background-position: top center; 
            &.blur-smash{ background-position:top center; }
        }
    /* vacancy */

}
@media screen and (max-width: 767px){

    /* login */

        .login{ padding-top: 0;
            .conteiner{padding-top: 0;}
        } 

    /* login */

    /* vacancy */

        .vacancy-wrap .left-navi{
            .contr{flex-wrap: wrap; 
                .top-part{width: 100%; text-align: center; padding-bottom: 20px; }
                .bot-navi { width: 100%;
                    ul li{text-align: center;}
                }
            }
        }
        .vacancy-wrap .right-conetein .row-for-all{flex-wrap: wrap; padding-top: 40px;
            .button-part{width: 100%;  margin-bottom: 20px;}
            .soc-part{width: 100%;
                .social-conteiner{justify-content: center;}
            }
        }

    /* vacancy */

}
@media screen and (max-width: 666px){
    /* login */

        .login .conteiner .tabber .tab-content{min-height: 450px;}

    /* login */

    /* vacancy */

        .vacancy-wrap .left-navi .contr .bot-navi ul li {  width: 100%; }

    /* vacancy */
    

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}