@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
    // creatives
    .creatives{
        .creatives-slider{padding-left: 55px;
            .slick-prev, .slick-next{height: 41px;width: 41px;
                &:after{width: 15px;height: 15px;top: 13px;right: 15px;}
            }
            .slick-prev{left: 10px;}
            .slick-prev:after{right: 12px;}
            .slick-next{right: 9px;}
        }
    }
}
@media screen and (max-width: 1295px){
    // creatives
    .creatives{
        .creatives-slider{
            .slick-prev, .slick-next{top: auto;bottom: -50px;
                &:after{}
            }
            .slick-prev{left: calc(50% - 50px)}
            .slick-prev:after{}
            .slick-next{right: calc(50% - 50px)}
        }
    }
}
@media screen and (min-width: 993px) and (max-width: 1280px){
    // creatives
    .creatives{
        .creatives-slider{margin-bottom: 100px;padding-left: 28px;margin-right: 0;
            .item .item-img .item-img-wrap{height: 140px;width: 140px;}
        }
    }
}
@media screen and (max-width: 1024px){
    // new page
    .news-page{
        .news-page-title{padding: 46px 15px;}
        .news-page-middle{
            .news-page-text{width: 65%;
                .news-page-pagination{padding: 0 30px;}
            }
        }
    }

    // advertising
    .advertising{
        .advertising-wrap{
            &>.title{padding-top: 55px;padding-bottom: 55px;}
        }
        .advertising-middle{margin-bottom: 80px;
            .advertising-items{
                .item{
                    .item-top{flex-direction: column;justify-content: center;padding-top: 25px;
                        .item-img{}
                        .item-title{width: 100%;text-align: center;padding-left: 0;padding-top: 10px;}
                    }
                    .item-bottom{padding-top: 25px;padding-bottom: 25px;}
                }
            }
        }
    }

}
@media screen and (max-width: 992px){
    // fancybox
    .fancybox-prev{left: -15%;}
    .fancybox-next{right: -15%;}

    // new page
    .news-page{
        .news-images-massonry{
            .item-sizer,.item{
                &.item-height{height: 150px;}
                &.item-height-big{height: 300px;}

                img{max-width: 100%;}
            }
        }
        .news-page-middle{flex-direction: column-reverse;
            .news-page-aside{width: 100%;
                .news-page-aside-items{
                    .item .item-img img{min-width: 100%;}
                }
            }
            .news-page-text{width: 100%;margin-bottom: 60px;
                .news-page-text-article{margin-bottom: 50px;}
                .social-conteiner{margin-bottom: 60px;}
                .news-page-pagination{}
            }
        }
    }

    // advertising
    .advertising{
        .advertising-wrap{
            &>.title{}
        }
        .advertising-middle{margin-bottom: 50px;
            .advertising-items{
                .item{width: 100%;margin-bottom: 20px;
                }
            }
        }
        .advertising-bottom{margin-bottom: 60px;
            .advertising-items{margin-bottom: 30px;
                .item{width: 100%;
                    &.left{margin-bottom: 30px;
                        .item-href a{background-color: #eb5776;}
                        .item-bottom-row{flex-direction: column;
                            .row-text{width: 100%;padding-left: 0;padding-top: 20px;}
                        }
                    }
                    &.right{
                        .item-bottom{padding-right: 5%;}
                        .item-bottom-row{flex-direction: column;margin-bottom: 0!important;height: auto !important;}
                        .item-bottom-row-mini{width: 100% !important;
                            .row-text{padding-left: 0 !important;text-align: left !important;}
                        }
                    }
                    .item-href{}
                    .item-top{padding-right: 0;padding-left: 33px;
                        .item-top-title{padding-top: 15px;padding-bottom: 15px;}
                        .item-top-text{max-width: 100%;min-height: 0;}
                    }
                    .item-bottom{padding-top: 30px;padding-right: 0;padding-right: 5%;padding-left: 5%;
                        .item-bottom-row .row-text{max-width: 100%;width: 90%;text-align: center;}
                        .item-bottom-row .row-img{width: 80px;height: 80px;}
                        &+.item-href{display: flex;width: 100%;padding-top: 40px;padding-bottom: 30px;}
                    }

                }
            }
            .advertising-items-href{display: none;}
        }
    }

    // asia market
    .market .market-middle-text .middle-items .item .item-wrap{width: 230px;}
    .market .market-middle-text .middle-items .item .item-big-number{font-size: 53px;}

    .market .market-top-text{margin-bottom: 110px;}
    .market .market-middle-text{margin-bottom: 100px;}
    .market .middle-text-next{margin: 0 auto 100px;}

    // contacts
    .contacts{
        .contacts-wrap{padding-top: 175px;}
        .contact-form-row{
            .form_input{text-align: center;}
            .errorText{position: relative;left: auto;top: auto;transform: translateY(0);}
        }
    }

    // creatives page
    .main-wrap{
        &.tabs{
            .left-column{width: 100%;padding-right: 0px;}
        }
        &.reverse{  // коричневый бок с кор текстом
            .left-column:after{display: none;}
            .right-column{width: 100%;}
            .column-list-wrap{
                .column-title{min-height: auto;
                    h1,h2,.h1,.h2{font-size: 50px;}
                }
                .column-list{justify-content: center;
                    ul{justify-content: center;}
                    li{margin-right: 10px;margin-left: 10px;
                        &:last-child{margin-bottom: 0;}
                        &:after{width: 100%;}
                        a{height: 40px;padding: 10px;}
                    }
                }
            }
        }
    }
    // creatives page
    .creatives {padding-top: 35px;padding-bottom: 80px;
        .creatives-slider{padding-left: 0;margin-right: 0;
            &.left-hide-button{
                .slick-prev{opacity: 1;visibility: visible;pointer-events:initial;}
            }
            &.right-hide-button{
                .slick-next{opacity: 1;visibility: visible;pointer-events:initial;}
            }
            .slick-prev, .slick-next{bottom: -50px;}
            .slick-list{
                &:before{display: none;}
                &:after{display: none;}
            }
            .item{
                .item-img .item-img-wrap{margin:0 auto;}
            }
        }
    }

    // monetization
    .monetization{
        .monetization-middle {
            .monetization-items{flex-direction: column;
                .item{width: 100%;margin-bottom: 30px;}
            }
        }
        .monetization-bottom {
            .monetization-list ul li:after{border-color: white;}
            .monetization-button{flex-direction: column;align-items: center;
                a{margin-bottom: 20px;}
            }
        }
    }
}
@media screen and (max-width: 767px){
    // asia market
    .market{
        .market-top-text{flex-direction: column;align-items: center;margin-bottom: 75px;
            .item{
                &.right{width: 100%;padding-left: 0;padding-top: 30px;}
            }
        }
        .market-middle-text{margin-bottom: 50px;
            .middle-text{padding: 0;}
            .middle-items{flex-direction: column;align-items: center;
                .item{margin-bottom: 20px;
                    .item-text{text-align: center;padding-left: 0;padding-right: 0;}
                }
            }
        }
        .middle-text-next{margin-bottom: 50px;
            .middle-next-images{justify-content: space-around;
                .item{margin-bottom: 20px;}
            }
        }
    }

    // fancybox
    .fancybox-nav{top: calc(100% + 20px)}
    .fancybox-prev{left: calc(50% - 75px);}
    .fancybox-next{right: calc(50% - 75px);}
}
@media screen and (max-width: 666px){
    // new page
    .news-page{
        .news-images-massonry{
            .item-sizer,.item{width: 100%;
                &.item-height{height: auto;}
                &.item-height-big{height: auto;}
                &.item-2,&.item-5{width: 100%;}
                img{max-width: 100%;position: relative;transform: none;left: auto;right: auto;/*min-width: 0;min-height: 0;*/}
            }
        }
        .news-page-title{padding: 35px 15px;
            .news-page-title-wrap{
                &>p{font-size: 21px;}
                .news-page-title-second{padding: 28px 10px;
                    .h1,h1,h2,h3{font-size: 38px;}
                    p{font-size: 36px;}
                }
            }
        }
        .news-page-middle{
            .news-page-text{
                .social-conteiner{display: flex;align-items: center;justify-content: center;}
            }
        }
    }

    // asia market
    .market .middle-text .item-title h2{font-size: 29px;}

    // succes popup
    .call-success{
        .call_success{padding: 20px 30px;
            .call-title{font-size: 32px;margin-bottom: 10px;}
            .call-subtitle{font-size: 24px;}
        }
    }

}
@media screen and (max-width: 479px){

    // succes popup
    .call-success{
        .call_success{
            .call-title{font-size: 26px;}
            .call-subtitle{font-size: 20px;}
        }
    }

    // monetization
    .monetization{
        .title h1, .title h2, .title h3, .title .h1, .title .h2, .title .h3{font-size: 40px;}
        .monetization-wrap .title{padding-top: 75px;}
        .monetization-bottom .monetization-list ul li{padding-left: 30px;}
    }

}
@media screen and (max-width: 390px){
    // new page
    .news-page{
        .news-page-title{padding: 35px 15px 15px;
            .news-page-title-wrap{
                &>p{font-size: 18px;padding: 3px 10px;}
                .news-page-title-second{padding: 28px 10px;
                    .h1,h1,h2,h3{font-size: 30px;}
                    p{font-size: 29px;}
                }
            }
        }
        .news-page-middle{
            .news-page-text{
                .news-page-text-article{
                    blockquote{margin-left: 10%;}
                }
                .news-page-pagination{padding: 0;}
            }

        }
    }
    // button right end left
    a.button-prev,a.button-next{font-size: 16px;padding-left: 15px;
        &:after{width: 25px;height: 25px;top: 40%;left: 0;}
        &:hover{
            &:after{left: -5px;}
        }
    }
    a.button-next{padding-left: 0;padding-right: 15px;
        &:after{transform: translateY(-50%) rotate(45deg);left: auto;right: 0;}
        &:hover{
            &:after{left: auto;right: -5px;}
        }
    }


}