/* column-list */

    .column-list-wrap{padding-top:115px;position: fixed;top:0;

        .column-title{min-height:125px;border-bottom:1px solid #fff;
            h1,h2,h3{margin:0;font-size:50px;color:#fff;font-weight:600;}
        }

        .column-list{padding-top: 35px;

            .column-list-title{font-weight:300;color:#fff;font-size: 24px;margin-bottom: 25px;padding-left: 10%;}

            .column-list-main{
                ul{list-style:none;padding:0;margin:0;
                    li{margin-bottom: 10px;
                        &:last-child{margin-bottom: 0;}
                        a{position:relative;display:block;padding-left: 25px;font-size: 24px;text-transform: uppercase;font-weight: 100;color:#d6d6d6;text-decoration: none;line-height: 1.25;transition:all 300ms ease;
                            &.active{color:#fff;
                                span{display: block;}
                            }
                            &:hover{color:#969696;text-shadow:0 0 6px rgba(255, 255, 255, .75);}
                            span{display: none;position:absolute;top:0;left:0;height:100%;width:4px;}
                        }
                    }
                }
            }

        }

    }

/* /column-list */

/* news-list */

    .news-list{padding-top: 55px;margin-bottom: 80px;

        .news-list-items-wrap{display: flex;justify-content: space-between;align-items: flex-start;flex-wrap:wrap;margin-bottom: 70px;
            .news-list-item{width:calc(50% - 20px);background-color:#fff;margin-bottom: 50px;

                a{text-decoration: none;color:#010101;font-size: 16px;font-weight: 300;}

                .news-list-img{overflow: hidden;height:212px;
                    img{max-width:none;min-width:100%;min-height:100%;position:relative;left:50%;top:50%;transform:translate(-50%, -50%);transition:all 300ms ease;}
                }

                .news-list-item-content-main{box-shadow:0 2px 16px 0 rgba(55, 39, 50, .25);padding:30px 10px 15px 10%;min-height:315px;
                    .news-list-item-title{padding-top: 30px;margin-bottom: 22px;
                        h6{margin:0;font-family:"Roboto Condensed", sans-serif;font-size:26px;color:#48454f;font-weight: 400;position:relative;padding-left: 20px;line-height:1.25;
                            span{position:absolute;width:4px;height:100%;position: absolute;left:0;top:0;}
                            b{font-weight: 700;}
                        }
                    }

                    .news-list-item-content-wrap{display:flex;justify-content: space-between;align-items: center;
                        .news-item-list-content{width:calc(100% - 50px);
                            .news-item-list-text{margin-bottom: 20px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.25;}
                            .news-item-list-date{color:#b7b7b7;}
                        }
                        .news-list-item-arrow{
                            span{display: block;width:25px;height:25px;background-color: transparent;border-top:4px solid #626262;border-right:4px solid #626262;transform:rotate(45deg);position:relative;left:-20px;transition:all 300ms ease;}
                        }
                    }

                }

                &:hover{
                    .news-list-img{
                        img{transform:scale(1.05) translate(-50%, -50%);}
                    }
                    .news-list-item-content-main{
                        .news-list-item-content-wrap{
                            .news-list-item-arrow{
                                span{left:-5px;}
                            }
                        }
                    }
                }

            }
        }

    }

/* /news-list */

/* event-list, careers-list */

    .info-list{padding:180px 0 80px 0;
        .info-list-wrap{display: flex;justify-content: space-between;align-items: flex-start;flex-wrap:wrap;min-height: calc(100vh - 400px);

            .info-list-item{width:30.33%;margin-right: 4.5%;margin-bottom: 20px;
                &:nth-child(3n){margin-right: 0px;}
            }

            .info-list-item-wrap{max-width:220px;width:100%;margin:0 auto;
                .info-list-item-top{margin-bottom: 50px;
                    a{height:220px;background-color:#fff;display: flex;justify-content: center;align-items: center;box-shadow:0 6px 21px 0 rgba(0, 0, 0, .26);text-decoration: none;transition:all 300ms ease;
                        &:hover{box-shadow:0 3px 27px 0 rgba(0, 0, 0, .34);}
                    }
                    .info-list-top-text{display: block;padding:15px 20px 15px 20px;color:#808080;min-height:100%;
                        .info-list-top-title{display:block;min-height:75px;border-bottom:3px solid #aaaaaa;font-size: 25px;font-weight: 600;margin-bottom: 15px;}
                        .info-list-top-text-wrap{color:#898989;font-size: 18px;font-weight: 300;}
                    }
                }
                .info-list-item-bottom{padding:0 10px;
                    .info-list-item-content{margin-bottom: 50px;padding-left: 8px;
                        p{margin: 0 0 25px 0;display: flex;justify-content: flex-start;align-items: center;color:#777777;font-size: 18px;font-family:'Roboto', sans-serif;font-weight: 300;
                            &:last-child{margin:0;}
                            .info-list-icon{margin-right: 5%;width: 20px;text-align: center;}
                        }
                    }
                    .info-list-item-button{
                        .button{display: flex;width:100%;height:38px;background-color: #fcc939;justify-content: center;align-items: center;color:#fff;text-decoration: none;font-family:'Roboto', sans-serif;transition:all 300ms ease;
                            &:hover{background-color: #daa100;}
                        }
                    }
                }
            }

        }
    }

/* /event-list, careers-list */

/* paginator */

    .paginator{display: flex;justify-content: center;align-items: center;
        .paginator-arrow{
            a, span{display: block;position: relative;left:0;width: 25px;height: 25px;border-width:4px; border-style:solid;transform-origin:50% 50%;transform:rotate(45deg);transition:all 300ms ease;}

            &.prev{
                a{border-color:transparent transparent #626262 #626262;
                    &:hover{left:-10px;}
                }
                span{border-color:transparent transparent #b8b7be #b8b7be;}
            }

            &.next{
                a{border-color:#626262 #626262 transparent transparent;
                    &:hover{left:10px;}
                }
                span{border-color:#b8b7be #b8b7be transparent transparent;}
            }

        }
        .paginator-nav{
            ul{display: flex;justify-content: center;align-items: center;list-style:none;padding:0;margin:0;
                li{padding:0 5px;
                    a, span{text-decoration: none;color:#525252;font-size: 16px;font-family: 'RBNo2', sans-serif;font-weight: 300;}
                    a{position:relative;display:block;transition:all 300ms ease;
                        &:hover{top:-2px;}
                    }
                    span{text-decoration: underline;}
                }
            }
        }
    }

/* /paginator */

/* websites */

    .websites-page{

        .column-list-wrap{padding-top: 45px;
            .column-title{
                h1, h2, h3{font-size: 42px;font-weight: 300;
                    b{font-weight: 700;}
                }
            }
            .column-list{padding-top: 25px;}
        }

        .column-list-sites{max-width:100%;

            .column-list-sites-filter{position:relative;opacity:1;transition:opacity 300ms ease;
                &:before{position:absolute;width: 100%;height:100%;top:0;left:0;z-index: 1;display: none;}
                &.not-ajax{
                    &:before{display: block;}
                }
                &.adding{opacity:0;}
                ul{list-style:none;padding:0;margin:0;display: flex;justify-content: space-between;align-items: flex-start;
                    li{padding:0 2px;cursor: pointer;
                        .sites-img{position:relative;text-align: center;height:22px;display: flex;justify-content: center;align-items: center;
                            img{opacity:1;transition:all 300ms ease;
                                &.hover-img{opacity: 0;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
                            }
                        }
                        .sites-text{font-size: 16px;color:#000;font-family:'RBNo2', sans-serif;opacity:0;transition:all 300ms ease;}

                        &.active, &:hover{
                            .sites-img{
                                img{opacity:0;
                                    &.hover-img{opacity:1;}
                                }
                            }
                            .sites-text{opacity:1;}
                        }

                    }
                }
            }

            .websites-slider{
                .websites-slider-wrap{padding:40px 0 40px 0;position:relative;min-height:365px;
                    &:before{content:'';position: absolute;left:0;top:0;width:100%;height:100%;z-index: 1;display:none;}
                    &.not-ajax{
                        &:before{display: block;}
                    }
                    .loading-circle{opacity:0;z-index: 0;position:absolute;left:calc(50% - 34px);top:8px;}
                    &.loading{
                        .loading-circle{opacity:1;z-index:1;}
                        .sites-filter-slider{opacity:0;z-index:0;}
                    }
                }
                .sites-filter-slider{opacity:1;position:relative;z-index: 1;transition:all 300ms ease;
                    &.slick-slider{margin-bottom: 0;}
                    .sites-filter-slider-item{font-size: 20px;font-weight: 300;font-family: 'Roboto Condensed', sans-serif;color:#fff;padding:12px 10px;line-height: 1.25;cursor:pointer;transition:all 300ms ease;
                        &.active{background-color:rgba(0, 0, 0, .15);}
                        &:hover:not(.active){background-color:rgba(255,255,255, .15);}
                    }
                    .slick-arrow{position: absolute;width:34px;height: 19px;left:calc(50% - 17px);font-size:inherit;
                        &:before, &:after{content:'';display: block;position: absolute;width: 100%;height: 100%;left:0;top:0;background-image:url(../images/websites-arrows.png);transition:all 300ms ease;}
                            &:before{opacity: 1;}
                            &:after{opacity: 0;}
                            &:hover{
                                &:before{opacity: 0;}
                                &:after{opacity: 1;}
                            }

                        &.slick-prev{top:auto;bottom:100%;
                            &:before{background-position:left top;}
                            &:after{background-position: right top;}
                        }
                        &.slick-next{top:calc(100% + 13px);
                            &:before{background-position: left bottom;}
                            &:after{background-position: right bottom;}
                        }

                    }
                }
            }

        }

        .websites-content{max-width: 680px;width: 100%;margin:0 auto;padding:95px 0 60px 0;opacity:1;transition:all 300ms ease;
            &.loading{opacity: 0;}

            .loading-by-ajax{transition:all 300ms ease;opacity:1;
                &.loading{opacity: 0;}
            }

            .websites-text{font-family: 'Roboto', sans-serif;color:#fff;font-weight: 300;min-height:160px;line-height: 1.25;}

            .websites-audience{display: flex;justify-content: space-around;align-items: center;font-size:18px;color:#fff;font-family:'Roboto', sans-serif;padding-bottom: 15px;border-bottom:1px solid #b2b2b1;margin-bottom: 33px;
                .websites-audience-main{display: flex;align-items: center;justify-content: flex-start;
                    .websites-audience-icon{margin-right:10px;}
                }
            }

            .websites-statistic{display: flex;justify-content: space-between;align-items: center;

                .websites-statistic-title{width: 125px;height:150px;display: flex;flex-direction:column;align-items: flex-start;justify-content: space-around;font-family:'Roboto', sans-serif;color:#fff;font-size: 18px;font-weight: 300;
                    .websites-statistic-title-bottom{text-decoration: underline;}
                }

                .websites-statistic-params{display: flex;width:calc(100% - 130px);justify-content: space-between;align-items: flex-start;
                    .websites-statistic-param-item{width: 25%;
                        &.active{
                            .websites-statistic-param-item-wrap{border-color:#fff;}
                        }
                        .websites-statistic-param-item-wrap{max-width:120px;width:100%;height:150px;display: flex;flex-direction:column;align-items: center;justify-content: space-around;padding-top: 12px;text-align: center;border-radius:25px;border:1px solid #b2b2b2;margin:0 auto;
                            &.active{border-color:#fff;}
                            .websites-statistic-param-title{color:#fff;font-family: 'Roboto',sans-serif;font-size: 18px;font-weight: 300;}
                            .websites-statistic-param-circle{position: relative;
                                svg{fill:transparent;transform-origin:50% 50%;transform:rotate(90deg);
                                    circle{
                                        &.circle-background{fill:transparent;stroke:#868681;stroke-width:3px;}
                                        &.circle-lines{fill:transparent;stroke:#ffffff;stroke-width:3px;stroke-dasharray:130px;stroke-dashoffset:130px;}
                                    }
                                }
                                .circle-value-text{position:absolute;width:100%;height:100%;display: flex;justify-content: center;align-items: center;font-family:'Roboto', sans-serif;font-weight:300;color:#fff;font-size: 12px;}
                            }
                        }
                    }
                }

            }

        }

    }

/* /websites */

/* services */

    .services{

        .left-column{
            .column-list-wrap{
                .column-list{
                    .column-list-main{
                        ul{
                            li{position: relative;padding:10px 0 10px 0;
                                &:before{content:'';display:block;position: absolute;top:0;left:0;width: 100%;height:100%;background-color: rgba(0, 0, 0, .2);opacity:0;transition:opacity 300ms ease;}
                                &.active{
                                    &:before{opacity: 1;}
                                    &:hover{
                                        a{box-shadow:none;
                                            &:hover{color:#fff;box-shadow:none;}
                                        }
                                    }
                                }
                                a{font-size: 20px;padding-left: 10px;position: relative;z-index: 1;text-shadow:0 0 2px rgba(0, 0, 0, .5);}
                            }
                        }
                    }
                }
            }
        }

        .right-column{width: calc(100% - 270px);
            .creatives-wrap{position: relative;padding: 0 20px;overflow: hidden;

                &:before{content:'';display: block;position: absolute;width: 100%;height:100%;z-index: 1;}

                .tab-item{position: absolute;z-index: 0;top:0;left:50%;transform:translate(-50%, 0);opacity: 0;max-width:580px;width:100%;padding-top: 55px;padding-bottom: 70px;font-size:18px;color:#fff;font-weight: 300;line-height: 1.25;transition:all 300ms ease;
                    &.show{position: relative;opacity: 1;z-index: 2;}

                    a{color:#fff;
                        &:hover{color:#fcd053;text-shadow: 0 0 1px #fff;}
                    }
                    .wrap-info{margin-bottom: 55px;
                        &:last-child{margin-bottom: 0;}
                        p{margin:0 0 0px 0;}
                    }
                    .text-wrap{font-family: 'Roboto', sans-serif;font-weight: 300;}
                    .wrap-flex{display: flex;justify-content: space-between;align-items: flex-start;
                        .text-wrap{width:calc(100% - 215px);}
                        .icon{width: 25%;}
                        .wrap-more-info+.text-wrap{font-style: italic;}
                        &.align-center{align-items: center;}
                        &.wrap-text-icon-row{
                            h3{text-transform: uppercase;font-size: 34px;}
                            .text-wrap{width: calc(100% - 160px);}
                        }
                    }
                    .wrap-more-info{width: 195px;height: 144px;background-image:url(../images/more-info-right-bg.png);background-repeat:no-repeat;background-position:left top;display: flex;justify-content: flex-end;align-items: center;padding:0 20px 0 55px;position: relative;
                        .more-info-num{position: absolute;font-weight: 700;font-size: 62px;top:50%;left:0;transform:translate(-50%, -50%);}
                        .more-info-text{font-size: 24px;font-weight: 300;line-height: 1;}
                    }

                    .icon{text-align: center;padding: 0 5px;
                        .icon-img{margin-bottom: 20px;}
                        .icon-title{text-transform: uppercase;font-size: 20px;line-height: 1.15;font-weight: 300;}
                    }
                }

            }
        }

    }

/* /services */

/* event-page */

    .event-page{

        .event-page-main{

            .event-page-slider-main{padding:0 35px;margin-top: -385px;}

            .event-page-slider-wrap{max-width: 900px;width: 100%;margin:0px auto;

                .event-page-slider-item-top{overflow: hidden;border:1px solid #fff;display: flex;justify-content: space-between;align-items: stretch;margin-bottom: 40px;}
                .event-page-slider-item-img{width: 200px;min-height:205px;position: relative;background-color: #fff;display: flex;justify-content: center;align-items: center;padding:10px 10px;}
                .event-page-slider-item-text{color:#fff;font-size: 49px;font-family: 'Roboto', sans-serif;width: calc(100% - 200px);width: 100%;display: flex;align-items: center;justify-content: flex-end;flex-wrap:wrap;padding:10px 20px;line-height:1.25;
                    .event-page-slider-item-text-wrap{max-width: 620px;width: 100%;}
                    p{margin:0;width: 100%;}
                }
                .event-page-slider-item-bottom{display: flex;align-items: center;justify-content: flex-start;font-family: 'Roboto Condensed', sans-serif;font-weight: 300;color:#fff;font-size: 18px;
                    .event-page-date-period{display: flex;justify-content: center;align-items: center;text-align: center;
                        .event-page-date-period-col-num{font-weight: 700;font-size: 41px;}
                        .event-page-date-period-row{width: 11px;height:5px;background-color: #fff;margin:-15px 15px 0 15px;}
                    }
                    .event-page-date-text{padding-left:65px;
                        p{margin:0;line-height: 1.75;}
                        a{color:#fff;transition:all 300ms ease;
                            &:hover{color:#c9ad3d;}
                        }
                    }
                }
                .slick-arrow{width: 24px;height:41px;max-height: none;top:105px;
                    &:before, &:after{content:'';display: block;position: absolute;width: 100%;height:100%;background-image:url(../images/slick-arrows-spray.png);top:0;left:0;transition:all 300ms ease;}
                    &:after{opacity: 0;}
                    &:hover{
                        &:before{opacity: 0;}
                        &:after{opacity: 1;}
                    }
                    &.slick-prev{left:-85px;
                        &:before{background-position: left top;}
                        &:after{background-position: left bottom;}
                    }
                    &.slick-next{right:-85px;
                        &:before{background-position: right top;}
                        &:after{background-position: right bottom;}
                    }
                }

            }

        }

    }

/* /event-page */

/* loading-circle */

    .loading-circle{
        .loading-line{fill:transparent;stroke:#fff;stroke-width:5px;stroke-dasharray:146px;stroke-dashoffset:92px;transform-origin:50% 50%;animation-name:loadingCircle;animation-duration:1s;animation-iteration-count:infinite;}
    }

/* /loading-circle */

/* parallax */

    .blur-filter{display: none;}

    .parallax-block{position: fixed;top:0;left:0;width: 100%;height: 100%;

        img{max-width: none;min-width:100%;position: relative;top:0;left:50%;transform:translate(-50%, 0);}
        .parallax-image-top, .parallax-image-bottom{position:absolute;top:0;left:0;width: 100%;height:100%;transition:opacity 300ms ease;
            &.hide{opacity: 0;}
        }
        .parallax-images{position: fixed;top:0;left:0;width: calc(100% + 30px);height: calc(100% + 30px);}
        .parallax-blur{position: fixed;top:0;left:0;border-top:1px solid #9b9692;overflow: hidden;width: calc(100% + 30px);height:calc(100% + 30px);
            &.blur{filter:blur(12px);filter:url(#blur);}
        }

        .parallax-image-top{z-index: 1;}
        .parallax-image-bottom{top:auto;bottom:0;}

        .parallax-blur{transition:filter 300ms ease;
            .parallax-image-top{
                img{filter:blur(12px);filter:url(#blur);}
            }
            .parallax-image-bottom{
                img{filter:blur(12px);filter:url(#blur);}
            }
        }

        &.first-type{

            .parallax-image-top, .parallax-image-bottom{left:-15px;}

            .parallax-blur{transform:translate(0, 460px);
                .parallax-image-top{
                    img{transform:translate(-50%, -460px);}
                }
                .parallax-image-bottom{
                    img{transform:translate(-50%, 0);}
                }
            }

            &~.main{padding-top:400px;
                &.event-page{padding-top: 435px;}
            }

        }

        &.second-type{

            img{left:0;transform:translate(0, 0);min-height: 100%;}

            .parallax-images{left:0;}

            .parallax-blur{right:0;left:auto;}

        }

        &.tabs-parallax{
            img{opacity: 0;position: absolute;top:0;transition:opacity 300ms ease;
                &.active{opacity: 1;position: relative;}
            }
        }


    }

/* /parallax */

/* animations */

    @keyframes loadingCircle{
        0%{transform:rotate(0deg);}

        100%{transform:rotate(360deg);}
    }

/* /animations */

