@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
    // new page
    .news-page{
        .news-page-title{padding: 46px 15px;}
        .news-page-middle{
            .news-page-text{width: 65%;
                .news-page-pagination{padding: 0 30px;}
            }
        }
    }

    // advertising
    .advertising{
        .advertising-wrap{
            &>.title{padding-top: 55px;padding-bottom: 55px;}
        }
        .advertising-middle{margin-bottom: 80px;
            .advertising-items{
                .item{
                    .item-top{flex-direction: column;justify-content: center;padding-top: 25px;
                        .item-img{}
                        .item-title{width: 100%;text-align: center;padding-left: 0;padding-top: 10px;}
                    }
                    .item-bottom{padding-top: 25px;padding-bottom: 25px;}
                }
            }
        }
    }
}
@media screen and (max-width: 992px){
    // new page
    .news-page{
        .news-images-massonry{
            .item-sizer,.item{
                &.item-height{height: 150px;}
                &.item-height-big{height: 300px;}

                img{max-width: 100%;}
            }
        }
        .news-page-middle{flex-direction: column-reverse;
            .news-page-aside{width: 100%;
                .news-page-aside-items{
                    .item .item-img img{min-width: 100%;}
                }
            }
            .news-page-text{width: 100%;margin-bottom: 60px;
                .news-page-text-article{margin-bottom: 50px;}
                .social-conteiner{margin-bottom: 60px;}
                .news-page-pagination{}
            }
        }
    }

    // advertising
    .advertising{
        .advertising-wrap{
            &>.title{}
        }
        .advertising-middle{margin-bottom: 50px;
            .advertising-items{
                .item{width: 100%;margin-bottom: 20px;
                }
            }
        }
        .advertising-bottom{margin-bottom: 60px;
            .advertising-items{margin-bottom: 30px;
                .item{width: 100%;
                    &.left{margin-bottom: 30px;
                        .item-href a{background-color: #eb5776;}
                        .item-bottom-row{flex-direction: column;
                            .row-text{width: 100%;padding-left: 0;padding-top: 20px;}
                        }
                    }
                    &.right{
                        .item-bottom{padding-right: 5%;}
                        .item-bottom-row{flex-direction: column;margin-bottom: 0!important;height: auto !important;}
                        .item-bottom-row-mini{width: 100% !important;
                            .row-text{padding-left: 0 !important;text-align: left !important;}
                        }
                    }
                    .item-href{}
                    .item-top{padding-right: 0;padding-left: 33px;
                        .item-top-title{padding-top: 15px;padding-bottom: 15px;}
                        .item-top-text{max-width: 100%;min-height: 0;}
                    }
                    .item-bottom{padding-top: 30px;padding-right: 0;padding-right: 5%;padding-left: 5%;
                        .item-bottom-row .row-text{max-width: 100%;width: 90%;text-align: center;}
                        .item-bottom-row .row-img{width: 80px;height: 80px;}
                        &+.item-href{display: flex;width: 100%;padding-top: 40px;padding-bottom: 30px;}
                    }

                }
            }
            .advertising-items-href{display: none;}
        }
    }
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
    // new page
    .news-page{
        .news-images-massonry{
            .item-sizer,.item{width: 100%;
                &.item-height{height: auto;}
                &.item-height-big{height: auto;}
                &.item-2,&.item-5{width: 100%;}
                img{max-width: 100%;position: relative;transform: none;left: auto;right: auto;/*min-width: 0;min-height: 0;*/}
            }
        }
        .news-page-title{padding: 35px 15px;
            .news-page-title-wrap{
                &>p{font-size: 21px;}
                .news-page-title-second{padding: 28px 10px;
                    .h1,h1,h2,h3{font-size: 38px;}
                    p{font-size: 36px;}
                }
            }
        }
        .news-page-middle{
            .news-page-text{
                .social-conteiner{display: flex;align-items: center;justify-content: center;}
            }
        }
    }
}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 390px){
    // new page
    .news-page{
        .news-page-title{padding: 35px 15px 15px;
            .news-page-title-wrap{
                &>p{font-size: 18px;padding: 3px 10px;}
                .news-page-title-second{padding: 28px 10px;
                    .h1,h1,h2,h3{font-size: 30px;}
                    p{font-size: 29px;}
                }
            }
        }
        .news-page-middle{
            .news-page-text{
                .news-page-text-article{
                    blockquote{margin-left: 10%;}
                }
                .news-page-pagination{padding: 0;}
            }

        }
    }
    // button right end left
    a.button-prev,a.button-next{font-size: 16px;padding-left: 15px;
        &:after{width: 25px;height: 25px;top: 40%;left: 0;}
        &:hover{
            &:after{left: -5px;}
        }
    }
    a.button-next{padding-left: 0;padding-right: 15px;
        &:after{transform: translateY(-50%) rotate(45deg);left: auto;right: 0;}
        &:hover{
            &:after{left: auto;right: -5px;}
        }
    }


}