.video-block{position: relative;overflow: hidden; z-index: 1; background-size: cover;
	&:after{content:"";display: block;position: absolute;width: 100%;height: 15px;bottom:0;left:0;background-color: #eee;z-index: 2;}
	.video-fon-img{max-width: none;position:absolute;left:50%;top:0;transform:translate(-50%, 0);min-width: 100%;min-height: 100%;}
	.backgroud-image-blur{display: none;}
	// background: url('../images/video-block-bg.jpg') no-repeat;
	// .insted-of-video{display:block; position: absolute; overflow: hidden;max-height: 100%; min-height:100%; max-width: 100% ;min-width: 100%; left: 0; bottom: -20px;	max-height: 278px; min-height: 278px;
	//   &:after{content: ''; display: block; position: absolute; -webkit-filter: blur(10px);-moz-filter: blur(10px); -o-filter: blur(05px); -ms-filter: blur(05px);filter: blur(10px); overflow: hidden;  max-width: 100% ;min-width: 100%;max-height: 698px; min-height: 698px; bottom: -20px; left: 0; background: url('../images/video-block-bg.jpg') no-repeat; overflow: hidden; z-index: 2; background-position: 0% 100%; background-size: 100% auto;
 //   		}
 //   	}3
   .part-for-videoblur{display: block; position: absolute;  overflow: hidden;  max-width: calc(100%);min-width: calc(100%);max-height: 278px; min-height: 278px; bottom: -16px; left: 0;  overflow: hidden; z-index: 2;
		.video-fon-img{filter:blur(10px);top:auto;bottom:-285px;}

	 	#videobcg-blur {
	 		backface-visibility: hidden;
	   		position: absolute;
	   		top: -517px;
	   		left: 0px;
	   		min-width: 100%;
	   		min-height: 100%;
	   		width: auto;
	   		height: auto;
	   		z-index: -1000;
	   		overflow: hidden;
		   -webkit-filter: blur(10px);
		   -moz-filter: blur(10px);
		   -o-filter: blur(10px);
		   -ms-filter: blur(10px);
		   filter: blur(10px);
		}
	}
	#videobcg{
	   backface-visibility: hidden ;
	   position: absolute;
	   top: 0px;
	   left: 0px;
	   min-width: 100%;
	   min-height: 100%;
	   width: auto;
	   height: auto;
	   z-index: -1000;
	   overflow: hidden;
	}
	#videobcg-blur  {

	}
	.heading-wrapper{padding: 180px 0 170px 0;
		.mbox{
			h2{font-size: 50px; font-weight: bold; text-align:right; line-height: 1.2; color: #fff; text-transform: uppercase;}
		}
	}

	.blur-part{padding-top: 10px; padding-bottom: 80px; position: relative;z-index: 3;
   		 &:after{content: ''; display: block; min-height: 1px; background-color:#8b8883; position: absolute; top: -33px;left: 0; width: 100%;  }
		.mbox{display: flex; flex-wrap: wrap; position: static;
			.text-conteiner{ width: calc(100% - 100px); max-width: 580px; padding-right: 20px;z-index:0;
				p{font-family: 'ProximaNovaScOsf'; font-weight: 300; font-size: 18px; color:#fff; line-height: 1.2;margin:0 0 40px 0;

				}
			}
			.more-link{flex:1; display: flex; justify-content: center; align-items: center;
				a{text-decoration: none; color: #959595; text-transform: uppercase; font-size: 16px; position: relative; margin: 0 auto;transition:all 300ms ease;
					&:after{content: ''; display: inline-block;  width: 26px; height: 26px; background: transparent; border-right: 4px solid #959595; border-top: 4px solid #959595; transform: rotate(45deg); position: absolute; top: -3px; left: -50px;transition:all 300ms ease;}
					&:hover{color:#fff;
						&:after{border-color:#fff;left:-40px;}
					}
				}
			}
			.button-wrapper{width: 100%;position: relative;z-index: 2;
				.yellow-button{ width: 220px; background: #ecd050;padding: 8px 20px 10px 20px;text-decoration: none;display: inline-block;text-align: center;
					.text-container{color: #000; font-family: 'ProximaNovaScOsf'; font-size: 17px;  display: inline;
						p{margin: 0;}
					}
					&:hover{background: #ffdf4e;}
				}
				.gray-button{width: 220px; background: #d6d6d6;padding: 8px 20px 10px 20px; margin-left: 18px; text-decoration: none;display: inline-block;text-align: center;
					.text-container{color: #000; font-family: 'ProximaNovaScOsf'; font-size: 17px; display: inline;
						p{margin:0;}
					}
					&:hover{background: #fff;}
				}
			}
			.backgroud-image-blur-wrapper{display: none;}
		}

	}
}

/* footer */

	.footer{background: #494949;color: #bebebe;padding:50px 0 40px 0;

		.footer-top{display: flex;justify-content: space-between;align-items: flex-between;flex-wrap:wrap;
			.footer-block{margin-bottom: 20px;}
		}

		.left-side-menu{width: 315px;
			.link-wrapper{margin-bottom: 20px;margin-top:0;
				a{text-decoration: none;color:#bebebe;font-weight: 300;text-transform: uppercase;
					&:hover{
						.link-text{
							&:after{transform:scale(1);}
						}
					}
				}
				span{vertical-align:middle;}
				.images-wrapper{margin-right: 20px;display: inline-block;width:28px;text-align:center;}
				.link-text{position:relative;
					&:after{content:'';display: block;position:absolute;top:100%;left:0;height:1px;width:100%;transform:scale(0);background-color:#bebebe;transition:all 300ms ease;}
				}
			}
			.button-wrapper{
				button{background:transparent; border: 1px solid #bebebe;padding: 10px 15px;text-transform: uppercase; font-size: 16px;transition:all 300ms ease;
					&:hover{color:#fff;background-color:#bebebe;}
				}
			}
		}
		.middle-part-menu{width: 260px;
			.heading{font-size: 14px; text-transform: uppercase;margin: 32px 0 30px 0;
				h3{margin:0;}
			}


		}
		.right-side-menu{width: 140px;
			.some-links{margin-bottom :25px;
			&:last-child{margin-bottom:0;}
				a{text-decoration: none; color:#bebebe; font-size: 18px;text-transform: uppercase;position:relative;
					&:after{content:'';display:block;position:absolute;top:100%;left:0;height:1px; width:100%;background-color:#bebebe;transform:scale(0);transition:all 300ms ease;}
					&:hover{
						&:after{transform:scale(1);}
					}
				}
			}
		}

		.footer-bottom{padding-top:50px;
			ul{display:flex;justify-content: space-around;align-items: center;list-style:none;padding:0;margin:0;flex-wrap:wrap;
				li{padding:0 5px;margin-bottom:10px;}
				a{font-weight:300;font-size: 16px;color:#b6b6b6;position:relative;text-decoration: none;
					&:after{content:'';display: block;position:absolute;height:1px;width:100%;background-color:#b6b6b6;transform:scale(0);transition:all 300ms ease;}
					&:hover{
						&:after{transform:scale(1);}
					}
				}
			}
		}

	}


	.social-conteiner{
		a{margin-right: 10px;transition:all 300ms ease; text-decoration: none;
			&:hover{opacity:.8;}
		}
	}

/* /footer */