// fancy standart skin
.fancybox-prev span,.fancybox-next span{background-image:none;background-position: 50% 50%;visibility: visible;right: 18px;
    &:after{width: 25px;height: 25px;background-color: transparent;border-top: 4px solid #fff;border-right: 4px solid #fff;transform: rotate(45deg);position: absolute;content: '';right: 6px;top: 4px;z-index: 2;}
}
.fancybox-prev span:after{transform: rotate(225deg);}
.fancybox-prev span:before{top: -3.5px;right: 2px;}
.fancybox-prev span{left: 18px;}

.fancybox-nav{height: 65px;width: 65px;background-color: rgba(255,255,255,.5);border-radius: 50%;top: calc(50% - 32px)}
.fancybox-prev{left: -45%;}
.fancybox-next{right: -45%;}
.fancy-gallery{
    .fancybox-prev{left: -35px; background-color: #fff;}
    .fancybox-next{right: -35px; background-color: #fff;}
    .fancybox-prev span,.fancybox-next span {
        &:after { border-top: 4px solid #000;border-right: 4px solid #000;}
    }
}
.fancybox-close{background-image: none;top: -50px;right: 0;background-color: rgba(255, 255, 255, 0.50);
    &:after,&:before{width: 30px;height: 4px;background-color: #fff;transform: rotate(45deg);position: absolute;content: '';top: 16px;left: 4px;}
    &:before{transform: rotate(-45deg);}
}

.fancybox-title-float-wrap{font-family: "Roboto";
    .child{border-radius: 1px;border-radius: 2px;background:#525252;}
}

// title
.title{
    h1,h2,h3,.h1,.h2,.h3{font-size: 50px;color: rgb(255, 255, 255);line-height: 1.2;text-align: center;margin:0;font-weight: 600;}
}

// button right end left
a.button-prev,a.button-next{display: block; text-decoration: none;font-size: 18px;font-family: "Roboto";color: #71626e ;position: relative; padding: 16px 0;   padding-left: 32px;

    &:after{width: 33px;height: 33px;position: absolute;top: 48%;left: 0;transform: translateY(-50%) rotate(-135deg);border-right: 4px solid #888888;border-top: 4px solid #888888;content: '';transition: all 300ms;}
    &:hover{
        &:after{left: -20px;}
    }
}
a.button-next{padding-left: 0;padding-right: 32px;
    &:after{transform: translateY(-50%) rotate(45deg);left: auto;right: 0;}
    &:hover{
        &:after{left: auto;right: -20px;}
    }
}

// news page
.news-page{padding-top: 40px;font-family: "Roboto";background-color: #eee;
    .mbox{max-width: 1220px;}
    .news-page-wrap{background-color: #fff;box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.25);}
    .news-image{display: block;
        img{position: relative;left: 50%;transform: translateX(-50%);min-width: 100%;}
    }
    .news-images-massonry{margin:0 auto;overflow: hidden;
        &:after{content: '';display: block;clear: both;}
        .item-sizer,.item{width: 25%;position: relative;overflow: hidden;float: left;
            &.item-1{}
            &.item-2,&.item-5{width: 50%;}
            &.item-height{height: 300px;}
            &.item-height-big{height: 600px;}
            a{display: block;height: 100%;}
            img{min-width: 100%;min-height: 100%;display: block;max-width: none;position: relative;left: 50%;top: 50%;transform: translate(-50%,-50%);}
        }
    }
    .news-page-title{margin:0 auto;max-width: 1050px;padding: 55px 15px 70px;width: 100%;
        .news-page-title-wrap{position: relative;padding: 2px;
            &.blue{background: linear-gradient(to right, rgba(28,220,255,1) 0%,rgba(1,255,144,1) 100%);
                &>p{background-color: #1cdcff;}
            }
            &>p{position: absolute;top: 0;left: 0;margin:0;font-size: 24px;color: white;font-family: "Roboto";z-index: 2;padding: 3px 25px;}
            .news-page-title-second{background-color: #fff;text-align: center;position: relative;z-index: 1;padding: 28px 10px;
                .h1,h1,h2,h3{margin:0;font-size: 44px;font-family: "Roboto";color: rgb(82, 82, 82);line-height: 1.3;letter-spacing: 0.5px}
                p{margin:0;font-size: 44px;font-family: "Roboto";color: rgb(82, 82, 82);line-height: 1.2;font-weight: 300;}
            }
        }
    }
    .news-page-middle{max-width: 1050px;padding: 0 15px 50px;margin:0 auto 50px;width: 100%;display: flex;justify-content: space-between;flex-wrap: wrap;
        .news-page-aside{width: 30%;
            .news-page-aside-title{color: #636363;font-family: 'Roboto Condensed';font-size: 24px;padding-top: 15px;margin-bottom: 30px;
                a{color: #636363;
                    &:hover{text-decoration: none;}
                }
            }
            .news-page-aside-items{
                .item{margin-bottom: 37px;
                    &:last-child{margin-bottom: 0;}
                    &:hover{
                        .item-img img{transform: translate(-50%, -50%) scale(1.2);}
                    }
                    a{display: flex;flex-direction: column;text-decoration: none;color: #6c6c6c;font-family: 'Roboto Condensed';}
                    .item-img{width: 100%;height: 150px;position: relative;margin-bottom: 22px;overflow: hidden;
                        img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);transition: transform 200ms;}
                    }
                    .item-title{font-size: 18px;line-height: 1.2;margin-bottom: 3px;}
                    .item-date{font-size: 14px;color: #b9b9b9;}
                }
            }
        }
        .news-page-text{width: 63%;margin-bottom: 40px;
            .news-page-text-article{font-family: 'Roboto Condensed';margin-bottom: 70px;
                p{line-height: 1.2;color: #000000;font-size: 18px;
                    b,strong{font-size: 20px;color: #000000;font-weight: bold;}
                }
                blockquote{font-size: 24px;color: #000000;font-style: italic;margin-left: 20%;position: relative;font-weight: 300;
                    &:after{content: '';position: absolute;height: calc(100% + 15px);width: 4px;background-color: #1cdcff;left: -5%;top: -5px;}
                }
            }
            .social-conteiner{margin-bottom: 85px;}
            .news-page-pagination{display: flex;align-items: center;justify-content: space-between;}
        }
    }
}

// advertising
.advertising-page{background:#f2f4f8 url('../images/some-bg-img.png') center 131% no-repeat;
    &.parallax-page.first-type{
        &.main{padding-top: 680px;}
        .parallax-block{
            .parallax-blur{transform:translate(0, 700px);
                .parallax-image-top{
                    img{transform:translate(-50%, -770px);}
                }
            }
        }
    }
    .parallax-block .parallax-blur{border-top: 1px solid rgba(255,255,255, .5);}
    .parallax-block .parallax-images img{top: -75px;}

}
.advertising{
    .mbox{max-width: 1220px;}
    .advertising-wrap{
        &>.title{padding-top: 0px;padding-bottom: 85px;}
    }
    // middle block
    .advertising-middle{margin-bottom: 290px;
        .advertising-items{display: flex;flex-wrap: wrap;justify-content: space-between;
            .item{width: 300px;display: flex;flex-direction: column;align-items: center;font-size: 24px;color: #000;font-family: 'ProximaNovaNew';font-weight: 300;
                &:hover{
                    .item-img .item-img-wrap{transform: scale(1.25);}
                }
                p{margin:0;line-height: 1.2;}
                ul{list-style-type: none;padding-left: 0;margin:0;line-height: 1.2;
                    li{position: relative;padding-left: 32px;
                        &:after{position: absolute;content: '';border-left:3px solid #000;border-bottom: 3px solid #000;height: 9px;width: 9px;left: 3px;top: 50%;transform: translateY(-50%) rotate(-136deg);}
                    }
                }
                &.item-1{
                    .item-button .button{background-color: #dd916b;
                        &:hover{background-color: #ca7b54;}
                    }
                    .item-img .item-img-wrap img{max-width: 221px;}
                }
                &.item-2{
                    .item-button .button{background-color: #d7bd56;
                        &:hover{background-color: #c5aa3e;}
                    }
                    .item-img .item-img-wrap img{max-width: 224px;}
                }
                &.item-3{
                    .item-button .button{background-color: #b5c14b;
                        &:hover{background-color: #9eaa36;}
                    }
                    .item-img .item-img-wrap img{max-width: 308px;}
                }
                .item-img{height: 390px;width: 100%;background:transparent url('../images/adversting-items-img.png') center bottom no-repeat;position: relative;margin-bottom: 25px;

                    .item-img-wrap{position: absolute;right: 35px;top: 0;transition:transform ease .3s;
                        &.item-1{right: 50px;}
                        &.item-3{top: 38px;}
                        img{max-width: none;}
                    }
                    .item-img-text{position: absolute;font-size: 28px;color: #3f3f3f;font-weight: bold;left: 30px;bottom: 54px;font-family: 'ProximaNovaScOsf';
                        b{font-weight: 700;}
                    }
                }
                .item-text{width: 100%;display: flex;flex-direction: column;margin-bottom: 53px;min-height: 203px;
                    a{color: #f7491a;font-size: 24px;font-weight: 300;font-family: 'ProximaNovaNew';margin-top: 10px;
                        &:hover{text-decoration: none;}
                    }
                }
                .item-button{width: 100%;display: flex;justify-content: center;
                    .button{max-width: 200px;width: 100%;text-decoration: none;line-height: 39px;font-family: 'ProximaNovaScOsf';
                        span{font-size: 16px;text-shadow: 0px 0px 16px #2a2a2a;}
                    }
                }
            }

        }
    }
    .advertising-bottom{min-height: 670px;color: white;position: relative;
        p{margin:0;line-height: 1.2;}
        .advertising-bottom-text{max-width: 690px;width: 100%;padding: 0 10px;margin:0 auto;font-size: 23px;font-weight: 600;font-family: 'ProximaNovaScOsf';text-align: center;margin-bottom: 145px;position: relative;
            &:after{content: '';position: absolute;height: 3px;width: 250px;background-color: #fff;bottom: -70px;left: 50%;transform: translateX(-50%);}
        }
        .advertising-big-text{max-width: 760px;width: 100%;margin:0 auto;padding: 0 10px;display: flex;justify-content: center;
            .item{display: flex;align-items: center;justify-content: center;
                &.item-1{width: 43%;
                    b{font-family: 'ProximaNovaScOsf';font-weight: 900;font-size: 85px;line-height: 0.9;}
                }
                &.item-2{width: 57%;
                    ul{margin:0;padding: 0;list-style-type: none;
                        li{position: relative;padding-left: 32px;font-family: 'ProximaNovaScOsf';font-weight: 100;line-height: 1.4;font-size: 18px;white-space: pre;
                            &:after{position: absolute;content: '';border-left:3px solid #c1c2c3;border-bottom: 3px solid #c1c2c3;height: 9px;width: 9px;left: 3px;top: 50%;transform: translateY(-50%) rotate(-136deg);}
                        }
                    }
                }
            }
        }
        .advertising-bottom-button{padding-top: 90px;padding-bottom: 90px;display: flex;align-items: center;justify-content: center;
            .button{text-decoration: none;background-color: #fcc939;line-height: 40px;text-transform: uppercase;
                &:hover{background-color: #daad2e;}
                span{}
            }
        }
    }
}



// asian market old
// .market-old{color: white;padding-bottom: 105px;
//     p{margin:0;}
//     .mbox{max-width: 940px;}
//     .market-wrap{
//         &>.title{padding-top: 60px;padding-bottom: 60px;}
//     }
//     .market-top-text{max-width: 740px;margin:0 auto;width: 100%;display: flex;margin-bottom: 170px;
//         .item{
//             &.left{display: flex;align-items: center;background-clip: content-box;flex-wrap: wrap;width: 200px;text-align: center;flex-direction: column;}
//             &.right{width: calc(100% - 200px;);padding-left: 60px;}
//             .item-title{font-weight: 600;font-size: 34px;}
//             .item-text{font-size: 16px;font-family: "Roboto";color: rgb(255, 255, 255);line-height: 1.2;font-weight: 300;
//                 p{margin-bottom: 17px;
//                     &:last-child{margin-bottom: 0;}
//                 }
//             }
//         }
//     }
//     .middle-text{padding: 0px 40px;
//         .item-title{margin-bottom: 25px;
//             h2{margin:0;font-size: 32px;}
//         }
//         .item-text{font-family: "Roboto";font-weight: 300;max-width: 670px;line-height: 1.2;}
//     }
//     .market-middle-text{margin-bottom: 170px;
//         .middle-items{display: flex;flex-wrap: wrap;justify-content: space-between;padding-top: 80px;
//             .item{
//                 .item-wrap{width: 240px;height: 155px;background:transparent url('../images/market-middle-text-bg.png') center top no-repeat;position: relative;}
//                 .item-big-number{font-size: 62px;font-family: 'CoreSans',sans-serif;font-weight: 700;position: absolute;left: -25px;top: 37px;width: 95px;text-align: center;}

//                 .item-title{position: absolute;top: 40px;right: 32px;
//                     p{font-size: 37px;text-transform: uppercase;font-weight: 300;}
//                     span{text-transform: uppercase;font-weight: 300;font-size: 15px;}
//                 }
//                 .item-text{padding-left: 30px;padding-top: 15px;font-size: 23px;font-weight: 600;padding-right: 15px;}
//             }
//         }
//     }
//     .middle-text-next{max-width: 740px;margin:0 auto 150px;width: 100%;
//         .middle-text{text-align: center;}
//         .middle-next-images{padding-top: 75px;display: flex;flex-wrap: wrap;justify-content: space-between;
//             .item{width: 120px;text-align: center;}
//             .item-text{padding-top: 30px;font-size: 19px;text-transform: uppercase;font-weight: 300;line-height: 1.3;}
//         }
//     }
//     .bottom-text{
//         .middle-text{text-align: center;}
//         .item-title{margin-bottom: 50px;position: relative;
//             &:after{position: absolute;transform: translateX(-50%);height: 3px;background-color: #fff;width: 86px;bottom: -23px;content: '';}
//         }
//         .item-text{max-width: 100%;font-size: 16px;
//             b{padding-top: 20px;font-weight: 600;font-size: 18px;text-transform: uppercase;display: block;}
//         }
//     }
// }




// asian-market-page
.asian-market-page{background-color: #d2dce5;
    &.parallax-page.first-type{
        &.main{padding-top: 680px;}
        .parallax-block .parallax-blur{transform: translate(0, 700px);border-top: 1px solid rgba(255,255,255,.5);height: calc(100% + 116px);
            img{transform: translate(-50%, -680px);}
        }
    }

    .button.button-yellow{font-size: 16px;background-color: #dfc24f;text-decoration: none;font-family: 'ProximaNovaScOsf';font-weight: normal;
        &:hover{background-color: #c5aa3e;}
        span{text-shadow: 0px 0px 19px #2a2a2a;}
    }
    p{margin:0;}
    .mbox{max-width: 940px;z-index: 2;}
    .title {margin-bottom: 50px;position: relative;
        &:after{height: 3px;padding: 0 10px;max-width: 560px;width: 100%;position: absolute;bottom: -20px;left: 50%;transform: translateX(-50%);content: '';background-color: #000;}
    }
    .title h1, .title h2, .title h3, .title .h1, .title .h2, .title .h3{color: #000;}
    .sub-title{max-width: 570px;margin:0 auto;width: 100%;font-size: 18px;color: #000000;font-weight: 100;font-family: 'ProximaNovaScOsf';line-height: 1.2;text-align: center;margin-bottom: 70px;}

    .market-top-text{display: flex;justify-content: space-between;max-width: 740px;width: 100%;margin:0 auto 70px;
        .item{
            &.left{width: 45%;}
            &.right{width: 55%;padding-left: 9%;padding-top: 40px;font-size: 18px;color: #000000;font-weight: 100;font-family: 'ProximaNovaScOsf';line-height: 1.2;
                p{margin-bottom: 30px;}
            }
        }
    }

    .market-middle-text-wrapper{position: relative;
        &:after{top:0;left: 0;position: absolute;width: 100%;height: 100%;background:transparent url('../images/market-middle-bg.png') center top no-repeat;background-size: cover;content: '';z-index: 1}
        &:before{top: 0;left: 0;position: absolute;width: 100%;height: 100%;background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(240,240,240,1) 98%,rgba(240,240,240,1) 100%);z-index: 0;content: ''; }
        .market-middle-text{color: white;min-height: 888px;
            .middle-text{padding-top: 190px;
                .item-title{
                    h2{margin:0;font-size: 40px;font-family: 'ProximaNovaScOsf';font-weight: 600;}
                }
                .item-text{font-size: 18px;font-weight: 100;font-family: 'ProximaNovaScOsf';line-height: 1.2;max-width: 680px;padding-top: 35px;}
            }
            .middle-items{display: flex;flex-wrap: wrap;justify-content: space-between;padding-top: 120px;
                .item{
                    .item-wrap{width: 240px;height: 155px;background:transparent url('../images/market-middle-text-bg.png') center top no-repeat;position: relative;}
                    .item-big-number{font-size: 62px;font-family: 'CoreSans',sans-serif;font-weight: 700;position: absolute;left: -25px;top: 37px;width: 95px;text-align: center;}

                    .item-title{position: absolute;top: 40px;right: 32px;
                        p{font-size: 37px;text-transform: uppercase;font-weight: 300;}
                        span{text-transform: uppercase;font-weight: 300;font-size: 15px;}
                    }
                    .item-text{padding-left: 30px;padding-top: 15px;font-size: 23px;font-weight: 600;padding-right: 15px;}
                }
            }
        }
    }
    .market-bottom{background-color: #c0a263;
        &.first{background-color: #f0f0f0;padding-top: 125px;
            .item-title{text-align: center;margin-bottom: 50px;
                h2{margin:0;font-size: 32px;font-family: 'ProximaNovaScOsf';font-weight: 600;color: #000;}
            }
            .items-list{position: relative;max-width: 720px;width: 100%;margin:0 auto;margin-bottom: 230px;
                .item-center{height: 345px;width: 390px;background: url(../images/market-bottom-img.png) center center no-repeat; background-size: contain;margin:0 auto;position: relative;
                    b{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width: 225px;font-family: 'ProximaNovaScOsf';font-weight: 700;color: #000;text-align: center;}
                }
                .item-list{
                    ul{list-style-type: none;padding: 0;margin:0;}
                    li{position: absolute;max-width: 120px;font-family: 'ProximaNovaScOsf';font-size: 20px;font-weight: 300;color: #000;text-align: center;
                        &:nth-child(1){left: 0;top: 46%;}
                        &:nth-child(2){left: 12%;bottom: -7%;}
                        &:nth-child(3){left: 42%;bottom: -32%;}
                        &:nth-child(4){right: 12%;bottom: -7%;}
                        &:nth-child(5){right: 0;top: 46%;}
                    }
                }
            }
        }
        .bottom-text{display: flex;justify-content: center;padding-top: 75px;color: white;padding-bottom: 75px;
            .middle-img{width: 58%;}
            .middle-text{width: 42%;
                .item-title{position: relative;margin-bottom: 53px;
                    &:after{background-color: #f1f1f1;position: absolute;height: 3px;width: 100%;bottom: -23px;left: 0;content: '';}
                    h2{margin: 0;font-size: 50px;line-height: 1.2;font-family: 'ProximaNovaScOsf';font-weight: 600;}
                }
                .item-text{
                    p{font-family: "Roboto";font-weight: 100;font-size: 16px;margin-bottom: 25px;}
                    b{font-family: 'ProximaNovaScOsf';font-weight: 500;font-size: 20px;}
                }
                .item-button{padding-top: 55px;
                    .button{background-color: #f75757;font-family: 'ProximaNovaScOsf';font-weight: 400;line-height: 38px;
                        &:hover{background-color: #be4848;}
                        span{text-shadow: 0px 0px 16px #2a2a2a;}
                    }
                }
            }

        }
    }


}

// contacts
.contacts-page{background-color: #fff;
    &.parallax-page.first-type .parallax-block img{width: 100%;}
    &.parallax-page .parallax-block .parallax-blur{border-top: 1px solid rgba(255,255,255, .5);}
}

.contacts{color: #000;
    .contacts-wrap{padding-bottom: 70px;}
    .contact-text{text-align: center;
        .title{margin-bottom: 35px;
            h1,.h1{color: #000;}
        }
        p{margin:0;color: #000;font-size: 18px;text-transform: uppercase;line-height: 1.2;max-width: 465px;margin:0 auto;font-weight: 100;}
    }
    .contact-form-row{margin-bottom: 18px;
        .form_input{position: relative;}
        .errorText{position: absolute;left: calc(100% + 20px);top: 50%;transform: translateY(-50%);color: #ff7878;white-space: pre;}

        &.submit{padding-top: 50px;display: flex;justify-content: center;align-items: center;
            button{display: flex;align-items: center;justify-content: center;height: 37px;width: 200px;color: white;font-size: 16px;font-family: "Roboto";background-color: #fcc939;border:none;transition:all 300ms ease;
                &:hover{background-color: #ddad24;}
            }
        }
    }
    .contact-form{width: 100%;max-width: 445px;margin: 0 auto;padding-top: 60px;
        input,textarea{width: 100%;height: 50px;border:none;background-color: transparent;border-bottom: 1px solid #939393;text-align: center;display: flex;align-items: center;justify-content: center;
            &::-webkit-input-placeholder {color:#939393;}
            &:-moz-placeholder {color:#939393;opacity:1;}
            &::-moz-placeholder {color:#939393;opacity:1;}
            &:-ms-input-placeholder {color:#939393;}

            &:focus{color: #000;border-color: #000;
                &::-webkit-input-placeholder {color:#000;}
                &:-moz-placeholder {color:#000;opacity:1;}
                &::-moz-placeholder {color:#000;opacity:1;}
                &:-ms-input-placeholder {color:#000;}
            }
            &.error{border-color: #ff7878;color: #ff7878;
                &::-webkit-input-placeholder {color:#ff7878;}
                &:-moz-placeholder {color:#ff7878;opacity:1;}
                &::-moz-placeholder {color:#ff7878;opacity:1;}
                &:-ms-input-placeholder {color:#ff7878;}
            }
        }
    }
}

// succes popup
.call-success{
    .call_success{padding: 30px 50px;color: #000;text-align: center;
        .call-title{font-weight: 600;font-size: 45px;margin-bottom: 15px;}
        .call-subtitle{font-size: 35px;}
    }
}

.main-wrap{
    &.tabs{  // табы в лефом меню
        .left-column{position: relative;width: 270px;padding-right: 30px;}
    }
    &.reverse{  // коричневый бок с кор текстом
        .left-column:after{position: absolute;right: 0;height: 3000px;width: 5000px;pointer-events:none;background-color: #d6d6d6;content: '';top: 0;z-index: 1;}
        .right-column{width: calc(100% - 270px);}
        .column-list-wrap{position: relative;z-index: 2;
            .column-title{border-color: #5b5b5b;min-height: 107px;
                h1,h2,.h1,.h2{font-size: 40px;font-weight: 600;color: #5b5b5b;}
            }
            .column-list{padding-top: 22px;padding-bottom: 50px;
                li{margin-bottom: 0;position: relative;
                    &:after{content: '';height: 100%;position: absolute;top:0;right: 0;opacity: 0;visibility: hidden;width: calc(100% + 20px);background-color: #ebebeb;z-index: 1;}
                    &:hover,&.active{
                        &:after{opacity: 1;visibility: visible;}
                    }
                    a{display: flex;padding-left: 0;height: 55px;width: 100%;align-items: center;color: #676767;font-size: 20px;font-weight: 100;position: relative;z-index: 2;
                        &:hover{text-shadow:none;color: inherit;}
                    }
                }
            }
        }
    }
}

// creatives page/*
/*
.creatives-global{
    &.global-wrapper{background-color:#eee;background-image:none;}
    .main-wrap.reverse{
        .column-list-wrap{
            .column-list{
                li{
                    a{
                        &:before{display: none;}
                    }
                }
            }
        }
    }
}
.creatives{padding-top: 105px;
    .creatives-wrap{position: relative;opacity: 0;transition:all ease .2s .5s;
        &.active{opacity: 1;}
        .tab-item{opacity: 0;visibility: hidden;z-index: -10;position: absolute;left: 0;top: 0;height: 100%;transition:opacity ease .3s;width: 100%;
            &.show{position: relative;z-index: 1;opacity: 1;visibility: visible;}
        }
    }
    .creatives-slider{margin-bottom: 0;margin-right: -70px;padding-left: 100px;position: relative;
        &.left-hide-button{
            .slick-prev{opacity: 0;visibility: hidden;pointer-events:none;}
        }
        &.right-hide-button{
            .slick-next{opacity: 0;visibility: hidden;pointer-events:none;}
        }
        &:after{clear: both;display: block;content: '';}
        .item{float: left;
            .item-wrap{}
            .item-img{margin-bottom: 46px;
                a{display: block;}
                &:hover{
                   .item-img-wrap img{transform: translate(-50%, -50%) scale(1.3);}
                }
                .item-img-wrap{height: 180px;width: 180px;position: relative;overflow: hidden;
                    img{max-width: none;min-height: 100%;min-width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);transition: all 300ms;}
                }
            }
        }

        .slick-prev, .slick-next{height: 63px;width: 63px;border-radius:50%;background-color: #fff;max-height: 100%;top: 45%;transition:all ease .2s;
            &:hover{
                &:after{border-color: #626262;}
            }
            &:after{width: 25px;height: 25px;background-color: transparent;border-top: 4px solid #b6b6b6;border-right: 4px solid #b6b6b6;transform: rotate(45deg);content: '';position: absolute;top: 19px;right: 22px;transition:all ease .2s;}
        }
        .slick-prev:after{transform: rotate(-135deg);right: 16px;}
        .slick-prev{left: 19px;}
        .slick-next {right: -50px;}

        .slick-list{
            &:after{box-shadow: 10px 0 5px -2px #888;height: 100%;left: 0;position: absolute;top: 0;width: 0px;content: '';background-color: eee;box-shadow: 1px 0 22px 15px #eee;pointer-events:none;transition:all ease .2s;}
            &:before{height: 100%;right: 0px;position: absolute;top: 0;width: 46px;content: '';box-shadow: -1px 0 22px 15px #eee;background-color: #eee;z-index: 10;pointer-events:none;transition:all ease .2s;}

            &.remove-left{
                &:after{opacity: 0;}
            }
            &.remove-right{
                &:before{opacity: 0;}
            }
        }
    }
}
*/
// monetization page
.monetization-page{
    &.parallax-page.first-type{
        &.main{padding-top: 680px;}
        .parallax-block{
            .parallax-blur{transform:translate(0, 700px);
                .parallax-image-top{
                    img{transform:translate(-50%, -680px);}
                }
            }
        }
    }
    .parallax-block .parallax-blur{border-top: 1px solid rgba(255,255,255,0.5);}
}
.monetization{
    p{margin: 0;color: white;}
    .mbox{max-width: 1060px;}
    .monetization-wrap{padding-bottom: 120px;
        .title{padding-top: 0px;position: relative;
            &:after{position: absolute;content: '';background-color: #000;height: 3px;max-width: 300px;width: 100%;bottom: -40px;left: 50%;transform: translateX(-50%);}
        }
    }
    .monetization-middle{padding-top: 100px;
        .monetization-text,.monetization-bottom-text{max-width: 600px;padding: 0 10px;width: 100%;margin:0 auto;font-size: 16px;line-height: 1.2;text-align: center;padding-bottom: 60px;font-weight: 300;
        }
        .monetization-bottom-text{font-size: 17px;font-weight: 100;padding-top: 115px;padding-bottom: 80px;max-width: 445px;
            p{position: relative;
                &:after,&:before{position: absolute;top: -40px;max-width: 300px;width: 100%;left: 50%;transform: translateX(-50%);height: 3px;border-radius: 5px;content: '';background-color: #fff;border-radius: 17%;}
                &:before{top: auto;bottom: -40px;}
            }
        }
        .monetization-items{display: flex;justify-content: space-between;
            .item{width: 29%;background-color: #fff;display: flex;flex-direction: column;align-items: center;justify-content: center;border-radius: 10px;box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.45);padding: 0 20px;text-align: center;
                &.item-2 .item-title:after{background-color: #a9a9af;}
                &.item-3 .item-title:after{background-color: #917763;}
            }
            .item-img{width: 100%;height: 320px;display: flex;align-items: center;justify-content: center;}
            .item-title{color: #000;font-size: 27px;font-weight: 700;font-family: 'ProximaNovaNew';padding-bottom: 50px;position: relative;
                &:after{content: '';height: 4px;width: 40px;position: absolute;left: 50%;transform: translateX(-50%);bottom: 25px;background-color: #fff;background-color: #a28e59;}
            }
            .sub-title {font-weight: 300;font-family: 'ProximaNovaNew';font-size: 20px;margin-bottom: 35px;padding: 0 8px;
                p{color: #000;}
            }
        }
    }
    .monetization-bottom{display: flex;flex-direction: column;align-items: center;
        .title{
            h1, h2, h3, .h1, .h2, .h3{font-size: 34px;}
            &:after{display: none;}
        }
        .monetization-list{padding-top: 40px;
            ul{list-style-type: none;padding-left: 0px;margin-top: 10px;margin-bottom: 10px;
                li{font-size: 17px;color: white;font-weight: 300;line-height: 1.5;padding-left: 40px;position: relative;
                    &:after{position: absolute;height: 6px;width: 6px;border-left: 2px solid #c1c2c3;border-bottom: 2px solid #c1c2c3;content: '';left: 0;transform: translateY(-50%) rotate(-136deg);top: 50%;}
                }
            }
        }
        .monetization-button{padding-top: 50px;margin:0 auto;width: 100%;max-width: 430px;display: flex;justify-content: space-between;
            .button{text-decoration: none;font-size: 14px;text-transform: uppercase;line-height: 41px;background-color: #dea88e;background-color: #d6c688;max-width: 201px;font-size: 12px;letter-spacing: 1.1px;
                span{text-shadow:0px 0px 16px #2a2a2a;}
                &:hover{background-color: #b5a76e;}
                &.button-red{background-color: #dea88e;
                    &:hover{background-color: #c49279;}
                }
            }
        }
    }
}

// ad formats
.ad-formats-page.parallax-page.first-type{padding: 365px 0 0px;background-color: #ffffff;
    .parallax-block .parallax-blur{transform: translate(0, 425px);border-top: 1px solid rgba(255,255,255,.5);
        img{transform: translate(-50%, -436px);}
    }
    .parallax-image-top img{top: -290px;width: 100%;}

}
.ad-formats{position: relative;
    .mbox{max-width: 900px;}
    .ad-formats-text{padding-top: 112px;font-family: 'ProximaNovaScOsf';text-align: center;color: #000;margin-bottom: 45px;
        .title{margin-bottom: 65px;
            h1,.h1,h2,.h2{color: #000000;}
        }
        p{max-width: 550px;margin:0 auto;width: 100%;font-size: 16px;}
    }
    .ad-formats-items{max-width: 900px;width: 100%;margin:0 auto;display: flex;justify-content: space-between;flex-wrap: wrap;
        .item{height: 420px;display: flex;flex-direction: column;align-items: center;text-align: center;width: 48.9%;background-color: transparent;transition:all ease .2s;padding-top: 60px;margin-bottom: 15px;overflow: hidden;
            &:hover{box-shadow: 0 3px 16px rgba(0, 0, 0, 0.34);background-color: #fff;
                .item-button{transform: translate(0, 0);}
            }

            .item-title{color: black;font-family: 'ProximaNovaScOsf';font-size: 34px;font-weight: 600;padding-top: 45px;
                p{margin:0;}
            }
            .item-img{min-height: 185px;display: flex;align-items: center;justify-content: center;}
            .item-button{padding-top: 35px;transform: translate(0, 100%);transition:all ease-out .3s;
                a{background-color: #c37051;border-radius: 14px;color: #fefefe;font-family: 'ProximaNovaScOsf';font-size: 14px;font-weight: 300;height: 28px;text-decoration: none;display: flex;align-items: center;justify-content: center;padding: 0 32px;transition:all ease .2s;cursor: pointer;
                    &:hover{background-color: #ab6449;}
                }
            }

        }
    }
    .ad-formats-yellow-block{background-color: #ffda10;margin-top: 191px;
        .mbox{max-width: 1100px;padding: 0 20px;}
        .ad-formats-yellow-block-wrap{display: flex;justify-content: space-between;margin-bottom: 70px;
            .item{
                &.left{width: 61%;
                    .item-title{padding-top: 71px;
                        h2{color: black;font-family: 'ProximaNovaScOsf';font-size: 34px;font-weight: 600;}
                    }
                    .item-text{color: black;font-family: 'ProximaNovaScOsf';font-size: 18px;font-weight: 300;max-width: 520px;padding-right: 20px;line-height: 1.2;
                        p{margin:0}
                    }
                    .item-button{padding-top: 60px;
                        a{background-color: #f22546;font-family: 'ProximaNovaScOsf';text-transform: uppercase;font-size: 16px;font-weight: 300px;
                            &:hover{background-color: #db2744;}
                        }
                    }
                }
                &.right{width: 39%;
                    .item-img{margin-top: -120px;}
                }
            }
        }
    }
}

// login popup
.fancy-login{}
#login{background:#fff url('../images/login-popup-bg.jpg') center center no-repeat;background-size: cover;width: 900px;height: 500px;
    .login-wrap{padding-top: 57px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;}
    .login-buttons{display: flex;align-items: center;justify-content: center;padding-bottom: 55px;
        a{font-size: 33px;font-weight: 600;color: #000;text-decoration: none;margin:0 55px;
            span{position: relative;
                &:after{height: 3px;width: 100%;background-color: #000;bottom:-10px;content: '';position: absolute;left: 0;transition:all ease .2s;opacity: 0;}
            }
            &.active{
                span:after{opacity: 1;}
            }
        }
    }
    .login-items{width: 100%;max-width: 490px;padding: 0 10px;margin:0 auto;text-align: center;
        p{margin:0 0 33px;font-size: 17px;font-weight: 300;color: #000;max-width: 440px;margin:0 auto 33px;line-height: 1.2;}
        .item-button{padding-top: 25px;}
        .item-hr{height: 1px;width: 100%;background-color: #000;margin-bottom: 33px;}
    }

    .item-form{
        .item-form-title{font-size: 27px;color: #000;font-weight: 300;margin-bottom: 30px;}
        input{height: 45px;border:none;background-color: transparent;border-bottom: 1px solid #fff;text-align: center;display: flex;align-items: center;justify-content: center;width: 100%;max-width: 360px;margin:0 auto 10px;
            &::-webkit-input-placeholder {color:#939393;}
            &:-moz-placeholder {color:#939393;opacity:1;}
            &::-moz-placeholder {color:#939393;opacity:1;}
            &:-ms-input-placeholder {color:#939393;}

            &:focus{color: #000;
                &::-webkit-input-placeholder {color:#000;}
                &:-moz-placeholder {color:#000;opacity:1;}
                &::-moz-placeholder {color:#000;opacity:1;}
                &:-ms-input-placeholder {color:#000;}
            }
            &.error{border-color: #ff7878;color: #ff7878;
                &::-webkit-input-placeholder {color:#ff7878;}
                &:-moz-placeholder {color:#ff7878;opacity:1;}
                &::-moz-placeholder {color:#ff7878;opacity:1;}
                &:-ms-input-placeholder {color:#ff7878;}
            }
        }
        .contact-form-row.submit{padding-top: 55px;}
        .errorText{display: none !important;}
    }
}

// button-round
.button-round{max-width: 305px;width: 100%;height: 52px;background-color: #ecd050;border-radius: 26px;display: flex;align-items: center;justify-content: center;text-decoration: none;font-size: 24px;font-weight: 300;color: #000;margin:0 auto;border:none;transition:all ease .2s;
    span{display: inline-block;width: 100%;}
    &:hover{background-color: #ffe46b;}
}

/* advertising-page, asian-market-page, monetization-page, contacts-page, ad-formats-page */

    .advertising-page, .asian-market-page, .monetization-page, .contacts-page, .ad-formats-page{

        &.parallax-page.first-type{
            .parallax-block{
                .parallax-blur{
                    &:before{content:'';display: block;position: absolute;left:0;top:0;width: 100%;height: 100%;background-color: rgba(255,255,255,.2);z-index: 2;}
                }
            }
        }

        .title{
            h1{color:#000;}
        }

    }

/* /advertising-page, asian-market-page, monetization-page, contacts-page, ad-formats-page */