<div class="ad-formats">

    <div class="ad-formats-items-wrap">
        <div class="mbox">
            <div class="ad-formats-text">
                <div class="title">
                    <h1>Ad formats</h1>
                </div>
                <p>We’re ready to offer you a wide range of the most efficient banners which definetily worth their price so you can be shure that you get a lot from your money.</p>
            </div>
            <div class="ad-formats-items">
                <div class="item">
                    <div class="item-img">
                        <img src="images/some-formats-img1-fon.png" alt="" class="fon" />
                        <img src="images/some-formats-img-macbook.svg" alt="" />
                    </div>
                    <div class="item-title">
                        <p>Banners</p>
                    </div>
                    <div class="item-button">
                        <a href="#">
                            <span>Show examples</span>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="images/some-formats-img2-fon.png" alt="" class="fon" />
                        <img src="images/some-formats-img-macbook.svg" alt="" />
                    </div>
                    <div class="item-title">
                        <p>Brandings</p>
                    </div>
                    <div class="item-button">
                        <a href="#">
                            <span>Show examples</span>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="images/some-formats-img3-fon.png" alt="" class="fon" />
                        <img src="images/some-formats-img-macbook.svg" alt="" />
                    </div>
                    <div class="item-title">
                        <p>Click-unders</p>
                    </div>
                    <div class="item-button">
                        <a href="#">
                            <span>Show examples</span>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="images/some-formats-img4-fon.png" alt="" class="fon" />
                        <img src="images/some-formats-img-macbook.svg" alt="" />
                    </div>
                    <div class="item-title">
                        <p>Pre-roll</p>
                    </div>
                    <div class="item-button">
                        <a href="#">
                            <span>Show examples</span>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="images/some-formats-img5-fon.png" alt="" class="fon" />
                        <img src="images/some-formats-img-iphone.svg" alt="" />
                    </div>
                    <div class="item-title">
                        <p>Mobile sticker</p>
                    </div>
                    <div class="item-button">
                        <a href="#">
                            <span>Show examples</span>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="images/some-formats-img6-fon.png" alt="" class="fon" />
                        <img src="images/some-formats-img-iphone.svg" alt="" />
                    </div>
                    <div class="item-title">
                        <p>Mobile fullscreen</p>
                    </div>
                    <div class="item-button">
                        <a href="#">
                            <span>Show examples</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ad-formats-yellow-block">
        <div class="mbox">
            <div class="ad-formats-yellow-block-wrap">
                <div class="item left">
                    <div class="item-description">
                        <div class="item-title">
                            <h2>we’re boost your profit</h2>
                        </div>
                        <div class="item-text">
                            <p>Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
                        </div>
                        <div class="item-button">
                            <a href="#" class="button"><span>join to network</span></a>
                        </div>
                    </div>
                </div>
                <div class="item right">
                    <div class="item-img">
                        <img src="images/some-formats-bottom-img.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>