<div class="advertising">
    <div class="mbox">
        <div class="advertising-wrap">
            <div class="title">
                <h1>Advertising</h1>
            </div>
            <div class="advertising-middle">
                <div class="advertising-items">
                    <div class="item">
                        <div class="item-top">
                            <div class="item-img"><img src="images/images-advertising.png" alt=""></div>
                            <div class="item-title">Global <br>performance</div>
                        </div>
                        <div class="item-bottom">
                            <div class="item-text">
                                <p>We're global</p>
                                <ul>
                                    <li>
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        <span>Have more than 50 countries as geos</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        <span>CIS as key strength is region</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        <span>strong position in Asia</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        <span>strong position in Europe.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-top">
                            <div class="item-img"><img src="images/images-advertising.png" alt=""></div>
                            <div class="item-title">Exclusive <br>placements</div>
                        </div>
                        <div class="item-bottom">
                            <div class="item-text">
                                <p>We always make sure there are only TOP high-quality traffic websites among those joining our advertising network. We also see a long-term partnership as our fundamental way of doing business. prices on the market .</p>
                            </div>
                            <div class="item-href"><a href="#"><span>See examples</span></a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-top">
                            <div class="item-img"><img src="images/images-advertising.png" alt=""></div>
                            <div class="item-title">Web <br>& Mobile</div>
                        </div>
                        <div class="item-bottom">
                            <div class="item-text">
                                <p>We have both mobile and desktop online advertising solutions. No matter what your product is - mobile application or online service website - we will take care of its best performing advertising campaign, leaving no avenue unexplored.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="advertising-bottom">
                <div class="advertising-items">
                    <div class="item left">
                        <div class="item-top">
                            <div class="item-top-title">
                                <div class="title">
                                    <h2>Publish</h2>
                                </div>
                            </div>
                            <div class="item-top-text">
                                <p>Great news for those advancing in online world, leading in quality traffic and highest in all-around rankings. We either work you already or definitely know who you are and will get you shortly. You can just speed up our mutually benefiting cooperation by sending us a word, simply because:</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="item-bottom-rows">
                                <div class="item-bottom-row">
                                    <div class="row-img"><img src="images/advertin-1.png" alt=""></div>
                                    <div class="row-text">
                                        <p>We know the value of your traffic and pay you the real money</p>
                                    </div>
                                </div>
                                <div class="item-bottom-row">
                                    <div class="row-img"><img src="images/advertin-2.png" alt=""></div>
                                    <div class="row-text">
                                        <p>We appreciate the time value more than anybody else, so paying you fast in our main priority.</p>
                                    </div>
                                </div>
                                <div class="item-bottom-row">
                                    <div class="row-img"><img src="images/advertin-3.png" alt=""></div>
                                    <div class="row-text">
                                        <p>We know you put a lot of effort to your website success  24/7, so we support you fully and equally, 24/7</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-href">
                            <a href="#"><span>Add my website</span></a>
                        </div>

                    </div>
                    <div class="item right">
                        <div class="item-top">
                            <div class="item-top-title">
                                <div class="title">
                                    <h2>Advertise</h2>
                                </div>
                            </div>
                            <div class="item-top-text">
                                <p>Adwise.agency provides an all-around client service, campaigns creation, management and optimization support. It’s our motto and we’re sticking to it, as it constantly produces higher profits for our valued clients.</p>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="item-bottom-rows">
                                <div class="item-bottom-row">
                                    <div class="item-bottom-row-mini">
                                        <div class="row-img"><img src="images/advertin-none.png" alt=""></div>
                                        <div class="row-text">
                                            <p>global audience with<br> perfect targeting opt-<br>ions</p>
                                        </div>
                                    </div>
                                    <div class="item-bottom-row-mini">
                                        <div class="row-img"><img src="images/advertin-none.png" alt=""></div>
                                        <div class="row-text">
                                            <p>Sharp statistics<br> and optimization</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-bottom-row">
                                    <div class="item-bottom-row-mini">
                                        <div class="row-img"><img src="images/advertin-none.png" alt=""></div>
                                        <div class="row-text">
                                            <p>full-service <br>constant support</p>
                                        </div>
                                    </div>
                                    <div class="item-bottom-row-mini">
                                        <div class="row-img"><img src="images/advertin-none.png" alt=""></div>
                                        <div class="row-text">
                                            <p>Sales boost and <br>revenue generation</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-bottom-row">
                                    <div class="item-bottom-row-mini">
                                        <div class="row-img"><img src="images/advertin-none.png" alt=""></div>
                                        <div class="row-text">
                                            <p>Preliminary <br> test campaign </p>
                                        </div>
                                    </div>
                                    <div class="item-bottom-row-mini">
                                        <div class="row-img"><img src="images/advertin-none.png" alt=""></div>
                                        <div class="row-text">
                                            <p>Real-time <br>tracking</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-href">
                            <a href="#"><span>Get a media plan</span></a>
                        </div>
                    </div>
                </div>
                <div class="advertising-items-href">
                    <div class="item-href">
                        <a href="#"><span>Add my website</span></a>
                    </div>
                    <div class="item-href">
                        <a href="#"><span>Get a media plan</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>