<div class="advertising">
    <div class="mbox">
        <div class="advertising-wrap">
            <div class="title">
                <h1>Advertising</h1>
            </div>
            <div class="advertising-text">
                <p>Great news for those advancing in online world, leading in quality traffic and highest in all-around rankings. We either work you already or definitely know who you are and will get you shortly. You can just speed up our mutually benefiting cooperation by sending us a word, simply because:</p>
            </div>
            <div class="advertising-middle">
                <div class="advertising-items">
                    <div class="item item-1">
                        <div class="item-img">
                            <div class="item-img-wrap item-1"><img src="images/adversting-items-img-1-new.png" alt=""></div>
                            <div class="item-img-text"><b>Global <br>performance</b></div>
                        </div>
                        <div class="item-text">
                            <ul>
                                <li><span>we’re global </span></li>
                                <li><span>have more than 50 countries as geos </span></li>
                                <li><span>CIS as key strength is  regio</span></li>
                                <li><span>strong positions in Asia </span></li>
                                <li><span>strong positions in Europe.</span></li>
                            </ul>
                        </div>
                        <div class="item-button">
                            <a href="#" class="button button-red">
                                <span>more</span>
                            </a>
                        </div>
                    </div>
                    <div class="item item-2">
                        <div class="item-img">
                            <div class="item-img-wrap item-2"><img src="images/adversting-items-img-2-new.png" alt=""></div>
                            <div class="item-img-text"><b>Exclusive <br>placements</b></div>
                        </div>
                        <div class="item-text">
                            <p>We always make sure there are only TOP high-quality traffic websites among those joining our advertising network. We also see a long-term partnership as our fundamental way of doing business. prices on the market .</p>
                            <a href="#"><span>see examples</span></a>
                        </div>
                        <div class="item-button">
                            <a href="#" class="button">
                                <span>more</span>
                            </a>
                        </div>
                    </div>
                    <div class="item item-3">
                        <div class="item-img">
                            <div class="item-img-wrap item-3"><img src="images/adversting-items-img-3-new.png" alt=""></div>
                            <div class="item-img-text"><b>Web <br>& Mobile</b></div>
                        </div>
                        <div class="item-text">
                            <p>We have both mobile and desktop online advertising solutions. No matter what your product is - mobile application or online service website - we will take care of its best performing advertising campaign, leaving no avenue unexplored.</p>
                        </div>
                        <div class="item-button">
                            <a href="#" class="button">
                                <span>more</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="advertising-bottom">
                <div class="advertising-bottom-text">
                    <p>Adwise.agency provides an all-around client service, campaigns creation, management and optimization support. It’s our motto and we’re sticking to it, as it constantly produces higher profits for our valued clients.</p>
                </div>
                <div class="advertising-big-text">
                    <div class="item item-1">
                        <div class="item-wrap">
                            <b>how it <br> works</b>
                        </div>
                    </div>
                    <div class="item item-2">
                        <div class="item-wrap">
                            <ul>
                                <li><span>preliminary test campaign </span></li>
                                <li><span>global audience with perfect targeting options</span></li>
                                <li><span>full-service constant support</span></li>
                                <li><span>real-time tracking</span></li>
                                <li><span>sharp statistics and optimization</span></li>
                                <li><span>sales boost and revenue generation</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="advertising-bottom-button">
                    <a href="#" class="button"> <span>get a media plan</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="fut-background">
        <img src="images/some-bg-img.png" alt="" />
    </div>

</div>