<div class="market">
    <div class="mbox">
        <div class="market-wrap">
            <div class="title">
                <h1>Asian market launch</h1>
            </div>
            <div class="market-top-text">
                <div class="item left">
                    <div class="item-img">
                        <div class="market-top-img"><img src="images/market-top-img.png" alt=""></div>
                    </div>
                    <div class="item-title">
                        <b>go asian!</b>
                    </div>
                </div>
                <div class="item right">
                    <div class="item-text">
                        <p>Today’s Asia has highest concentration of millennial generation and young professionals that invest in boosting. Asian economy as nobody else, still having desire for entertainment and leisure like everybody else.</p>
                        <p>So if you look to grow your business and want it lasting in the future - that’s the type of people you need to look to.</p>
                    </div>
                </div>
            </div>
            <div class="market-middle-text">
                <div class="middle-text">
                    <div class="item-title">
                        <h2>endless possibilities<br> of asian market</h2>
                    </div>
                    <div class="item-text">
                        <p>ADWISE.AGENCY cooperation with largest Asian digital platform contributed to our ability of high- standard market launch of gaming and gambling products in Asia and gaining a solid ground there. Our clients now have an exceptional opportunity to launch their products on Asian markets directly.</p>
                    </div>
                </div>
                <div class="middle-items">
                    <div class="item">
                        <div class="item-wrap">
                            <div class="item-big-number">3</div>
                            <div class="item-title">
                                <p>billion</p>
                                <span>impressions daily</span>
                            </div>
                        </div>
                        <div class="item-text">
                            <b>BANNERS</b>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-wrap">
                            <div class="item-big-number">30</div>
                            <div class="item-title">
                                <p>million</p>
                                <span>impressions daily</span>
                            </div>
                        </div>
                        <div class="item-text">
                            <b>VIDEO</b>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-wrap">
                            <div class="item-big-number">100</div>
                            <div class="item-title">
                                <p>million</p>
                                <span>impressions daily</span>
                            </div>
                        </div>
                        <div class="item-text">
                            <b>CLICKUNDER</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle-text-next">
                <div class="middle-text">
                    <div class="item-title">
                        <h2>we offer an all-up direct market <br>launch in asia</h2>
                    </div>
                    <div class="item-text">
                        <p>End will support your company in all the aspects of our partnership<br> So you can count un us in this new directions of your business</p>
                    </div>
                </div>
                <div class="middle-next-images">
                    <div class="item">
                        <div class="item-img"><img src="images/middle-next-images-1.png" alt=""></div>
                        <div class="item-text">market research</div>
                    </div>
                    <div class="item">
                        <div class="item-img"><img src="images/middle-next-images-2.png" alt=""></div>
                        <div class="item-text">product adaptation</div>
                    </div>
                    <div class="item">
                        <div class="item-img"><img src="images/middle-next-images-3.png" alt=""></div>
                        <div class="item-text">product licensing</div>
                    </div>
                    <div class="item">
                        <div class="item-img"><img src="images/middle-next-images-4.png" alt=""></div>
                        <div class="item-text">asian traffic</div>
                    </div>
                    <div class="item">
                        <div class="item-img"><img src="images/middle-next-images-5.png" alt=""></div>
                        <div class="item-text">e-wallets integration</div>
                    </div>
                </div>
            </div>
            <div class="bottom-text">
                <div class="middle-text">
                    <div class="item-title">
                        <h2>your success metters</h2>
                    </div>
                    <div class="item-text">
                        <p>We devise the strategy of your product’s promotion and build a media plan, test and<br> launch an advertising campaign. And, what’s most important, </p>
                        <b>we are in charge of your profit</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>