<div class="right-column-wrap info-list">

    <div class="info-list-wrap">

        <div class="info-list-item">
            <div class="info-list-item-wrap">

                <div class="info-list-item-top">
                    <a href="/news-page.html">
                        <span class="info-list-top-text">
                            <span class="info-list-top-title">media buyer</span>
                            <span class="info-list-top-text-wrap">account manager senior specialist</span>
                        </span>
                    </a>
                </div>

                <div class="info-list-item-bottom">

                    <div class="info-list-item-content">
                        <p>
                            <span class="info-list-icon">
                                <img src="images/point-icon.png" alt="" />
                            </span>
                            <span class="info-list-text">Moscow</span>
                        </p>
                        <p>
                            <span class="info-list-icon">
                                <img src="images/calendar-icon.png" alt="" />
                            </span>
                            <span class="info-list-text">02.06.2016</span>
                        </p>
                    </div>

                    <div class="info-list-item-button">
                        <a href="/news-page.html" class="button">
                            <span>Apply</span>
                        </a>
                    </div>

                </div>

            </div>

        </div>

        <div class="info-list-item">
            <div class="info-list-item-wrap">

                <div class="info-list-item-top">
                    <a href="/news-page.html">
                        <span class="info-list-top-text">
                            <span class="info-list-top-title">media buyer</span>
                            <span class="info-list-top-text-wrap">account manager senior specialist</span>
                        </span>
                    </a>
                </div>

                <div class="info-list-item-bottom">

                    <div class="info-list-item-content">
                        <p>
                            <span class="info-list-icon">
                                <img src="images/point-icon.png" alt="" />
                            </span>
                            <span class="info-list-text">Moscow</span>
                        </p>
                        <p>
                            <span class="info-list-icon">
                                <img src="images/calendar-icon.png" alt="" />
                            </span>
                            <span class="info-list-text">02.06.2016</span>
                        </p>
                    </div>

                    <div class="info-list-item-button">
                        <a href="/news-page.html" class="button">
                            <span>Apply</span>
                        </a>
                    </div>

                </div>

            </div>

        </div>

        <div class="info-list-item">
            <div class="info-list-item-wrap">

                <div class="info-list-item-top">
                    <a href="/news-page.html">
                        <span class="info-list-top-text">
                            <span class="info-list-top-title">media buyer</span>
                            <span class="info-list-top-text-wrap">account manager senior specialist</span>
                        </span>
                    </a>
                </div>

                <div class="info-list-item-bottom">

                    <div class="info-list-item-content">
                        <p>
                            <span class="info-list-icon">
                                <img src="images/point-icon.png" alt="" />
                            </span>
                            <span class="info-list-text">Moscow</span>
                        </p>
                        <p>
                            <span class="info-list-icon">
                                <img src="images/calendar-icon.png" alt="" />
                            </span>
                            <span class="info-list-text">02.06.2016</span>
                        </p>
                    </div>

                    <div class="info-list-item-button">
                        <a href="/news-page.html" class="button">
                            <span>Apply</span>
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="paginator">
        <div class="paginator-arrow prev">
            <span></span>
        </div>
        <div class="paginator-nav">
            <ul>
                <li>
                    <span>1</span>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                </li>
            </ul>
        </div>
        <div class="paginator-arrow next">
            <a href="#"></a>
        </div>
    </div>

</div>