<div class="contacts">
    <div class="mbox">
        <div class="contacts-wrap">
            <div class="contact-text">
                <div class="title">
                    <h1>
                        Contact
                    </h1>
                </div>
                <p>get your perfect online advertising solutions, build exclusively to reach your business goals contuct us</p>
            </div>
            <div class="contact-form">
                <form action="ajax.php">
                    <div class="contact-form-row">
                        <div class="form_input">
                            <input type="text" name="contact[name]" required="required" value="" placeholder="Paul">
                        </div>
                    </div>
                    <div class="contact-form-row">
                        <div class="form_input">
                            <input type="email" name="contact[email]" required="required" value="" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="contact-form-row">
                        <div class="form_input">
                            <input type="text" name="contact[text]" required="required" value="" placeholder="Message">
                        </div>
                    </div>
                    <div class="contact-form-row submit">
                        <div class="contact-form-item">
                            <button type="submit" class="contact-submit">
                                <span>Send</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>