<div class="right-column-wrap tabs-wrap creatives">
    <div class="creatives-wrap">
        <div class="tab-item show">
            <div class="creatives-slider">
                <div class="item test1">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-1.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-2.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item test2">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-3.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-4.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item test3">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-5.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-6.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item test4">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-7.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-8.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item test5">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-5.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-6.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item test6">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-7.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-8.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-item show">
            <div class="creatives-slider">
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-1.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-2.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-3.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-4.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-5.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-6.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-7.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-8.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-item show">
            <div class="creatives-slider">
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-1.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-2.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-3.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-4.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-item show">
            <div class="creatives-slider">
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-1.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-2.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-3.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-4.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-5.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-6.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-7.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-8.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-1.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-2.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-3.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-4.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-5.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-6.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-7.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-8.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-item show">
            <div class="creatives-slider">
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-1.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="#"><div class="item-img-wrap"><img src="images/creatives-img-2.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-item show">6</div>
    </div>
</div>