<div class="right-column-wrap tabs-wrap creatives">
    <div class="creatives-wrap">
        <div class="tab-item show">
            <div class="creatives-slider">
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal1"><div class="item-img-wrap"><img src="images/creatives-img-1.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal1"><div class="item-img-wrap"><img src="images/creatives-img-2.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal1"><div class="item-img-wrap"><img src="images/creatives-img-3.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal1"><div class="item-img-wrap"><img src="images/creatives-img-4.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal1"><div class="item-img-wrap"><img src="images/creatives-img-5.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal1"><div class="item-img-wrap"><img src="images/creatives-img-6.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal1"><div class="item-img-wrap"><img src="images/creatives-img-7.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal1"><div class="item-img-wrap"><img src="images/creatives-img-8.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal1"><div class="item-img-wrap"><img src="images/creatives-img-5.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal1"><div class="item-img-wrap"><img src="images/creatives-img-6.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal1"><div class="item-img-wrap"><img src="images/creatives-img-7.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal1"><div class="item-img-wrap"><img src="images/creatives-img-8.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-item show">
            <div class="creatives-slider">
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal2"><div class="item-img-wrap"><img src="images/creatives-img-1.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal2"><div class="item-img-wrap"><img src="images/creatives-img-2.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal2"><div class="item-img-wrap"><img src="images/creatives-img-3.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal2"><div class="item-img-wrap"><img src="images/creatives-img-4.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal2"><div class="item-img-wrap"><img src="images/creatives-img-5.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal2"><div class="item-img-wrap"><img src="images/creatives-img-6.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal2"><div class="item-img-wrap"><img src="images/creatives-img-7.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal2"><div class="item-img-wrap"><img src="images/creatives-img-8.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-item show">
            <div class="creatives-slider">
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal3"><div class="item-img-wrap"><img src="images/creatives-img-1.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal3"><div class="item-img-wrap"><img src="images/creatives-img-2.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal3"><div class="item-img-wrap"><img src="images/creatives-img-3.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal3"><div class="item-img-wrap"><img src="images/creatives-img-4.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-item show">
            <div class="creatives-slider">
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-1.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-2.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-3.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-4.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-5.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-6.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-7.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-8.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-1.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-2.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-3.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-4.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-5.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-6.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-7.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal4"><div class="item-img-wrap"><img src="images/creatives-img-8.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-item show">
            <div class="creatives-slider">
                <div class="item">
                    <div class="item-wrap">
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal5"><div class="item-img-wrap"><img src="images/creatives-img-1.jpg" alt=""></div></a>
                        </div>
                        <div class="item-img">
                            <a href="images/creatives-img-pop.jpg" class="fancy-gallery" data-fancybox-group="gal5"><div class="item-img-wrap"><img src="images/creatives-img-2.jpg" alt=""></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-item show">
            <div class="creatives-slider">test6</div>
        </div>
    </div>
</div>