<div class="right-column-wrap tabs-wrap creatives">
    <div class="creatives-wrap active">
        <div class="tab-item show">

            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/careativ01s.jpg"  data-fancybox-group="gal" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
        </div>
        <div class="tab-item show">
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal1" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/careativ01s.jpg"  data-fancybox-group="gal1" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal1" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal1" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal1" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal1" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal1" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal1" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal1" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal1" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal1" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
        </div>
        <div class="tab-item show">
            <div class="item-preroll"><a href="#"><img src="images/pre-rol01.jpg" alt=""><div class="title-item"><p>Parimatch - Promo clip</p></div></a></div>
            <div class="video-wrap trollPlayer">
                <video src="images/SampleVideo_1280x720_5mb.mp4"  poster="images/pre-rol01.jpg" controls ></video>
            </div>
        </div>
        <div class="tab-item show">
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal2" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/careativ01s.jpg"  data-fancybox-group="gal2" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal2" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal2" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal2" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal2" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal2" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal2" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal2" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal2" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal2" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
        </div>
        <div class="tab-item show">
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal3" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/careativ01s.jpg"  data-fancybox-group="gal3" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal3" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal3" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal3" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal3" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal3" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal3" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal3" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal3" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
            <div class="item">
                <div class="item-link-wrap"><a href="images/creativ01big.jpg"  data-fancybox-group="gal3" class="item-link fancy-gallery"><img src="images/careativ01s.jpg" alt=""><span class="hover"></span></a></div>
            </div>
        </div>
        <div class="tab-item show">
            <div class="creatives-slider">test6</div>
        </div>
        <div class="tab-item show">
            <div class="creatives-slider">test7</div>
        </div>
    </div>
</div>