<div class="right-column-wrap info-list">

    <div class="info-list-wrap">

        <div class="info-list-item">
            <div class="info-list-item-wrap">

                <div class="info-list-item-top">
                    <a href="/news-page.html">
                        <span class="info-list-img">
                            <img src="images/event-img-1.png" alt="" />
                        </span>
                    </a>
                </div>

                <div class="info-list-item-bottom">

                    <div class="info-list-item-content">
                        <p>
                            <span class="info-list-icon">
                                <img src="images/point-icon.png" alt="" />
                            </span>
                            <span class="info-list-text">Beijing, China</span>
                        </p>
                        <p>
                            <span class="info-list-icon">
                                <img src="images/calendar-icon.png" alt="" />
                            </span>
                            <span class="info-list-text">2 Sep - 10 Sep</span>
                        </p>
                    </div>

                    <div class="info-list-item-button">
                        <a href="/news-page.html" class="button">
                            <span>Arrange a meeting</span>
                        </a>
                    </div>

                </div>

            </div>

        </div>

        <div class="info-list-item">
            <div class="info-list-item-wrap">

                <div class="info-list-item-top">
                    <a href="/news-page.html">
                        <span class="info-list-img">
                            <img src="images/event-img-2.png" alt="" />
                        </span>
                    </a>
                </div>

                <div class="info-list-item-bottom">

                    <div class="info-list-item-content">
                        <p>
                            <span class="info-list-icon">
                                <img src="images/point-icon.png" alt="" />
                            </span>
                            <span class="info-list-text">Tel Aviv, Israel</span>
                        </p>
                        <p>
                            <span class="info-list-icon">
                                <img src="images/calendar-icon.png" alt="" />
                            </span>
                            <span class="info-list-text">14 June</span>
                        </p>
                    </div>

                    <div class="info-list-item-button">
                        <a href="/news-page.html" class="button">
                            <span>Arrange a meeting</span>
                        </a>
                    </div>

                </div>

            </div>

        </div>

        <div class="info-list-item">
            <div class="info-list-item-wrap">

                <div class="info-list-item-top">
                    <a href="/news-page.html">
                        <span class="info-list-img">
                            <img src="images/event-img-3.png" alt="" />
                        </span>
                    </a>
                </div>

                <div class="info-list-item-bottom">

                    <div class="info-list-item-content">
                        <p>
                            <span class="info-list-icon">
                                <img src="images/point-icon.png" alt="" />
                            </span>
                            <span class="info-list-text">Berlin, Germany</span>
                        </p>
                        <p>
                            <span class="info-list-icon">
                                <img src="images/calendar-icon.png" alt="" />
                            </span>
                            <span class="info-list-text">18 July - 10 July</span>
                        </p>
                    </div>

                    <div class="info-list-item-button">
                        <a href="/news-page.html" class="button">
                            <span>Arrange a meeting</span>
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="paginator">
        <div class="paginator-arrow prev">
            <span></span>
        </div>
        <div class="paginator-nav">
            <ul>
                <li>
                    <span>1</span>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                </li>
            </ul>
        </div>
        <div class="paginator-arrow next">
            <a href="#"></a>
        </div>
    </div>

</div>