<div class="event-page-main">

    <div class="event-page-slider-main">
        <div class="event-page-slider-wrap">
            <div class="event-page-slider">

                <div class="event-page-slider-item">
                    <div class="event-page-slider-item-top">
                        <div class="event-page-slider-item-img">
                            <img src="images/event-page-slider-img.png" alt="" />
                        </div>
                        <div class="event-page-slider-item-text">
                            <div class="event-page-slider-item-text-wrap">
                                <p>Affiliate World Europe</p>
                                <p>2016</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-page-slider-item-bottom">

                        <div class="event-page-date-period">
                            <div class="event-page-date-period-col">
                                <div class="event-page-date-period-col-num">18</div>
                                <div class="event-page-date-period-text">September</div>
                            </div>
                            <div class="event-page-date-period-row"></div>
                            <div class="event-page-date-period-col">
                                <div class="event-page-date-period-col-num">19</div>
                                <div class="event-page-date-period-text">September</div>
                            </div>
                        </div>

                        <div class="event-page-date-text">
                            <div class="event-page-date-text-top">
                                <p>Berlin, Germany</p>
                            </div>
                            <div class="event-page-date-text-bottom">
                                <a href="#">affiliateworldconferences.com</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="event-page-slider-item">
                    <div class="event-page-slider-item-top">
                        <div class="event-page-slider-item-img">
                            <img src="images/event-page-slider-img.png" alt="" />
                        </div>
                        <div class="event-page-slider-item-text">
                            <div class="event-page-slider-item-text-wrap">
                                <p>Affiliate World Europe</p>
                                <p>2016</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-page-slider-item-bottom">

                        <div class="event-page-date-period">
                            <div class="event-page-date-period-col">
                                <div class="event-page-date-period-col-num">20</div>
                                <div class="event-page-date-period-text">September</div>
                            </div>
                            <div class="event-page-date-period-row"></div>
                            <div class="event-page-date-period-col">
                                <div class="event-page-date-period-col-num">21</div>
                                <div class="event-page-date-period-text">September</div>
                            </div>
                        </div>

                        <div class="event-page-date-text">
                            <div class="event-page-date-text-top">
                                <p>Berlin, Germany</p>
                            </div>
                            <div class="event-page-date-text-bottom">
                                <a href="#">affiliateworldconferences.com</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="event-page-slider-item">
                    <div class="event-page-slider-item-top">
                        <div class="event-page-slider-item-img">
                            <img src="images/event-page-slider-img.png" alt="" />
                        </div>
                        <div class="event-page-slider-item-text">
                            <div class="event-page-slider-item-text-wrap">
                                <p>Affiliate World Europe</p>
                                <p>2016</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-page-slider-item-bottom">

                        <div class="event-page-date-period">
                            <div class="event-page-date-period-col">
                                <div class="event-page-date-period-col-num">22</div>
                                <div class="event-page-date-period-text">September</div>
                            </div>
                            <div class="event-page-date-period-row"></div>
                            <div class="event-page-date-period-col">
                                <div class="event-page-date-period-col-num">23</div>
                                <div class="event-page-date-period-text">September</div>
                            </div>
                        </div>

                        <div class="event-page-date-text">
                            <div class="event-page-date-text-top">
                                <p>Berlin, Germany</p>
                            </div>
                            <div class="event-page-date-text-bottom">
                                <a href="#">affiliateworldconferences.com</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="event-page-content">

        <div class="event-page-datepicker">
            <div class="event-page-datepiker-wrap">
                <div class="event-page-datepciker-top">

                </div>
                <div class="event-page-datepicker-bottom">

                </div>
            </div>
        </div>

        <div class="event-page-form">
            <div class="event-page-form-wrap">
                <form class="event-page-form-main">

                </form>
            </div>
        </div>

    </div>

</div>