<div class="event-page-main">

    <div class="event-page-slider-main">
        <div class="event-page-slider-wrap">
            <div class="event-page-slider">

                <div class="event-page-slider-item" data-event="first">
                    <div class="event-page-slider-item-top">
                        <div class="event-page-slider-item-img">
                            <img src="images/event-page-slider-img.png" alt="" />
                        </div>
                        <div class="event-page-slider-item-text">
                            <div class="event-page-slider-item-text-wrap">
                                <p>Affiliate World Europe</p>
                                <p>2016</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-page-slider-item-bottom">

                        <div class="event-page-date-period">
                            <div class="event-page-date-period-col">
                                <div class="event-page-date-period-col-num">18</div>
                                <div class="event-page-date-period-text">September</div>
                            </div>
                            <div class="event-page-date-period-row"></div>
                            <div class="event-page-date-period-col">
                                <div class="event-page-date-period-col-num">19</div>
                                <div class="event-page-date-period-text">September</div>
                            </div>
                        </div>

                        <div class="event-page-date-text">
                            <div class="event-page-date-text-top">
                                <p>Berlin, Germany</p>
                            </div>
                            <div class="event-page-date-text-bottom">
                                <a href="#">affiliateworldconferences.com</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="event-page-slider-item" data-event="second">
                    <div class="event-page-slider-item-top">
                        <div class="event-page-slider-item-img">
                            <img src="images/event-page-slider-img.png" alt="" />
                        </div>
                        <div class="event-page-slider-item-text">
                            <div class="event-page-slider-item-text-wrap">
                                <p>Affiliate World Europe</p>
                                <p>2016</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-page-slider-item-bottom">

                        <div class="event-page-date-period">
                            <div class="event-page-date-period-col">
                                <div class="event-page-date-period-col-num">20</div>
                                <div class="event-page-date-period-text">September</div>
                            </div>
                            <div class="event-page-date-period-row"></div>
                            <div class="event-page-date-period-col">
                                <div class="event-page-date-period-col-num">21</div>
                                <div class="event-page-date-period-text">September</div>
                            </div>
                        </div>

                        <div class="event-page-date-text">
                            <div class="event-page-date-text-top">
                                <p>Berlin, Germany</p>
                            </div>
                            <div class="event-page-date-text-bottom">
                                <a href="#">affiliateworldconferences.com</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="event-page-slider-item" data-event="third">
                    <div class="event-page-slider-item-top">
                        <div class="event-page-slider-item-img">
                            <img src="images/event-page-slider-img.png" alt="" />
                        </div>
                        <div class="event-page-slider-item-text">
                            <div class="event-page-slider-item-text-wrap">
                                <p>Affiliate World Europe</p>
                                <p>2016</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-page-slider-item-bottom">

                        <div class="event-page-date-period">
                            <div class="event-page-date-period-col">
                                <div class="event-page-date-period-col-num">22</div>
                                <div class="event-page-date-period-text">September</div>
                            </div>
                            <div class="event-page-date-period-row"></div>
                            <div class="event-page-date-period-col">
                                <div class="event-page-date-period-col-num">23</div>
                                <div class="event-page-date-period-text">September</div>
                            </div>
                        </div>

                        <div class="event-page-date-text">
                            <div class="event-page-date-text-top">
                                <p>Berlin, Germany</p>
                            </div>
                            <div class="event-page-date-text-bottom">
                                <a href="#">affiliateworldconferences.com</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="event-page-content-wrap">
        <div class="mbox">
            <div class="event-page-content">

                <div class="event-page-datepicker">
                    <div class="event-page-title">select the date:</div>
                    <div class="event-page-datepicker-content">
                        <div class="event-page-datepicker-wrap">
                            <div class="event-page-datepicker-top">
                                <div class="event-page-datepicker-top-wrap">

                                </div>
                            </div>
                            <div class="event-page-datepicker-days">
                                <ul>

                                </ul>
                            </div>
                            <div class="event-page-datepicker-bottom">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="event-page-form">
                    <div class="event-page-form-content">
                        <div class="event-page-title">arnage a meeting:</div>
                        <div class="event-page-form-wrap">
                            <form action="ajax.php" class="event-page-form-main">
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="text" name="user_name" placeholder="Name*" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="text" name="user_second_name" placeholder="Company*" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="email" name="user_email" placeholder="E-mail*" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <textarea type="text" name="user_message" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="form-row hidden-row">
                                    <div class="form-input">
                                        <input type="hidden" name="user_chossen_date" value="" />
                                    </div>
                                </div>
                                <div class="form_row form_submit">
                                    <div class="form_input">
                                        <button type="submit" class="button button-red">
                                            <span>send</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>