<section class="expertise" id="expertise">
    <div class="mbox">
        <div class="title-filter cfix">
            <div class="title"><h2>expertise</h2></div>
            <div class="menu-filter">
                <form action="">
                    <ul>
                        <li>
                            <a href="#">promotion</a>
                        </li>
                        <li>
                            <a href="#">traffic</a>
                        </li>
                        <li>
                            <a href="#">asia</a>
                        </li>
                        <li>
                            <a href="#">gaming</a>
                        </li>
                        <li>
                            <a href="#">pr</a>
                        </li>
                        <li>
                            <a href="#">creatives</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="row-wrap">
                <div class="row">
                    <div class="left-col img">
                        <div class="img-wrap">
                            <img src="images/exp01.jpg" class="col-img-bg" alt="" />
                            <div class="img-wrap-text">
                                <p>Global</p>
                                <p>
                                    <b>Advertising</b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="right-col txt">
                        <p>
                            <b>We operate globally, having more than 50 countries as geos to target. Our key strength is CIS region, but we also have strong positions in Asia and Europe.</b>
                        </p>
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    <span class="col-text">exclusives websites</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    <span class="col-text">perfect targeting</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    <span class="col-text">fair prices</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    <span class="col-text">individual approach</span>
                                </a>
                            </li>

                        </ul>
                        <p>
                            <a href="/advertising.html">more</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row-wrap row-reverse">
                <div class="row">
                    <div class="left-col txt">
                        <p>
                            <b>We strive to have the TOP-websites inventory, so equally provide:</b>
                        </p>
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    <span class="col-text">all-formats monetization</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    <span class="col-text">highest in-time payouts</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    <span class="col-text">24/7 support</span>
                                </a>
                            </li>
                        </ul>
                        <p>
                            <a href="/creatives.html">more</a>
                        </p>
                    </div>
                    <div class="right-col img">
                        <div class="img-wrap">
                            <img src="images/exp04.jpg" class="col-img-bg" alt="" />
                            <div class="img-wrap-text">
                                <p>
                                    <b>Monetization</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-wrap">
                <div class="row">
                    <div class="left-col img">
                        <div class="img-wrap">
                            <img src="images/exp03.jpg" class="col-img-bg" alt="" />
                            <div class="img-wrap-text">
                                <p>Asia</p>
                                <p>
                                    <b>Market launch</b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="right-col txt">
                        <p>
                            <b>We provide an all-up solution of launching your online-product in Asia.</b>
                        </p>
                        <p>Having a direct partnership there we can cover all the stages of the expansion process:</p>
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    <span class="col-text">market research</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    <span class="col-text">product adaptation and licensing</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    <span class="col-text">Asian traffic and local team for support and optimization</span>
                                </a>
                            </li>
                        </ul>
                        <p><a href="/creatives.html">more</a></p>
                    </div>
                </div>
            </div>
            <div class="row-wrap row-reverse">
                <div class="row">
                    <div class="left-col txt">
                        <p>We mix talent, experience and research to gain a clear and deep understanding of brands’ and customers' needs, providing best performing creatives that gain a true value for businesses.</p>
                    </div>
                    <div class="right-col img">
                        <div class="img-wrap">
                            <img src="images/exp02.jpg" class="col-img-bg" alt="" />
                            <div class="img-wrap-text">
                                <p>Creatives</p>
                                <p>
                                    <b>& production</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>