<section class="expertise" id="expertise">
    <div class="mbox">
        <div class="title-filter cfix">
            <div class="title"><h2>expertise</h2></div>
            <div class="menu-filter">
                <form action="">
                    <ul>
                        <li><a href="#">trafic</a></li>
                        <li><a href="#">websites</a></li>
                        <li><a href="#">asia</a></li>
                        <li><a href="#">mobile</a></li>
                        <li><a href="#">pr</a></li>
                        <li><a href="#">creatives</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="row-wrap">
                <div class="row">
                    <div class="left-col img"><div class="img-wrap"><img src="images/exp01.jpg" alt=""></div></div>
                    <div class="right-col txt">
                        <p><b>we provide a full range of online promotion services and boost your direct sales.</b></p>
                        <ul>
                            <li><img src="images/tzticon.png" alt=""><a href="#">exclusives websites,</a></li>
                            <li><img src="images/tzticon.png" alt=""><a href="#">perfect targeting options</a></li>
                            <li><img src="images/tzticon.png" alt=""><a href="#">fair prices</a></li>
                            <li><img src="images/tzticon.png" alt=""><a href="#">individual approach.</a></li>

                        </ul>
                        <p><a href="#">more</a></p>
                    </div>
                </div>
            </div>
            <div class="row-wrap">
                <div class="row">
                    <div class="left-col txt">
                        <p>passion is life, so is creativity. we mix talent, experience and research to gain a clear and deep understanding of brands’ and customers’ needs</p>
                        <p><a href="#">see examples</a></p>
                    </div>
                    <div class="right-col img"><div class="img-wrap"><img src="images/exp02.jpg" alt=""></div></div>
                </div>
            </div>
            <div class="row-wrap">
                <div class="row">
                    <div class="left-col img"><div class="img-wrap"><img src="images/exp03.jpg" alt=""></div></div>
                    <div class="right-col txt">
                        <p><b>we provide a full support of your online product in Asian market.</b></p>
                        <ul>
                            <li><img src="images/tzticon.png" alt=""><a href="#">market research</a></li>
                            <li><img src="images/tzticon.png" alt=""><a href="#">product adaptation</a></li>
                            <li><img src="images/tzticon.png" alt=""><a href="#">product licensing</a></li>
                            <li><img src="images/tzticon.png" alt=""><a href="#">asian traffic</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-wrap">
                <div class="row">
                    <div class="left-col txt">
                        <p><b>we provide a full support of your online product in Asian market.</b></p>
                           <p> we give you a turnkey solution </p>
                        <ul>
                            <li><img src="images/tzticon.png" alt=""><a href="#">market research</a></li>
                            <li><img src="images/tzticon.png" alt=""><a href="#">product adaptation</a></li>
                            <li><img src="images/tzticon.png" alt=""><a href="#">product licensing</a></li>
                            <li><img src="images/tzticon.png" alt=""><a href="#">asian traffic</a></li>
                        </ul>
                    </div>
                    <div class="right-col img"><div class="img-wrap"><img src="images/exp04.jpg" alt=""></div></div>
                </div>
            </div>
        </div>
    </div>
</section>