<section class="expertise" id="expertise">
    <div class="mbox">
        <div class="title-filter cfix">
            <div class="title"><h2>expertise</h2></div>
            <div class="menu-filter">
                <form action="">
                    <ul>
                        <li>
                            <a href="#">promotion</a>
                        </li>
                        <li>
                            <a href="#">traffic</a>
                        </li>
                        <li>
                            <a href="#">asia</a>
                        </li>
                        <li>
                            <a href="#">gaming</a>
                        </li>
                        <li>
                            <a href="#">pr</a>
                        </li>
                        <li>
                            <a href="#">creatives</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="row-wrap">
                <div class="row">
                    <div class="left-col img">
                        <div class="img-wrap">
                            <img src="images/ex1.png" class="col-img-bg" alt="" />
                            <!--<div class="img-wrap-text">
                                <p>Global</p>
                                <p>
                                    <b>Advertising</b>
                                </p>
                            </div>-->
                        </div>
                    </div>
                    <div class="right-col txt">
                        <p>
                            <b>Global<br> advertising</b>
                        </p>
                        <p>we provide a full range of online promotion services and boost your direct sales.</p>
                        <ul>
                            <li>
                                <a href="#">
                                    <!--
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    -->
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <span class="col-text">exclusives websites</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!--
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    -->
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <span class="col-text">perfect targeting options</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!--
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    -->
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <span class="col-text">fair prices</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!--
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    -->
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <span class="col-text">individual approach</span>
                                </a>
                            </li>

                        </ul>
                        <p>
                            <a href="/advertising.html">more</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row-wrap row-reverse">
                <div class="row">
                    <div class="left-col txt">
                        <p>
                            <b>Monetization</b>
                        </p>
                        <p>we give you a turnkey solution with a full range of requisite features and services as </p>
                        <ul>
                            <li>
                                <a href="#">
                                    <!--
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    -->
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <span class="col-text">marketing strategy</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!--
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    -->
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <span class="col-text">public relations</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!--
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    -->
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <span class="col-text">design and development</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-col img">
                        <div class="img-wrap">
                            <img src="images/ex2.png" class="col-img-bg" alt="" />
                            <!--<div class="img-wrap-text">
                                <p>
                                    <b>Monetization</b>
                                </p>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-wrap">
                <div class="row">
                    <div class="left-col img">
                        <div class="img-wrap">
                            <img src="images/ex3.png" class="col-img-bg" alt="" />
                            <!--<div class="img-wrap-text">
                                <p>Asia</p>
                                <p>
                                    <b>Market launch</b>
                                </p>
                            </div>-->
                        </div>
                    </div>
                    <div class="right-col txt">
                        <p>
                            <b>asian<br> market  launch</b>
                        </p>
                        <p>we provide a full support of your online product in Asian market.</p>
                        <ul>
                            <li>
                                <a href="#">
                                    <!--
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    -->
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <span class="col-text">market research</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!--
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    -->
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <span class="col-text">product adaptation</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!--
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    -->
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <span class="col-text">product licensing </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!--
                                    <span class="col-icon">
                                        <img src="images/tzticon.png" alt="" />
                                        <img src="images/tzticonHover.png" alt="" class="hover-img" />
                                    </span>
                                    -->
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <span class="col-text">asian traffic</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-wrap row-reverse">
                <div class="row">
                    <div class="left-col txt">
                        <p>
                            <b>creatives<br> & production</b>
                        </p>
                        <p>passion is life, so is creativity. we mix talent, experience and research to gain a clear and deep understanding of brands’ and customers’ needs</p>
                        <p><a href="/creatives.html">more</a></p>
                    </div>
                    <div class="right-col img">
                        <div class="img-wrap">
                            <img src="images/ex4.png" class="col-img-bg" alt="" />
                            <!--<div class="img-wrap-text">
                                <p>Creatives</p>
                                <p>
                                    <b>& production</b>
                                </p>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>