<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
	<div class="mbox">
		<div class="left-side-menu">
			<a class="link-wrapper">
				<div class="images-wrapper">					
					<img src="images/footer-mail.png">										
				</div>	
				<span>manager@adwise.agency</span>
			</a>	
			<a class="link-wrapper">
				<div class="images-wrapper">					
					<img src="images/footer-skype.png">										
				</div>	
				<span>adwise.agency</span>
			</a>		
			<div class="button-wrapper">
				<button>
					<span>contact us</span>
				</button>
			</div>
		</div>
		<div class="middle-part-menu">
			<div class="heading">
				<h3>Follow us</h3>
			</div>
			<div class="social-conteiner">
				<a href=""><img src="images/footer-facebook.png"></a>
				<a href=""><img src="images/footer-in.png"></a>
				<a href=""><img src="images/footer-twitter.png"></a>				
			</div>
		</div>
		<div class="right-side-menu">
			<div class="some-links">
				<a href="">Ad formats</a>
			</div>
			<div class="some-links">
				<a href="">Advertise</a>
			</div>
			<div class="some-links">
				<a href="">Publish</a>
			</div>
		</div>
	</div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
