<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
	<div class="mbox">

        <div class="footer-top">
            <div class="footer-block left-side-menu">
                <div class="link-wrapper-main">
                    <p class="link-wrapper">
                        <a href="#">
                            <span class="images-wrapper">
                                <img src="images/footer-mail.png">
                            </span>
                            <span class="link-text">manager@adwise.agency</span>
                        </a>
                    </p>
                    <p class="link-wrapper">
                        <a href="#">
                            <span class="images-wrapper">
                                <img src="images/footer-skype.png">
                            </span>
                            <span class="link-text">adwise.agency</span>
                        </a>
                    </p>
                </div>
                <div class="button-wrapper">
                    <button>
                        <span>contact us</span>
                    </button>
                </div>
            </div>
            <div class="footer-block middle-part-menu">
                <div class="heading">
                    <h3>Follow us</h3>
                </div>
                <div class="social-conteiner">
                    <a href="#">
                        <img src="images/footer-sl1.png" alt="" />
                    </a>
                    <a href="#">
                        <img src="images/footer-in.png" alt="" />
                    </a>
                    <a href="#">
                        <img src="images/footer-sl2.png" alt="" />
                    </a>
                    <a href="#">
                        <img src="images/footer-vk.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="footer-block right-side-menu">
                <div class="some-links">
                    <a href="#">Blog</a>
                </div>
                <div class="some-links">
                    <a href="#">Advertise</a>
                </div>
                <div class="some-links">
                    <a href="#">Publish</a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <ul>
                <li>
                    <a href="/legal.html">terms & conditions</a>
                </li>
                <li>
                    <a href="/legal.html">privacy policy</a>
                </li>
                <li>
                    <a href="/legal.html">adwise.agency | adwise llc. 2016</a>
                </li>
            </ul>
        </div>

	</div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->

<script>

    var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    var dayNames = ['Su','Mo','Tu','We','Th','Fr','Sa'];

</script>

<script src="js/plagins/jq-22.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
