<!-- HEADER -->
<header>
    <div class="mbox">

        <div class="header">

            <div class="butter">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <a href="/" class="logo">
                <img src="images/logo.svg" alt="" />
            </a>

            <div class="menu">

                <ul class="menu-wrap">

                    <li>
                        <p class="link-wrap-main">
                            <a href="#">
                                <span class="link-wrap">about</span>
                            </a>
                        </p>
                    </li>
                    <li class="second-level">
                        <p class="link-wrap-main">
                            <a href="#">
                                <span class="link-wrap">expertise</span>
                            </a>
                            <!--<span class="mobile-arrow"></span>-->
                        </p>
                        <ul class="second-level-list">
                            <li>
                                <p class="link-wrap-main">
                                    <a href="/advertising.html">
                                        <span class="link-wrap">Advertising</span>
                                    </a>
                                </p>
                            </li>
                            <li>
                                <p class="link-wrap-main">
                                    <a href="/monetization.html">
                                        <span class="link-wrap">Monetisation</span>
                                    </a>
                                </p>
                            </li>
                            <li>
                                <p class="link-wrap-main">
                                    <a href="/asian-market.html">
                                        <span class="link-wrap">Asian Market launch</span>
                                    </a>
                                </p>
                            </li>
                            <li>
                                <p class="link-wrap-main">
                                    <a href="/creatives.html">
                                        <span class="link-wrap">Creatives</span>
                                    </a>
                                </p>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <p class="link-wrap-main">
                            <a href="/services.html">
                                <span class="link-wrap">services</span>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="link-wrap-main">
                            <a href="/news-list.html">
                                <span>
                                    <span class="link-wrap">news</span>
                                    <sup>
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    </sup>
                                </span>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p class="link-wrap-main">
                            <a href="/contacts.html">
                                <span class="link-wrap">contact</span>
                            </a>
                        </p>
                    </li>

                </ul>

                <div class="laguages-wrap">
                    <div class="language-choose active">
                        <a href="#">
                            <span class="link-wrap unactive">en</span>
                        </a>
                    </div>
                    <div class="language-choose">
                        <a href="#">
                            <span class="link-wrap">ru</span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="login-wrap">
                <a href="#login" class="log-in fancy-login">
                    <span class="log-in-icon">
                        <img src="images/log-in-icon.svg" alt="" />
                        <img src="images/log-in-icon-hover.svg" alt="" class="hover" />
                    </span>
                    <span class="log-in-text">log in</span>
                </a>
            </div>

        </div>

    </div>
</header>
<!-- /HEADER -->

