<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="header">
            <a href="#" class="logo"><img src="images/logo.png" alt=""></a>
            <ul class="menu">
                <li><a href="#"><span>about</span></a></li>
                <li class="second-level">
                    <a href="#">
                        <span>expertise</span>
                    </a>
                    <span class="mobile-arrow"></span>
                    <ul class="second-level-list">
                        <li>
                            <a href="#">
                                <span>Advertising</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Creative and Production</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Asian Market Launch</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><span>services</span></a></li>
                <li><a href="#"><span>news</span></a></li>
                <li><a href="#"><span>contact</span></a></li>
                <li><a class="active" href="#"><span>en</span></a><a  href="#"><span>ru</span></a></li>
            </ul>
            <div class="butter"><span></span><span></span><span></span></div>
        </div>
    </div>
</header>
<!-- /HEADER -->

