<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="header">
            <a href="/" class="logo">
                <img src="images/logo.png" alt="" />
            </a>
            <ul class="menu">
                <li>
                    <a href="#">
                        <span>about</span>
                    </a>
                </li>
                <li class="second-level">
                    <a href="#">
                        <span>expertise</span>
                    </a>
                    <span class="mobile-arrow"></span>
                    <ul class="second-level-list">
                        <li>
                            <a href="/advertising.html">
                                <span>Advertising</span>
                            </a>
                        </li>
                        <li>
                            <a href="/monetization.html">
                                <span>Monetisation</span>
                            </a>
                        </li>
                        <li>
                            <a href="/asian-market.html">
                                <span>Asian Market launch</span>
                            </a>
                        </li>
                        <li>
                            <a href="/creatives.html">
                                <span>Creatives</span>
                            </a>
                        </li>

                    </ul>
                </li>


                <li><a href="/services.html"><span>services</span></a></li>
                <li><a href="/news-list.html"><span>news <sup><i class="fa fa-exclamation-circle" aria-hidden="true"></i></sup></span></a></li>
                <li><a href="/contacts.html"><span>contact</span></a></li>


                <li>
                    <a class="active language-choose" href="#">
                        <span>en</span>
                    </a>
                    <a class="language-choose" href="#">
                        <span>ru</span>
                    </a>
                </li>
                <li>
                    <a href="/login.html" class="log-in">
                        <span class="log-in-icon">
                            <img src="images/log-in-icon.png" alt="" />
                        </span>
                        <span class="log-in-text">log in</span>
                    </a>
                </li>
            </ul>
            <div class="butter"><span></span><span></span><span></span></div>
        </div>
    </div>
</header>
<!-- /HEADER -->

