<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Thank you for your application!</div>
                 <div class="call-subtitle">We will contact you shortly.</div>
             </div>
        </div>
    </div>
    <div id="video-popup">
        <div class="popup-wrap">
            <div class="video-wrap trollPlayer">
                <video src=""  poster=""></video>
            </div>
        </div>
    </div>
    <div id="audio-popup">
        <div class="popup-wrap">
            <div class="audio-wrap">
                <div id="waveform"></div>

                <div class="title">lorem ipsum</div>
                <div class="controll">
                    <div class="play-bttn ctrl-bttn"></div>
                    <div class="time-control">
                        <div class="curent-time"></div>
                        <div class="total-progress">
                            <span class="curent-progress"></span>
                        </div>
                        <div class="total-time"></div>
                    </div>
                    <div class="mute-bttn ctrl-bttn"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="voiceover-popup">
        <div class="popup-wrap">
            <div class="voiceover-container">
                <div class="video-wrap trollPlayer">
                    <video src=""  poster=""></video>
                </div>
                <div class="audio-wrap">
                    <div class="waves">
                        <div id="waveformVideo"></div>
                        <div id="waveformAudio"></div>
                        <div class="wavepreloader">
                            <div class="preload-1">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="title-audio"></div>

                </div>
            </div>
        </div>
    </div>

</div>