<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Thank you for your application!</div>
                 <div class="call-subtitle">We will contact you shortly.</div>
             </div>
        </div>
    </div>
    <div id="video-popup">
        <div class="popup-wrap">
            <div class="video-wrap trollPlayer">
                <video src=""  poster=""></video>
            </div>
        </div>
    </div>
    <div id="audio-popup">
        <div class="popup-wrap">
            <div class="audio-wrap">
                <div id="waveform"></div>

                <div class="title">lorem ipsum</div>
                <div class="controll">
                    <div class="play-bttn ctrl-bttn"></div>
                    <div class="time-control">
                        <div class="curent-time"></div>
                        <div class="total-progress">
                            <span class="curent-progress"></span>
                        </div>
                        <div class="total-time"></div>
                    </div>
                    <div class="mute-bttn ctrl-bttn"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="voiceover-popup">
        <div class="popup-wrap">
            <div class="voiceover-container">
                <div class="video-wrap trollPlayer">
                    <video src=""  poster=""></video>
                </div>
                <div class="audio-wrap">
                    <div class="waves">
                        <div id="waveformVideo"></div>
                        <div id="waveformAudio"></div>
                        <div class="wavepreloader">
                            <div class="preload-1">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="title-audio"></div>

                </div>
            </div>
        </div>
    </div>

    <div id="login">
        <div class="login-wrap">
            <div class="login-buttons">
                <a href="#" class="active"><span>Join us</span></a>
                <a href="#"><span>log in</span></a>
            </div>
            <div class="login-items">
                <div class="item active">
                    <p>becoming our partner meens getting more possibilities from the different sources, and what’s more important - boost your profit</p>
                    <div class="item-hr"></div>
                    <p>to get your login/password to the system <br> please contact us</p>

                    <div class="item-button">
                        <a href="#" class="button-round"><span>get in touch</span></a>
                    </div>

                </div>
                <div class="item">
                    <div class="item-form">
                        <div class="item-form-title">
                            Welcome back!
                        </div>
                        <form action="ajax.php">
                            <div class="contact-form-row">
                                <div class="form_input">
                                    <input type="text" name="login[name]" required="required" value="" placeholder="Name">
                                </div>
                            </div>
                            <div class="contact-form-row">
                                <div class="form_input">
                                    <input type="password" name="login[pass]" required="required" value="" placeholder="Password">
                                </div>
                            </div>
                            <div class="contact-form-row submit">
                                <div class="contact-form-item">
                                    <button type="submit" class="contact-submit button-round">
                                        <span>enter</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>