<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Thank you for your application!</div>
                 <div class="call-subtitle">We will contact you shortly.</div>
             </div>
        </div>
    </div>

</div>