<div class="vacancy-wrap legal-wrap">
    <svg id="svg-image-blur">
        <filter id="blur-effect-1">
            <feGaussianBlur stdDeviation="2" />
        </filter>
    </svg>
    <div class="conter-s">

        <div class="left-navi">
            <div class="smash" style="background-image: url(images/legal.jpg);">
            </div>
            <div class="contr">
                <div class="top-part">
                    <div class="con">
                        <b> Global </b>
                        <span> placements </span>
                    </div>
                </div>
                <div class="bot-navi">
                    <ul>
                        <li class="curr">
                            <span>Teams and conditions</span>
                        </li>
                        <li>
                            <span>Privacy policy</span>
                        </li>
                        <li>
                            <span>Contact details</span>
                        </li>
                        <li>
                            <span>Services and pricing</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-conetein">
            <div class="smash blur-smash" style="background-image: url(images/legal.jpg);">
            </div>
            <div class="converter">
                <div class="radi">
                    <div class="boxer">
                        <ul>
                            <li>
                                <div class="t-page"> terms and conditions </div>
                                <div class="after-block">
                                    <b> Obligations: </b>
                                    <p>Advertiser shall indemnify, defend and hold ADWISE harmless from and against any and all liabilities, damages, losses and claims, which may be suffered by site, arising out of a claim that the advertisements infringe or misappropriates any patent, copyright or other proprietary right. In no event will ADWISE be liable to site for any damages or any losses whatsoever. Advertiser warrants and represents that it shall not provide to ADWISE any advertising for any product or service where that product or service (or advertising for that product or service) is not legal and licensed, in the jurisdiction in which it is offered.</p>

                                    <b> Penalties: </b>
                                    <p>In case of violation of terms of payment for services set by the Inserion Order, ADWISE shall be entitled to collect from the Customer a penalty of 0.1% of the overdue payment amount for each day of delay, but not more than the amount of the overdue payment.</p>

                                    <b>Confidentiality:</b>
                                    <p>Any confidential information and/or proprietary data provided by one party (“Discloser”) to the other party (“Recipient”), including the Advertisement descriptions and the pricing of the Advertisement and the terms hereof, shall be deemed “Confidential Information” of the Discloser. Confidential Information shall not be released by the Recipient to anyone except an employee or agent that has a need to know same and that is bound by written confidentiality obligations at least as strict as those contained herein. Recipient shall not use any portion of Confidential Information provided by the Discloser for any purpose other than those provided for under the Agreement.</p>

                                    <b>Force Majeure: </b>
                                    <p>Neither party shall be liable by reason of any failure or delay in the performance of its obligations hereunder for any cause beyond the reasonable control of such party, including but not limited to electrical outages, failure of Internet service providers, riots, insurrection, war (or similar), fires, flood, earthquakes, explosions, and other acts of God.</p>
                                </div>
                            </li>
                            <li>
                                <div class="t-page"> privacy policy </div>
                                <div class="after-block">
                                    <p>We can be reached via our e-mail contact form.</p>
                                    <p>For each visitor to our Web page, our Web server automatically recognizes only the consumer's domain name, but not the e-mail address (where possible).</p>
                                    <p>We collect only the domain name, but not the e-mail address of visitors to our Web page. The information we collect is not shared with other organizations for commercial purposes. With respect to cookies: We may use cookies to ensure that visitors are not repeatedly sent the same banner ads.</p>
                                    <p>If you supply us with your postal address on-line you will only receive the information for which you provided us your address.</p>
                                    <p>With respect to Ad Servers: To try and bring you offers that are of interest to you, we have relationships with other companies that we allow to place ads on our Web pages. As a result of your visit to our site, ad server companies may collect non-personally identifiable information such as your domain type, your IP address, clickstream information, browser type, time and date, subject of advertisements clicked or scrolled over.</p>
                                    <p>From time to time, we may use customer information for new, unanticipated uses not previously disclosed in our privacy notice. If our information practices change at some time in the future we will use for these new purposes only data collected from the time of the policy change forward. Customers information will not be used for purposes other than those for which it was originally collected.</p>
                                    <p>The security of your personal information is important to us. When you enter sensitive information on our registration or order forms, we encrypt that information using secure socket layer technology (SSL). We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Although we use reasonable security to protect your personal information, we cannot guarantee its absolute security. If you feel that this site is not following its stated information policy, you may contact us at the above addresses or phone number.</p>
                                </div>
                            </li>
                            <li>
                                <div class="t-page"> contact details </div>
                                <div class="after-block">
                                    <p>Company Name: ADWISE AGENCY LTD</p>
                                    <p>Registration number: 140504 </p>
                                    <p>Address: 60, Vasileos Pavlou str., 2360, Agios Dometios, Nocosia, Cyprus</p>
                                    <p>Phone number: 22260828</p>
                                </div>
                            </li>
                            <li>
                                <div class="t-page"> services and pricing </div>
                                <div class="after-block">
                                    <b>Services and pricing</b>
                                    <p>You can see the list of products and services that we offer along with the relevant pricing by looking to the our  <a href="">mediakit</a> </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>