<section class="news" id="news">
    <div class="mbox">
        <div class="row">
            <div class="news-b col">
                <div class="title-col"><h3>news</h3></div>
                <a href="#" class="big-banner">
                    <div class="img"><img src="images/news-item.jpg" alt=""></div>
                    <div class="title"><p><b>Ecom21</b> - Riga international
                        forum</p></div>
                    <div class="txt"><p>Description is may be long, longer, and the longest. You can put a lot of god damn text in here. Yepp, that’s right.</p></div>
                    <div class="pub-date"><p>28 Jan 2016</p></div>
                </a>

                <div class="button-col">
                    <a href="#"><span>all news</span></a>
                </div>
            </div>
            <div class="event col">
                <div class="title-col"><h3>events</h3></div>
                <a href="#" class="banner">
                    <img src="images/event-items.jpg" alt="">
                </a>
                <div class="place"><img src="images/news-place.png" alt=""><span>Beijing, China</span></div>
                <div class="date"><img src="images/news-date.png" alt=""><span>2 Sep - 10 Sep</span></div>
                <div class="button">
                    <a href="#"><span>Arrange a meeting</span></a>
                </div>
                <div class="button-col">
                    <a href="#"><span>all events</span></a>
                </div>
            </div>
            <div class="careers col">
                <div class="title-col"><h3>careers</h3></div>
                <a href="#" class="banner">
                    <span class="txt">
                        <h5><p>media</p><p>buyer</p> </h5>
                    <p>account manager</p>
                    <p>  senior specialist</p>
                    </span>

                </a>
                <div class="place"><img src="images/news-place.png" alt=""><span>Moscow</span></div>
                <div class="date"><img src="images/news-date.png" alt=""><span>02.06.2016</span></div>
                <div class="button">
                    <a href="#"><span>Apply</span></a>
                </div>
                <div class="button-col">
                    <a href="#"><span>all careers</span></a>
                </div>
            </div>
        </div>

    </div>

</section>