<section class="news" id="news">
    <div class="mbox">
        <div class="row">
            <div class="news-b col">
                <a href="#" class="big-banner">
                    <div class="img"><img src="" alt=""></div>
                    <div class="title"><p>Ecom21 - Riga international
                        forum</p></div>
                    <div class="txt"><p>Description is may be long, longer, and the longest. You can put a lot of god damn text in here. Yepp, that’s right.</p></div>
                    <div class="pub-date"><p>28 Jan 2016</p></div>
                </a>

                <div class="button-col">
                    <a href="#"><span></span></a>
                </div>
            </div>
            <div class="event col">
                <a href="#" class="banner">
                    <img src="" alt="">
                </a>
                <div class="place"><p></p></div>
                <div class="date"><p></p></div>
                <div class="button">
                    <a href="#"><span></span></a>
                </div>
                <div class="button-col">
                    <a href="#"><span></span></a>
                </div>
            </div>
            <div class="careers col">
                <a href="#" class="banner">
                    <h5></h5>
                    <p></p>
                </a>
                <div class="place"><p></p></div>
                <div class="date"><p></p></div>
                <div class="button">
                    <a href="#"><span></span></a>
                </div>
                <div class="button-col">
                    <a href="#"><span></span></a>
                </div>
            </div>
        </div>

    </div>

</section>