<div class="news-page">
    <div class="mbox">
        <div class="news-page-wrap">
            <div class="news-page-top-images">
                <!-- 5 image -->
                <div class="news-images-massonry">
                    <div class="item-sizer"></div>
                    <div class="item item-1 item-height-big"><a href="images/news-massonry-1.jpg" class="item-wrap fancybox" rel="gallery1" title="Morning Godafoss (Brads5)"><img src="images/news-massonry-1.jpg" alt="" ></a></div>
                    <div class="item item-2 item-height"><a href="images/news-massonry-2-big.jpg" class="item-wrap fancybox"  rel="gallery1" title="Vertical - Special Edition! (cedarsphoto)"><img src="images/news-massonry-2.jpg" alt="" t></a></div>
                    <div class="item item-3 item-height"><a href="images/news-massonry-3-big.jpg" class="item-wrap fancybox"  rel="gallery1" title="Racing against the Protons (tom.leuzi)"><img src="images/news-massonry-3.jpg" alt="" ></a></div>
                    <div class="item item-4 item-height"><a href="images/news-massonry-4-big.jpg" class="item-wrap fancybox"  rel="gallery1" title="Lupines (Kiddi Einars)"><img src="images/news-massonry-4.jpg" alt="" t></a></div>
                    <div class="item item-5 item-height"><a href="images/news-massonry-5-big.jpg" class="item-wrap fancybox"  rel="gallery1" title="Lupines (Kiddi Einars)"><img src="images/news-massonry-5.jpg" alt="" ></a></div>
                </div>



            </div>

            <div class="news-page-title">
                <div class="news-page-title-wrap blue">
                    <p>Events</p>
                    <div class="news-page-title-second">
                        <h1><b>Barcelona Mobile World Congress.</b></h1>
                        <p>Mobile Is Everything</p>
                    </div>
                </div>
            </div>
            <div class="news-page-middle">
                <div class="news-page-aside">
                    <div class="news-page-aside-title">
                        Similar <a href="#"><span>Events:</span></a>
                    </div>
                    <div class="news-page-aside-items">
                        <div class="item">
                            <a href="#">
                                <span class="item-img"><img src="images/new-aside-img-1.jpg" alt=""></span>
                                <span class="item-title">Ecom21 - Riga international<br> forum</span>
                                <span class="item-date">18 February, 2016</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <span class="item-img"><img src="images/new-aside-img-2.jpg" alt=""></span>
                                <span class="item-title">Ecom21 - Riga international<br> forum</span>
                                <span class="item-date">18 February, 2016</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <span class="item-img"><img src="images/new-aside-img-3.jpg" alt=""></span>
                                <span class="item-title">Ecom21 - Riga international<br> forum</span>
                                <span class="item-date">18 February, 2016</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="news-page-text">
                    <div class="news-page-text-article ctext">
                        <p><strong>Et harum quidem rerum facilis est et expedita distinctio. </strong></p>
                        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
                        <blockquote>Temporibus autem quibusdam et aut officiis debitis aut rerum <strong>500,000</strong> necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. </blockquote>
                        <br>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>
                        <p><strong>Et harum quidem rerum facilis est et expedita distinctio. </strong></p>
                        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. Temporibus autem quibusdam et aut officiis debitis rerum 500,000 necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
                    </div>
                    <div class="social-conteiner">
                        <a href="#" target="_blank"><img src="images/footer-facebook.png"></a>
                        <a href="#" target="_blank"><img src="images/footer-in.png"></a>
                        <a href="#" target="_blank"><img src="images/footer-twitter.png"></a>
                    </div>
                    <div class="news-page-pagination">
                        <a href="#" class="button-prev"><span>Previous article</span></a>
                        <a href="#" class="button-next"><span>Next article</span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>