<div class="right-column-wrap news-list">

    <div class="news-list-items-wrap">

        <div class="news-list-item">
            <a href="#">
                <div class="news-list-img">
                    <img src="images/news-list-img1.jpg" alt="" />
                </div>
                <div class="news-list-item-content-main">
                    <div class="news-list-item-title">
                        <h6>
                            <span style="background-color:#78e5f2;"></span><b>Going East.</b> We introduce you the Asia forum
                        </h6>
                    </div>
                    <div class="news-list-item-content-wrap">
                        <div class="news-item-list-content">
                            <div class="news-item-list-text">Description is may be long, longer, and the longest. You can put a lot of god damn text in here. Yepp, that’s right.</div>
                            <div class="news-item-list-date">28 Jan 2016</div>
                        </div>
                        <div class="news-list-item-arrow">
                            <span></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="news-list-item">
            <a href="#">
                <div class="news-list-img">
                    <img src="images/news-list-img2.jpg" alt="" />
                </div>
                <div class="news-list-item-content-main">
                    <div class="news-list-item-title">
                        <h6>
                            <span style="background-color:#78e5f2;"></span><b>Ecom21</b> - Riga international forum
                        </h6>
                    </div>
                    <div class="news-list-item-content-wrap">
                        <div class="news-item-list-content">
                            <div class="news-item-list-text">Description is may be long, longer, and the longest. You can put a lot of god damn text in here. Yepp, that’s right.</div>
                            <div class="news-item-list-date">28 Jan 2016</div>
                        </div>
                        <div class="news-list-item-arrow">
                            <span></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="news-list-item">
            <a href="#">
                <div class="news-list-img">
                    <img src="images/news-list-img3.jpg" alt="" />
                </div>
                <div class="news-list-item-content-main">
                    <div class="news-list-item-title">
                        <h6>
                            <span style="background-color:#78e5f2;"></span><b>Huge sales!</b> Up to 50% on traffic forum
                        </h6>
                    </div>
                    <div class="news-list-item-content-wrap">
                        <div class="news-item-list-content">
                            <div class="news-item-list-text">Description is may be long, longer, and the longest. You can put a lot of god damn text in here. Yepp, that’s right.</div>
                            <div class="news-item-list-date">28 Jan 2016</div>
                        </div>
                        <div class="news-list-item-arrow">
                            <span></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="news-list-item">
            <a href="#">
                <div class="news-list-img">
                    <img src="images/news-list-img4.jpg" alt="" />
                </div>
                <div class="news-list-item-content-main">
                    <div class="news-list-item-title">
                        <h6>
                            <span style="background-color:#78e5f2;"></span><b>Europe casual connect 2015.</b> Review
                        </h6>
                    </div>
                    <div class="news-list-item-content-wrap">
                        <div class="news-item-list-content">
                            <div class="news-item-list-text">Description is may be long, longer, and the longest. You can put a lot of god damn text in here. Yepp, that’s right.</div>
                            <div class="news-item-list-date">28 Jan 2016</div>
                        </div>
                        <div class="news-list-item-arrow">
                            <span></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="paginator">
        <div class="prev">
            <span></span>
        </div>
        <div class="paginator-nav">
            <ul>
                <li>
                    <span>1</span>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#"4</a>
                    </li>
                </li>
            </ul>
        </div>
        <div class="next">
            <a href="#"></a>
        </div>
    </div>

</div>