<div class="right-column-wrap news-list">
    <div class="news-list-items-wrap"></div>
    <div class="paginator">
        <div class="prev">
            <span></span>
        </div>
        <div class="paginator-nav">
            <ul>
                <li>
                    <span></span>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </li>
            </ul>
        </div>
        <div class="next">
            <span></span>
        </div>
    </div>
</div>