<section class="partners" id="partners">
     <div class="mbox">
         <div class="title-filter cfix">
             <div class="title"><h2>partners</h2></div>
             <div class="menu-filter">
                 <form action="">
                     <ul>
                         <li>
                            <label>
                                <input type="radio" name="filter" value="all" checked>
                                <span class="txt">all</span>
                            </label>
                        </li>
                         <li>
                            <label>
                                <input type="radio" name="filter" value="gaming">
                                <span class="txt">gaming</span>
                            </label>
                        </li>
                         <li>
                            <label>
                                <input type="radio" name="filter" value="gambling">
                                <span class="txt">gambling</span>
                            </label>
                        </li>
                         <li>
                            <label>
                                <input type="radio" name="filter" value="dating">
                                <span class="txt">dating</span>
                            </label>
                        </li>
                         <li>
                            <label>
                                <input type="radio" name="filter" value="sport">
                                <span class="txt">sportbatting</span>
                            </label>
                        </li>
                         <li>
                            <label>
                                <input type="radio" name="filter" value="cinema">
                                <span class="txt">online cinema</span>
                            </label>
                        </li>
                     </ul>
                 </form>
             </div>
         </div>
         <div class="slider-wrap">
             <div class="slider-partners">

             </div>
         </div>
     </div>
</section>