<section class="partners" id="partners">
     <div class="mbox">
         <div class="title-filter cfix">

                 <div class="title"><h2>partners</h2></div>
                 <div class="menu-filter">
                     <form action="">
                         <ul>
                             <li><label><input type="radio" name="filter" value="all" checked><span class="txt">all</span></label></li>
                             <li><label><input type="radio" name="filter" value="gaming"><span class="txt">gaming</span></label></li>
                             <li><label><input type="radio" name="filter" value="gambling"><span class="txt">gambling</span></label></li>
                             <li><label><input type="radio" name="filter" value="dating"><span class="txt">dating</span></label></li>
                             <li><label><input type="radio" name="filter" value="sport"><span class="txt">sportbatting</span></label></li>
                             <li><label><input type="radio" name="filter" value="cinema"><span class="txt">online cinema</span></label></li>
                         </ul>


                     </form>
                 </div>

         </div>
    <div id="xy"></div>
         <div class="slider-wrap">
             <div class="slider-partners">

                     <a href="#" class="item filter-gaming filter-gambling filter-dating filter-sport filter-cinema"><img src="images/pit01.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-gaming"><img src="images/pit02.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-cinema"><img src="images/pit03.png" alt=""><span class="hover"></span></a>

                     <a href="#" class="item filter-sport"><img src="images/pit04.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-dating"><img src="images/pit05.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-cinema"><img src="images/pit06.png" alt=""><span class="hover"></span></a>

                     <a href="#" class="item filter-dating"><img src="images/pit07.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-gambling"><img src="images/pit08.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-cinema"><img src="images/pit09.png" alt=""><span class="hover"></span></a>

                     <a href="#" class="item filter-gaming"><img src="images/pit11.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-sport"><img src="images/pit12.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-gambling"><img src="images/pit13.png" alt=""><span class="hover"></span></a>

                     <a href="#" class="item filter-dating"><img src="images/pit10.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-gaming"><img src="images/pit14.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-gambling"><img src="images/pit15.png" alt=""><span class="hover"></span></a>

                     <a href="#" class="item filter-gaming filter-gambling filter-dating filter-sport filter-cinema"><img src="images/pit01.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-gaming"><img src="images/pit02.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-cinema"><img src="images/pit03.png" alt=""><span class="hover"></span></a>

                     <a href="#" class="item filter-sport"><img src="images/pit04.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-dating"><img src="images/pit05.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-cinema"><img src="images/pit06.png" alt=""><span class="hover"></span></a>

                     <a href="#" class="item filter-dating"><img src="images/pit07.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-gambling"><img src="images/pit08.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-cinema"><img src="images/pit09.png" alt=""><span class="hover"></span></a>

                     <a href="#" class="item filter-gaming"><img src="images/pit11.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-sport"><img src="images/pit12.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-gambling"><img src="images/pit13.png" alt=""><span class="hover"></span></a>

                     <a href="#" class="item filter-dating"><img src="images/pit10.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-gaming"><img src="images/pit14.png" alt=""><span class="hover"></span></a>
                     <a href="#" class="item filter-gambling"><img src="images/pit15.png" alt=""><span class="hover"></span></a>

         </div>


     </div>
</section>