<div class="right-column-wrap tabs-wrap services-main">
    <div class="creatives-wrap">

        <div class="tab-item global-performance show">

            <div class="wrap-info">
                <div class="text-wrap">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>

            <div class="wrap-info wrap-flex align-center">
                <div class="wrap-more-info">
                    <div class="more-info-num">50</div>
                    <div class="more-info-text">geo countries</div>
                </div>
                <div class="text-wrap">
                    <p>We operate globally, having more than <a href="/geo.html">50 countries</a> as geos to target. Our key strength is CIS region, but we also have strong positions in <a href="/geo.html">Asia</a> and Europe.</p>
                </div>
            </div>

        </div>

        <div class="tab-item exclusive-placements">

            <div class="wrap-info">
                <div class="text-wrap">
                    <p> We see a long-term partnership as our fundamental way of doing business. This all serves us with exclusive terms of cooperation with TOP web-platforms, consequently providing you with a benefit of a best prices on the market. </p>
                </div>
            </div>

            <div class="wrap-info wrap-flex align-center">
                <div class="wrap-more-info">
                    <div class="more-info-num">100</div>
                    <div class="more-info-text">exclusive websites</div>
                </div>
                <div class="text-wrap">
                    <p> <a href="/websites.html">We always make sure there are only TOP high-quality traffic websites among those joining our advertising network.</a></p>
                </div>
            </div>

            <div class="wrap-info">
                <div class="text-wrap">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>

        </div>

        <div class="tab-item asian-market-launch">

            <div class="wrap-info">
                <div class="text-wrap">
                    <p>We provide a full support of your online product in Asian market. We give you a turnkey solution with a full range of requisite features and services as: </p>
                </div>
            </div>

            <div class="wrap-info wrap-flex">

                <div class="icon">
                    <div class="icon-img">
                        <img src="images/service-icon.jpg" alt="" />
                    </div>
                    <div class="icon-title">market research</div>
                </div>

                <div class="icon">
                    <div class="icon-img">
                        <img src="images/service-icon.jpg" alt="" />
                    </div>
                    <div class="icon-title">product adaptation</div>
                </div>

                <div class="icon">
                    <div class="icon-img">
                        <img src="images/service-icon.jpg" alt="" />
                    </div>
                    <div class="icon-title">product licensing</div>
                </div>

                <div class="icon">
                    <div class="icon-img">
                        <img src="images/service-icon.jpg" alt="" />
                    </div>
                    <div class="icon-title">asian traffic</div>
                </div>

            </div>

            <div class="wrap-info">
                <div class="text-wrap">
                    <p>We devise the strategy of your product’s promotion and build a media plan, test and launch an advertising campaign.</p>
                    <p>And, what’s most important, we are in charge of your profit!</p>
                </div>
            </div>

        </div>

        <div class="tab-item web-mobile">

            <div class="wrap-info">
                <div class="text-wrap">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>

            <div class="wrap-info wrap-flex wrap-text-icon-row align-center">
                <div class="wrap-text-icon">
                    <img src="images/service-icon.jpg" alt="" />
                </div>
                <div class="text-wrap">
                    <p>No matter what your product is - mobile application or online service website - we will take care of its best performing advertising campaign, leaving no avenue unexplored.</p>
                </div>
            </div>

        </div>

        <div class="tab-item creatives-content">

            <div class="wrap-info">
                <div class="text-wrap">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>

            <div class="wrap-info wrap-flex wrap-text-icon-row align-center">
                <div class="wrap-text-icon">
                    <img src="images/service-icon.jpg" alt="" />
                </div>
                <div class="text-wrap">
                    <p>Visuals are crucial, so is the content. That’s exactly why we have passionate high-skilled experts working on this for you, supplying you with best performing creatives, optimizing them, recreating and endlessly improving your advertising campaign and its results.</p>
                </div>
            </div>

        </div>

        <div class="tab-item pr-reputation">

            <div class="wrap-info">
                <div class="text-wrap">
                    <p>Разрабатываем коммуникационые стратегии с учетом всех в факторов вашей сферы бизнеса, выстраиваем и поддерживаем значимые коммуникации.</p>
                </div>
            </div>

            <div class="wrap-info wrap-flex wrap-text-icon-row align-center">
                <div class="wrap-text-icon">
                    <img src="images/service-icon.jpg" alt="" />
                </div>
                <div class="text-wrap">
                    <h3>ideas</h3>
                    <p>Разработка и реализация креативных концепций, от идеи промо до коммуникационной стратегии бренда.</p>
                </div>
            </div>

            <div class="wrap-info wrap-flex wrap-text-icon-row align-center">
                <div class="wrap-text-icon">
                    <img src="images/service-icon.jpg" alt="" />
                </div>
                <div class="text-wrap">
                    <h3>communications (pr itself)</h3>
                    <p>Предоставление полного перечня PR-услуг, комплексная работа со СМИ и работа лидерами мнений.</p>
                </div>
            </div>

            <div class="wrap-info wrap-flex wrap-text-icon-row align-center">
                <div class="wrap-text-icon">
                    <img src="images/service-icon.jpg" alt="" />
                </div>
                <div class="text-wrap">
                    <h3>viral marketing</h3>
                    <p>Системное продвижение в соцсетях, работа с блогерами и стейкхолдерами, крупнейщих площадок - Facebook, Instagram, LiveJournal, VK.com, Twitter, OK).</p>
                </div>
            </div>

            <div class="wrap-info wrap-flex wrap-text-icon-row align-center">
                <div class="wrap-text-icon">
                    <img src="images/service-icon.jpg" alt="" />
                </div>
                <div class="text-wrap">
                    <h3>viral marketing</h3>
                    <p>Системное продвижение в соцсетях, работа с блогерами и стейкхолдерами, крупнейщих площадок - Facebook, Instagram, LiveJournal, VK.com, Twitter, OK).</p>
                </div>
            </div>

        </div>

    </div>
</div>