<div class="right-column-wrap tabs-wrap services-main">
    <div class="creatives-wrap">

        <div class="tab-item geos show">

            <div class="services-websites" data-services=0>

                <div class="left">

                    <div class="slider-wrap">
                        <div class="slider">

                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-datings-hover.png" alt="" />
                                </div>
                                <div class="slider-text">seedoff.net</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-movies-hover.png" alt="" />
                                </div>
                                <div class="slider-text">kinogo.co</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-entertaiment-hover.png" alt="" />
                                </div>
                                <div class="slider-text">torrentino.com</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-resourses-hover.png" alt="" />
                                </div>
                                <div class="slider-text">seasonvar.ru</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-games-hover.png" alt="" />
                                </div>
                                <div class="slider-text">zona.ru</div>
                            </div>

                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-datings-hover.png" alt="" />
                                </div>
                                <div class="slider-text">seedoff.net</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-movies-hover.png" alt="" />
                                </div>
                                <div class="slider-text">kinogo.co</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-entertaiment-hover.png" alt="" />
                                </div>
                                <div class="slider-text">torrentino.com</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-resourses-hover.png" alt="" />
                                </div>
                                <div class="slider-text">seasonvar.ru</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-games-hover.png" alt="" />
                                </div>
                                <div class="slider-text">zona.ru</div>
                            </div>

                        </div>
                    </div>

                    <div class="services-websites-count">
                        <div class="service-websites-num">100</div>
                        <div class="services-websites-text">exclusive <br /> websites</div>
                    </div>

                </div>

                <div class="right loading">

                    <div class="loading-circle">
                        <svg width="68" height="68" viewBox="0 0 68 68">
                            <circle class="loading-line" cx="34" cy="34" r="32"></circle>
                        </svg>
                    </div>

                    <div class="right-wrap">

                        <div class="white-block">

                            <div class="img-wrap">
                                <div class="img-item">
                                    <div class="img-item-wrap">
                                        <img src="images/services-websites-img1.png" alt="" />
                                    </div>
                                    <div class="img-item-text">banners</div>
                                </div>
                                <div class="img-item">
                                    <div class="img-item-wrap">
                                        <img src="images/services-websites-img2.png" alt="" />
                                    </div>
                                    <div class="img-item-text">brandings</div>
                                </div>
                                <div class="img-item">
                                    <div class="img-item-wrap">
                                        <img src="images/services-websites-img3.png" alt="" />
                                    </div>
                                    <div class="img-item-text">clickunders</div>
                                </div>
                                <div class="img-item">
                                    <div class="img-item-wrap">
                                        <img src="images/services-websites-img4.png" alt="" />
                                    </div>
                                    <div class="img-item-text">pre-rolls</div>
                                </div>
                                <div class="img-item">
                                    <div class="img-item-wrap">
                                        <img src="images/services-websites-img5.png" alt="" />
                                    </div>
                                    <div class="img-item-text">mobile</div>
                                </div>
                            </div>

                            <div class="value-wrap">

                                <div class="value-main">

                                    <div class="value-item people">

                                        <div class="value-item-img">
                                            <img src="images/value-people-img.png" alt="" />
                                        </div>
                                        <div class="value-item-text">350,000</div>

                                    </div>

                                    <div class="value-item female">

                                        <div class="value-item-img">
                                            <img src="images/value-female-img.png" alt="" />
                                        </div>
                                        <div class="value-item-text">100,000</div>

                                    </div>

                                    <div class="value-item male">

                                        <div class="value-item-img">
                                            <img src="images/value-male-img.png" alt="" />
                                        </div>
                                        <div class="value-item-text">150,000</div>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="right-text">We see a long-term partnership as our fundamental way of doing business. This all serves us with exclusive terms of cooperation with TOP web-platforms, consequently providing you with a benefit of a best prices on the market.</div>

                        <div class="right-button">
                            <a href="#" class="button button-cofee">
                                <span>give it a try</span>
                            </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="tab-item websites">

            <div class="services-websites" data-services=1>

                <div class="left">

                    <div class="slider-wrap">
                        <div class="slider">

                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-datings-hover.png" alt="" />
                                </div>
                                <div class="slider-text">seedoff.net</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-movies-hover.png" alt="" />
                                </div>
                                <div class="slider-text">kinogo.co</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-entertaiment-hover.png" alt="" />
                                </div>
                                <div class="slider-text">torrentino.com</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-resourses-hover.png" alt="" />
                                </div>
                                <div class="slider-text">seasonvar.ru</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-games-hover.png" alt="" />
                                </div>
                                <div class="slider-text">zona.ru</div>
                            </div>

                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-datings-hover.png" alt="" />
                                </div>
                                <div class="slider-text">seedoff.net</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-movies-hover.png" alt="" />
                                </div>
                                <div class="slider-text">kinogo.co</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-entertaiment-hover.png" alt="" />
                                </div>
                                <div class="slider-text">torrentino.com</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-resourses-hover.png" alt="" />
                                </div>
                                <div class="slider-text">seasonvar.ru</div>
                            </div>
                            <div class="slider-item">
                                <div class="slider-img">
                                    <img src="images/sites-games-hover.png" alt="" />
                                </div>
                                <div class="slider-text">zona.ru</div>
                            </div>

                        </div>
                    </div>

                    <div class="services-websites-count">
                        <div class="service-websites-num">100</div>
                        <div class="services-websites-text">exclusive <br /> websites</div>
                    </div>

                </div>

                <div class="right loading">

                    <div class="loading-circle">
                        <svg width="68" height="68" viewBox="0 0 68 68">
                            <circle class="loading-line" cx="34" cy="34" r="32"></circle>
                        </svg>
                    </div>

                    <div class="right-wrap">

                        <div class="white-block">

                            <div class="img-wrap">
                                <div class="img-item">
                                    <div class="img-item-wrap">
                                        <img src="images/services-websites-img1.png" alt="" />
                                    </div>
                                    <div class="img-item-text">banners</div>
                                </div>
                                <div class="img-item">
                                    <div class="img-item-wrap">
                                        <img src="images/services-websites-img2.png" alt="" />
                                    </div>
                                    <div class="img-item-text">brandings</div>
                                </div>
                                <div class="img-item">
                                    <div class="img-item-wrap">
                                        <img src="images/services-websites-img3.png" alt="" />
                                    </div>
                                    <div class="img-item-text">clickunders</div>
                                </div>
                                <div class="img-item">
                                    <div class="img-item-wrap">
                                        <img src="images/services-websites-img4.png" alt="" />
                                    </div>
                                    <div class="img-item-text">pre-rolls</div>
                                </div>
                                <div class="img-item">
                                    <div class="img-item-wrap">
                                        <img src="images/services-websites-img5.png" alt="" />
                                    </div>
                                    <div class="img-item-text">mobile</div>
                                </div>
                            </div>

                            <div class="value-wrap">

                                <div class="value-main">

                                    <div class="value-item people">

                                        <div class="value-item-img">
                                            <img src="images/value-people-img.png" alt="" />
                                        </div>
                                        <div class="value-item-text">350,000</div>

                                    </div>

                                    <div class="value-item female">

                                        <div class="value-item-img">
                                            <img src="images/value-female-img.png" alt="" />
                                        </div>
                                        <div class="value-item-text">100,000</div>

                                    </div>

                                    <div class="value-item male">

                                        <div class="value-item-img">
                                            <img src="images/value-male-img.png" alt="" />
                                        </div>
                                        <div class="value-item-text">150,000</div>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="right-text">We see a long-term partnership as our fundamental way of doing business. This all serves us with exclusive terms of cooperation with TOP web-platforms, consequently providing you with a benefit of a best prices on the market.</div>

                        <div class="right-button">
                            <a href="#" class="button button-cofee">
                                <span>give it a try</span>
                            </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="tab-item web-mobile">

            <div class="wrap-info">
                <div class="text-wrap">
                    <h4>versatility</h4>
                    <p>No matter what your product is - mobile application or online service website - we will take care of its best performing advertising campaign, leaving no avenue unexplored.</p>
                </div>
            </div>

            <div class="wrap-info wrap-flex wrap-text-icon-row align-top">
                <div class="wrap-text-icon">
                    <img src="images/service-web-img.png" alt="" />
                </div>
                <div class="text-wrap">
                    <ul>
                        <li>
                            <p>totam rem aperiam, eaque ipsa</p>
                        </li>
                        <li>
                            <p>illo inventore veritatis </p>
                        </li>
                        <li>
                            <p>et quasi architecto</p>
                        </li>
                        <li>
                            <p>beatae vitae dicta sunt explicabo</p>
                        </li>
                        <li>
                            <p>nemo enim ipsam voluptatem</p>
                        </li>
                        <li>
                            <p>voluptas sit aspernatur aut odit</p>
                        </li>
                    </ul>

                    <div class="button-wrap">
                        <a href="#" class="button button-blue">
                            <span>give it a try</span>
                        </a>
                    </div>

                </div>
            </div>

        </div>

        <div class="tab-item pr-reputation">

            <div class="wrap-info">
                <div class="text-wrap">
                    <p>Разрабатываем коммуникационые стратегии с учетом всех в факторов вашей сферы бизнеса, выстраиваем и поддерживаем значимые коммуникации.</p>
                </div>
            </div>

            <div class="wrap-info wrap-flex wrap-text-icon-row align-center">
                <div class="wrap-text-icon">
                    <img src="images/service-icon.jpg" alt="" />
                </div>
                <div class="text-wrap">
                    <h3>ideas</h3>
                    <p>Разработка и реализация креативных концепций, от идеи промо до коммуникационной стратегии бренда.</p>
                </div>
            </div>

            <div class="wrap-info wrap-flex wrap-text-icon-row align-center">
                <div class="wrap-text-icon">
                    <img src="images/service-icon.jpg" alt="" />
                </div>
                <div class="text-wrap">
                    <h3>communications (pr itself)</h3>
                    <p>Предоставление полного перечня PR-услуг, комплексная работа со СМИ и работа лидерами мнений.</p>
                </div>
            </div>

            <div class="wrap-info wrap-flex wrap-text-icon-row align-center">
                <div class="wrap-text-icon">
                    <img src="images/service-icon.jpg" alt="" />
                </div>
                <div class="text-wrap">
                    <h3>viral marketing</h3>
                    <p>Системное продвижение в соцсетях, работа с блогерами и стейкхолдерами, крупнейщих площадок - Facebook, Instagram, LiveJournal, VK.com, Twitter, OK).</p>
                </div>
            </div>

            <div class="wrap-info wrap-flex wrap-text-icon-row align-center">
                <div class="wrap-text-icon">
                    <img src="images/service-icon.jpg" alt="" />
                </div>
                <div class="text-wrap">
                    <h3>viral marketing</h3>
                    <p>Системное продвижение в соцсетях, работа с блогерами и стейкхолдерами, крупнейщих площадок - Facebook, Instagram, LiveJournal, VK.com, Twitter, OK).</p>
                </div>
            </div>

        </div>

    </div>
</div>