<div class="login">
    <div class="conteiner ">
        <div class="mbox-s blur-part">
            <div class="tabber">
                <div class="tab-row">
                    <div class="tab active">Join us</div>
                    <div class="tab">log in</div>
                </div>
                <div class="tab-content">
                    <div class="con active">
                        <div class="topest"></div>
                        <div class="get-in-t">
                            <div class="contact-form-title">
                                <p>becoming our partner meens getting more possibilities from the different sources, and what’s more important - boost your profit</p>
                            </div>

                            <div class="some-text">to get your login/passwort to the system  please contact us</div>
                            <div class="contact-form-row-submit cfix">
                                <div class="contact-form-item">
                                    <a href="/contacts.html" class="contact-submit">
                                        <span>get in touch</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="con">
                        <form action="ajax.php" name="login" class="login-form">
                            <div class="contact-form-title">
                                <h5> Welcome back! </h5>
                            </div>
                            <div class="contact-form-row cfix">
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input">
                                            <input type="text" name="contact_name" required="required" value="" placeholder="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input">
                                            <input type="password" name="contact_pass" required="required" value="" placeholder="Password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-row-submit cfix">
                                <div class="contact-form-item">
                                    <button type="submit" class="contact-submit">
                                        <span>enter</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>