<div class="right-column-wrap vacancy-wrap content-wrap">

    <div class="content-wrap-main">
        <div class="topper">
            <div class="ext">
                <img src="images/v1.svg" alt="" />
                <span>02.06.2016</span>
            </div>
            <div class="ext">
                <img src="images/v2.svg" alt="" />
                <span>Berlin, Germany</span>
            </div>
            <div class="ext">
                <img src="images/v3.svg" alt="" />
                <span>Full time</span>
            </div>
        </div>

        <ul class="scroll-content">
            <li>
                <div class="t-page"> Description: </div>
                <div class="after-block">
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </li>
            <li>
                <div class="t-page"> Responsibilities: </div>
                <div class="after-block">
                    <ul>
                        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </li>
                        <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, </li>
                        <li>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="t-page"> Skills: </div>
                <div class="after-block">
                    <ul>
                        <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,  </li>
                        <li>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </li>
                        <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, </li>
                        <li>Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="t-page"> Qualifications: </div>
                <div class="after-block">
                    <ul>
                        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </li>
                        <li>Eaque ipsa quae ab illo inventore veritatis et quasi architecto</li>
                        <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</li>
                    </ul>
                </div>
            </li>
        </ul>

        <div class="row-for-all">
            <div class="button-part">
                <a href="" class="buttoner">
                    <span>apply</span>
                </a>
            </div>
            <div class="soc-part">
                <div class="social-conteiner">
                    <a href="#" target="_blank">
                        <img src="images/footer-sl1-white.svg" alt="" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="images/footer-in-white.svg" alt="" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="images/footer-sl2-white.svg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
