<section class="video-block">
	<!-- <div class="insted-of-video">

	</div> -->
	<video id="videobcg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" poster="images/video-block-bg.jpg">
	     <source src="http://test168.sheep.fish/images/video/adw_vid_low.mp4" type="video/mp4">
	     <source src="movie.webm" type="video/webm">
	          Sorry, your browser does not support HTML5 video.
	</video>
	<div class="part-for-videoblur">
		<video id="videobcg-blur" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" poster="images/video-block-bg.jpg">
		     <source src="http://test168.sheep.fish/images/video/adw_vid_low.mp4" type="video/mp4">
		     <source src="movie.webm" type="video/webm">
	          Sorry, your browser does not support HTML5 video.
		</video>
	</div>
	<div class="heading-wrapper">

		<div class="mbox">
			<h2>worldwide<br />advertising network</h2>
		</div>
	</div>
	<div class="blur-part">
		<div class="mbox">
			<div class="backgroud-image-blur-wrapper">
				<div class="backgroud-image-blur" style="background: url('images/video-block-bg.jpg') no-repeat;">
				</div>
			</div>
			<div class="text-conteiner">
				<p>adwise.agency is an international advertising network.
				we provide a full range of online promotion services and boost your direct sales.
				</p>
			</div>
			<div class="more-link">
				<a href="">
					more
				</a>
			</div>
			<div class="button-wrapper">
				<button class="yellow-button">
					<span class="text-container">
						<p>become a partner</p>
					</span>
				</button>
				<button class="gray-button">
					<span class="text-container">
						<p>download mediakit</p>
					</span>
				</button>
			</div>
		</div>
	</div>
</section>