<section class="video-block">
	<!-- <div class="insted-of-video">

	</div> -->
	<img class="video-fon-img" src="images/video-block-bg-new.jpg" alt="" />
	<!-- <video id="videobcg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" poster="images/video-block-bg-new.jpg">
	     <source src="http://test168.sheep.fish/images/video/adw_vid_low.mp4" type="video/mp4">
	     <source src="movie.webm" type="video/webm">
	          Sorry, your browser does not support HTML5 video.
	</video> -->
	<div class="part-for-videoblur">
		<img class="video-fon-img" src="images/video-block-bg-new.jpg" alt="" />
		<!--
		<video id="videobcg-blur" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" poster="images/video-block-bg-new.jpg">
		     <source src="http://test168.sheep.fish/images/video/adw_vid_low.mp4" type="video/mp4">
		     <source src="movie.webm" type="video/webm">
	          Sorry, your browser does not support HTML5 video.
		</video>
		 -->
	</div>
	<div class="heading-wrapper">

		<div class="mbox">
			<h2>worldwide<br />advertising network</h2>
		</div>
	</div>
	<div class="blur-part">
		<div class="mbox">
			<div class="backgroud-image-blur-wrapper">
				<img class="mobile-video-fon-img" src="images/video-block-bg-new.jpg" alt="" />
				<!-- <div class="backgroud-image-blur" style="background-image: url('images/video-block-bg-new.jpg');"></div> -->
			</div>
			<div class="text-conteiner">
				<p>adwise.agency is an international advertising network.
				we provide a full range of online promotion services and boost your direct sales.
				</p>
			</div>
			<div class="more-link">
				<a href="/services.html">
					more
				</a>
			</div>
			<div class="button-wrapper">
				<a href="" class="yellow-button">
					<div class="text-container">
						<p>get mediaplan</p>
					</div>
				</a>
				<a href="" class="gray-button">
					<div class="text-container">
						<p>download mediakit</p>
					</div>
				</a>

			</div>
		</div>
	</div>
</section>