<section class="video-block">
	<div class="heading-wrapper">
		<div class="mbox">
			<h2>advertising network
			worldwide</h2>
		</div>
	</div>
	<div class="blur-part">
		<div class="mbox">
			<div class="text-conteiner">
				<p>adwise.agency is an international advertising network.
				we provide a full range of online promotion services and boost your direct sales.
				</p>
			</div>
			<div class="more-link">
				<a href="">
					more
				</a>
			</div>
			<button class="yellow-button"></button>
		</div>
	</div>
</section>