<section class="video-block">
	<!-- <video id="videobcg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0"> -->
	     <!-- <source src="http://ak3.picdn.net/shutterstock/videos/4207399/preview/stock-footage-man-hands-typing-on-a-computer-keyboard.mp4" type="video/mp4">
	     <source src="movie.webm" type="video/webm">
	          Sorry, your browser does not support HTML5 video. -->
	<!-- </video> -->
	<!-- <div class="part-for-videoblur">
		<video id="videobcg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
	     <source src="http://ak3.picdn.net/shutterstock/videos/4207399/preview/stock-footage-man-hands-typing-on-a-computer-keyboard.mp4" type="video/mp4">
	     <source src="movie.webm" type="video/webm">
	          Sorry, your browser does not support HTML5 video.
	</video>
	</div> -->
	<div class="heading-wrapper">
		<div class="mbox">
			<h2>advertising network
			worldwide</h2>
		</div>
	</div>
	<div class="blur-part">
		

		<div class="mbox">
			<div class="text-conteiner">
				<p>adwise.agency is an international advertising network.
				we provide a full range of online promotion services and boost your direct sales.
				</p>
			</div>
			<div class="more-link">
				<a href="">
					more
				</a>
			</div>
			<div class="button-wrapper">
				<button class="yellow-button">
					<span class="text-container">
						<p>become a partner</p>
					</span>
				</button>
			</div>
		</div>
	</div>
</section>