//= partials/head.html

<div class="global-wrapper">

    //= partials/header.html

    <!-- MAIN -->
    <div class="main asian-market-page parallax-page first-type">

        //= partials/blur-svg-filter.html

        <div class="parallax-block">
            <div class="parallax-images">
                <div class="parallax-image-top">
                    <img src="images/asian-market-parallax-1.jpg" alt="" />
                </div>
                <div class="parallax-image-bottom">
                    <img src="images/asian-market-parallax-2.jpg" alt="" />
                </div>
            </div>
            <div class="parallax-blur">
                <div class="parallax-image-top">
                    <img src="images/asian-market-parallax-1.jpg" alt="" />
                </div>
                <div class="parallax-image-bottom">
                    <img src="images/asian-market-parallax-2.jpg" alt="" />
                </div>
            </div>
        </div>

        //= partials/asian-market.html
    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
</body>
</html>