//= partials/head.html

<div class="global-wrapper">



    //= partials/header.html

    <!-- MAIN -->
    <div class="main careers-list-page parallax-page second-type">

        //= partials/blur-svg-filter.html

        <div class="parallax-block">
            <div class="parallax-images">
                <div class="parallax-image-top">
                    <img src="images/news-parallax-1-1.jpg" alt="" />
                </div>
            </div>
            <div class="parallax-blur">
                <div class="parallax-image-top">
                    <img src="images/news-parallax-1-1.jpg" alt="" />
                </div>
            </div>
        </div>

        <!-- add partials here -->
        <div class="mbox bigger-mbox">

            <div class="main-wrap">

                <div class="left-column">

                    <div class="column-list-wrap">

                        <div class="column-title">
                            <h2>News</h2>
                        </div>

                        <div class="column-list">
                            <div class="column-list-title">Categories:</div>
                            <div class="column-list-main">
                                <ul>
                                    <li>
                                        <a href="/news-list.html"><span style="background-color:#78e5f2;"></span>News</a>
                                    </li>
                                    <li>
                                        <a href="/events-list.html"><span style="background-color:#ebe252;"></span>Events</a>
                                    </li>
                                    <li>
                                        <a href="/careers-list.html" class="active"><span style="background-color:#62ec5e;"></span>Vacancies</a>
                                    </li>
                                    <li>
                                        <a href="/offers-list.html"><span style="background-color:#f063bd;"></span>Offers</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="right-column">

                    //= partials/careers-list.html

                </div>

            </div>

        </div>

    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
</body>
</html>