//= partials/head.html

<div class="global-wrapper creatives-global">
    //= partials/header.html

    <!-- MAIN -->
    <div class="main">
        <!-- add partials here -->
        <div class="mbox bigger-mbox">

            <div class="main-wrap tabs reverse">

                <div class="left-column">

                    <div class="column-list-wrap">

                        <div class="column-title">
                            <h1>Creatives & Production</h1>
                        </div>

                        <div class="column-list">
                            <div class="column-list-main">
                                <ul>
                                    <li class="active">
                                        <a href="#">banners</a>
                                    </li>
                                    <li>
                                        <a href="#">brandings</a>
                                    </li>
                                    <li>
                                        <a href="#">landings</a>
                                    </li>
                                    <li>
                                        <a href="#">pre-rolls</a>
                                    </li>
                                    <li>
                                        <a href="#">mobile</a>
                                    </li>
                                    <li>
                                        <a href="#">social</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="right-column">

                    //= partials/creatives.html

                </div>

            </div>

        </div>

    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
</body>
</html>