//= partials/head.html

<div class="global-wrapper">



    //= partials/header.html

    <!-- MAIN -->
    <div class="main event-page parallax-page first-type">

        //= partials/blur-svg-filter.html

        <div class="parallax-block first-type">
            <div class="parallax-images">
                <div class="parallax-image-top">
                    <img src="images/event-page-parallax-1-1.jpg" alt="" />
                </div>
            </div>
            <div class="parallax-blur">
                <div class="parallax-image-top">
                    <img src="images/event-page-parallax-1-1.jpg" alt="" />
                </div>
            </div>
        </div>

        //= partials/event-page.html

    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
</body>
</html>