//= partials/head.html

<div class="global-wrapper">

    //= partials/header.html

    <!-- MAIN -->
    <div class="main monetization-page parallax-page first-type">

        //= partials/blur-svg-filter.html

        <div class="parallax-block">
            <div class="parallax-images">
                <div class="parallax-image-top">
                    <img src="images/monitization-paralax-1-3.jpg" alt="" />
                </div>
            </div>
            <div class="parallax-blur">
                <div class="parallax-image-top">
                    <img src="images/monitization-paralax-1-4.jpg" alt="" />
                </div>
            </div>
        </div>

        //= partials/monetization.html

    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
</body>
</html>