//= partials/head.html

<div class="global-wrapper">

    //= partials/header.html

    <!-- MAIN -->
    <div class="main services-page parallax-page second-type tabs-parallax">

        //= partials/blur-svg-filter.html

        <div class="parallax-block second-type tabs-parallax">
            <div class="parallax-images">
                <div class="parallax-image-top">
                    <img src="images/services-parallax-1-1.jpg" alt="" class="active" />
                    <img src="images/services-parallax-1-2.jpg" alt="" />
                    <img src="images/services-parallax-1-3.jpg" alt="" />
                    <img src="images/services-parallax-1-4.jpg" alt="" />
                    <img src="images/services-parallax-1-5.jpg" alt="" />
                    <img src="images/services-parallax-1-6.jpg" alt="" />
                </div>
            </div>
            <div class="parallax-blur">
                <div class="parallax-image-top">
                    <img src="images/services-parallax-1-1.jpg" alt="" class="active" />
                    <img src="images/services-parallax-1-2.jpg" alt="" />
                    <img src="images/services-parallax-1-3.jpg" alt="" />
                    <img src="images/services-parallax-1-4.jpg" alt="" />
                    <img src="images/services-parallax-1-5.jpg" alt="" />
                    <img src="images/services-parallax-1-6.jpg" alt="" />
                </div>
            </div>
        </div>

        <div class="mbox bigger-mbox">

            <div class="main-wrap tabs"> <!-- TABS class dude ! -->

                <div class="left-column">

                    <div class="column-list-wrap">

                        <div class="column-title">
                            <h1>Services</h1>
                        </div>

                        <div class="column-list">
                            <div class="column-list-main">
                                <ul>
                                    <li class="active parallax-tab-item">
                                        <a href="#">global performance</a>
                                    </li>
                                    <li class="parallax-tab-item">
                                        <a href="#">exclusive placements</a>
                                    </li>
                                    <li class="parallax-tab-item">
                                        <a href="#">asian Market launch</a>
                                    </li>
                                    <li class="parallax-tab-item">
                                        <a href="#">web & mobile</a>
                                    </li>
                                    <li class="parallax-tab-item">
                                        <a href="#">creatives & content</a>
                                    </li>
                                    <li class="parallax-tab-item">
                                        <a href="#">pr & reputation</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="right-column">

                    //= partials/services.html

                </div>

            </div>

        </div>

    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
</body>
</html>