//= partials/head.html

<div class="global-wrapper">

    //= partials/header.html

    <!-- MAIN -->
    <div class="main vacancy-page parallax-page second-type">

        //= partials/blur-svg-filter.html

        <div class="parallax-block">
            <div class="parallax-images">
                <div class="parallax-image-top">
                    <img src="images/vacancy-page-parallax-1-1.jpg" alt="" />
                </div>
            </div>
            <div class="parallax-blur">
                <div class="parallax-image-top">
                    <img src="images/vacancy-page-parallax-1-1.jpg" alt="" />
                </div>
            </div>
        </div>

        <!-- add partials here -->
        <div class="mbox bigger-mbox">

            <div class="main-wrap">

                <div class="left-column">

                    <div class="column-list-wrap">

                        <div class="column-title">
                            <h2>account <b>manager</b></h2>
                        </div>

                        <div class="column-list">
                            <div class="column-list-main scroll-list">
                                <ul>
                                    <li>
                                        <p>description</p>
                                    </li>
                                    <li>
                                        <p>Responsibilities</p>
                                    </li>
                                    <li>
                                        <p>Skills</p>
                                    </li>
                                    <li>
                                        <p>Qualifications</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="right-column">

                    //= partials/vacancy.html

                </div>

            </div>

        </div>

    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
</body>
</html>